:ruby
  is_home_url       = current_page?(moments_path)

#header_outer

  %header#header{role:"banner"}

    %a#logo{href: "/", style: "#{@site.logo_style}; background-image: url(#{asset_path(@site.logo_image)})"}
      = @site.title

    %a.friend-requests-btn.popover-link{href: "#", class: is_home_url ? 'home-url' : ''}
      =t("friendships.requests title")
    = render partial: "shared/header/requests"

    %a.notifications-btn.popover-link{href: "#", class: is_home_url ? 'home-url' : ''}
      =t("notifications.title")
    = render partial: "shared/header/notifications"

    -# Sign in and user id
    %nav.sign_in
      %ul
        - if current_auth
          = cache "header_#{current_auth.username}_#{I18n.locale}", expires_in: YV::Caching.a_short_time do
            %li
              %a#header_profile_trigger{:href => '#'}
                %span
                  %img{src: current_avatar}
              #header_profile_menu
                %span.arrow
                %ol
                  %li
                    %a{href: "/settings"}
                      =t("settings")
                  %li
                    %a{href: user_path(current_auth.username)}
                      =t("profile")
                  %li
                    %a{href: sign_out_path}
                      =t("sign out")

        - else
          = cache "header_anon_#{I18n.locale}", expires_in: YV::Caching.a_short_time do
            %li
              %p= link_to t("sign in"), sign_in_path(redirect: params[:redirect]), class: "sign_in"
            %li
              %p= link_to t("sign up"), sign_up_path(redirect: params[:redirect]), class: "sign_in"

    .mobile
      - if content_for? :mobile_left_nav
        = yield :mobile_left_nav
      - else
        %a#slideToNav.nav_btn{href: 'javascript:void(0);'}
          View Navigation
      - if content_for? :title
        %h1#page_title= yield :title
      - if content_for? :title_link
        %h1#chapter_title= yield :title_link
      - if content_for? :mobile_right_nav
        %nav.right_nav
          - if content_for? :mobile_subscription_nav
            = yield :mobile_subscription_nav
          - else
            = yield :mobile_right_nav

    %form#header_search_form{action: search_path, method: "GET"}
      %input#header_search_input{type: 'search', name:"q", placeholder: t("search placeholder")}
      %input#header_search_button{type: 'submit', value: t("search")}
      - if params[:controller] == "search"
        -if params[:category]
          %input{type: 'hidden', name: "category", value: params[:category]}
        -if params[:version]
          %input{type: 'hidden', name: "version", value: params[:version]}
