= form_for @bookmark, as: :bookmark, url: @bookmark.id ? bookmark_path(@bookmark.id) : bookmarks_path, :html => {class: 'full_page_form'} do |f|
  - if @bookmark.errors.any?
    .form_errors
      =t("bookmarks.creation form errors")
      %ul
        - @bookmark.errors.each do |e|
          %li= e
  
  %p
    = f.label :title, t("bookmarks.form.title field")
    = f.text_field :title

  %p
    = f.label :references, t("bookmarks.form.reference field")
    - usfms = @bookmark.references.map {|refhash| refhash["usfm"]}
    = joined_usfms = usfms.join(",")
    = f.hidden_field :usfm_references, value: joined_usfms
  
  %p
    = f.label :labels, t("bookmarks.form.labels field")
    = f.text_field :labels, value: @bookmark.labels.join(",")

  %p.color
    = f.label :color, t("bookmarks.form.color field")
    = f.text_field :color, class: 'float_left'
    %div{:class => "color_picker_list", style: "width:auto; margin-top:-10px; margin-left:10px; margin-bottom: 20px"}
      %a{:class => "color_picker", :href =>"#"}
      %a{:class => "color_picker_holder", :href =>"#"}
  %p#bookmark_update_btn{style: "clear: left"}
    = f.submit(@bookmark.persisted? ? t("bookmarks.form.update button") : t("bookmarks.form.save button"))
