= form_for @bookmark do |f|
  - if @bookmark.errors.any?
    .form_errors
      The following error(s) prevented creation of your bookmark:
      %ul
        - @bookmark.errors.each do |e|
          %li= e
  %p
    = f.label :title, "Title:"
    = f.text_field :title
  %p
    = f.label :version, "Version:"
    = f.select :version, options_for_select(versions_dropdown, (@bookmark.version || nil)), {:prompt => '--Select--'}
  %p
    = f.label :reference, "Reference:"
    = f.text_field :reference
  %p
    = f.label :labels, "Labels (comma-separated):"
    = f.text_field :labels
  %p
    = f.label :highlight_color, "Highlight color (rrggbb format):"
    = f.text_field :highlight_color
  %p
    = f.submit(@bookmark.persisted? ? "Update" : "Save")
