= form_for @bookmark, as: :bookmark, url: @bookmark.id ? bookmark_path(@bookmark.id) : bookmarks_path, :html => {class: 'full_page_form'} do |f|
  - if @bookmark.errors.any?
    .form_errors
      =t("bookmarks.creation form errors")
      %ul
        - @bookmark.errors.each do |e|
          %li= e
  
  %p
    = f.label :title, t("bookmarks.form.title field")
    = f.text_field :title
  
  %p
    = f.label :labels, t("bookmarks.form.labels field")
    = f.text_field :labels, value: @bookmark.labels.join(",")

  - # PULLING color for now until we can add it back in properly.
  - #%p.color
  - #  = f.label :color, t("bookmarks.form.color field")
  - #  = f.text_field :color, class: 'float_left'
  - #  %div{:class => "color_picker_list", style: "width:auto; margin-top:-10px; margin-left:10px; margin-bottom: 20px; clear: both"}
  - #    %a{:class => "color_picker", :href =>"#"}

  :ruby    
    raw_refs = @bookmark.references
    usfms    = raw_refs.collect {|refhash| refhash["usfm"]} #{"human"=>"John 1:5", "version_id"=>1, "usfm"=>["JHN.1.5"]}
    human    = raw_refs.collect {|refhash| refhash["human"]}.join(", ")
  %p  
    = f.label :references, t("bookmarks.form.reference field")
    = f.hidden_field :usfm_references, value: usfms.join(",")
    %span.refs
      = human

  %p
    = f.submit(@bookmark.persisted? ? t("bookmarks.form.update button") : t("bookmarks.form.save button"), class: "action_button_green")
