- has_title = list_item.title

.moment
  .moment-top
    .moment-bm
      = image_tag "social-cap-bm.png", class: "moment-img"
      - if has_title
        %h3.moment-bm-title
          = list_item.title
          
      %ul.moment-bm-references

      
      - if list_item.labels.present?
        %p.moment-bm-labels
          - list_item.labels.each do |l|
            %a{href: user_bookmarks_path(@user, label: l.chomp), class: "moment-bm-labels-link"}
              = l
            

  -# share controls, dates, and comments
  .moment-btm
    .moment-actions
      %span.moment-actions-share
        <a href="#" title="Share this with friends or family">Share</a>

      %span.moment-actions-like
        <a href="#" title="Like this">Like</a>

      %span.moment-time
        = t('created ago', time_ago: time_ago_in_words(list_item.created_dt))

      %span.moment-actions-authed
        %span.moment-actions-edit
          = link_to("Edit" || t('bookmarks.edit'), edit_bookmark_path(list_item.id))
        %span.moment-actions-delete.confirm
          = link_to("Delete" || t('bookmarks.delete'), bookmark_path(list_item.id), "data-confirm-text" => t("bookmarks.confirm delete"), method: :delete)

    .moment-comments
      %span.moment-comments-likes
        <a href="#" title="Visit this user's profile page">Andy Knight</a> and <a href="#">12 others</a> like this.
      %ul.moment-comments-list
        %li.moment-comments-list-comment
          %span.moment-comments-list-avatar
            = image_tag "andy_avatar.png"
          %p.moment-comments-list-text
            <a href="#" title="Visit this user's profile page">Stu Pedaso</a> There?s a voice that keeps on calling me. Down the road, that?s where I?ll always be. Every stop I make, I make a new friend. Can?t stay for long, just turn around and I?m gone again.

    -# Britt will add the right code here...
