- @title = t('bookmarks.title')
- @sidebar = false

- content_for :title do
  = t('bookmarks.title')

%article.bookmarks
  %h1
    = t('users.my bookmarks')
  - unless @bookmarks.empty?
    .split_pane
      .sidebar
        %dl.labels_menu
          %dt
            = render "shared/labels_pagination", resource_list: @labels
            = t('bookmarks.labels')
          %dd{class: params[:label] == nil ? "highlighted" : ""}
            %b
              %a{href: user_bookmarks_path(@user)}= t('bookmarks.all')
      .content
        .profile-resource-list
          = render partial: "bookmarks/list_item", collection: @bookmarks, locals: {display: :icon}
        = render "shared/pagination", resource_list: @bookmarks
  - else
    %p= t('bookmarks.not found')
