- @title = 'Bookmarks'
- @sidebar = false

%article
  %h1= t('my bookmarks')
  - unless @bookmarks.empty?
    .split_pane
      .split_pane_sidebar
        %dl.labels_menu
          %dt
            = t('labels')
          %dd{class: params[:label] == nil ? "highlighted" : ""}
            %b
              %a{href: user_bookmarks_path(@user)}= t('all')
          - @labels.each do |l|
            %dd{class: params[:label] == l.label ? "highlighted" : ""}
              = link_to "#{l.label} (#{l.total})", user_bookmarks_path(@user, label: l.label)
      .split_pane_content
        %ul.big_list
          = render partial: "bookmarks/list_item", collection: @bookmarks, locals: {display: :icon}
        = render "shared/pagination", resource_list: @bookmarks
  - else
    %p= t('bookmarks.not found')
