- @title = 'Bookmarks'
- @sidebar = false


%article
  %h1= t('bookmarks')
  .split_pane
    .split_pane_sidebar
      %dl.labels_menu
        %dt
          = t('labels')
        %dd{class: params[:label] == nil ? "highlighted" : ""}
          %b
            %a{href: user_bookmarks_path(@user)}= t('all')
        - @labels.each do |l|
          %dd{class: params[:label] == l.label ? "highlighted" : ""}
            = link_to "#{l.label} (#{l.total})", user_bookmarks_path(@user.id, label: l.label)
    .split_pane_content
      %ul.big_list
        - @bookmarks.each do |b|
          %li
            .float_left
              %p.gutter_bottom_half
                %a{href: bible_path("#{b.reference.osis}.#{b.version}")}
                  - if b.title
                    %b= b.title
                    = " &mdash; #{b.reference.human}".html_safe
                  - else
                    %b= b.reference.human
              - if b.labels
                %p.small
                  - b.labels.split(",").each do |l|
                    - #TODO: split labels in model
                    %a{href: "#"}= l
                    - # TODO: Label link
            .float_right
              %p
                = link_to('edit', edit_user_bookmark_path(current_auth.user_id, b.id)) 
                = link_to('delete', bookmark_path(b.id), :confirm => 'Are you sure?', :method => :delete) 
                = b.created_as_date










%article
  - if current_auth
    - if request.path == user_bookmarks_path(current_user)
      %h1= "My Bookmarks"
      - if action_name != 'show_label'
        %dl.combo_button.float_right
          %dt View:
          %dd
            = link_to "All Bookmarks", bookmarks_path
          %dd.highlighted
            = link_to "My Bookmarks", user_bookmarks_path(current_user)
    - else
      %h1= "All Bookmarks"
      - if action_name != 'show_label'
        %dl.combo_button.float_right
          %dt View:
          %dd.highlighted
            = link_to "All Bookmarks", bookmarks_path
          %dd
            = link_to "My Bookmarks", user_bookmarks_path(current_user)
  - else
    %h1= "All Bookmarks"
  %h2= "(showing #{number_with_delimiter(25*(@bookmarks.page-1)+1)} - #{number_with_delimiter(25*@bookmarks.page)} of #{number_with_delimiter(@bookmarks.total)})"
  - if @bookmarks
    %ul.big_list
      - @bookmarks.each do |bookmark|
        %li{id: bookmark.id}
          %h5= link_to bookmark.title, bookmark_path(bookmark.id)
          %p.mute.small.negative_gutter_top_half= link_to_references([Reference.new(bookmark.reference)])
          - if bookmark.labels
            - bookmark.labels.split(',').each do |label|
              %span{style: 'background-color: yellow;'}= link_to(label, bookmarks_label_path(label: label, user_id: current_auth.user_id))
          %div{class: "date"}= bookmark.created_as_date.strftime("%m/%d/%Y")
          - if current_user && (current_auth.user_id.to_i == bookmark.user_id.to_i)
            = link_to('edit', edit_bookmark_path(bookmark.id)) 
            = link_to('delete this bookmark', bookmark_path(bookmark.id), :confirm => 'Are you sure?', :method => :delete) 
  - else
    %div{class: "none"}= "Sorry, no bookmarks here! Why don't you try W. H. Smith's?"
  - if current_auth
    %div
      = link_to "Create a bookmark", new_bookmark_path
