- @title = "#{t('meta.connections.index.title')} | #{@user.name || @user.username}"

- content_for :title do
  = t('meta.connections.index.title')

- content_for :sidebar do
  = render partial: "widgets/settings"

%article.profile
  = render partial: "connections/tabs"