=render partial: "/sidebars/sessions/new"

%article
  %h1= t("sign in to youversion")
  = form_tag sign_in_path do
    %p
      = label_tag :username, t("username or email prompt")
      %br
      = text_field_tag :username, params[:username], {class: "autofocus"}
    %p
      = label_tag :password, t("password prompt")
      %br
      = password_field_tag :password, params[:password]
      %br
      %span.small= link_to t('users.forgot password'), forgot_password_path
    %p
      = submit_tag t("sign in")
