- content_for :additional_meta do
  = render '/shared/hreflang'

- @title = "#{t("sign in to youversion")} | #{t('pages.home.features.study heading')} | #{t('pages.home.features.subscribe heading')} | #{t('pages.home.features.read heading')}"

- content_for :sidebar do
  =render partial: "/sidebars/sessions/new"

:ruby
  licensing_flow = params[:source] && params[:source] == "licenses"
  if licensing_flow
    @main_nav = false
    content_for :header do
      render partial: "shared/header/basic"
    end
  end

%article
  %h1= t("sign in to youversion")
  - if licensing_flow
    %p#license-notice= t("licenses.auth.login notice", signup:t("licenses.auth.signup link text")).html_safe
  = render partial: "sessions/signin"
