:ruby
  # Partial locals params
  # Required
  # - note : an instance of Note
  # - results: the results of attempting to save a note


= form_for note, as: :note, url: note.id ? note_path(note.id) : notes_path, html: {class: "full_page_form", "data-color-form" => true } do |f|
  = render(partial: "shared/form_errors", locals: {errors: results.errors}) unless results.nil?

  %p
    = f.label :title, t("notes.form.title field")
    = f.text_field :title, {style: "width: 100%;"}
  
  %p
    = f.label :content, t("notes.form.content field")
    = f.text_area :content, size: "30x10"


  %p
    = f.hidden_field :color, class:"selected-color"
    %label Highlight: (optional)
    .color_picker_list{"data-current-color" => note.color}
      .color_picker

  - # if reference_list is empty, no need to show these fields.  
  - # Causes an error otherwise when sending empty note[references]/note[version_id] params
  - unless note.usfm_references.blank?
    %p
      = f.label :reference, t("notes.form.reference field")
      = note.references.map{|r| r.usfm.join(", ")}.join(", ").html_safe
      = hidden_field_tag "note[usfm_references]", note.usfm_references
      = hidden_field_tag "note[version_id]", note.version_id
  %p
    = f.label :user_status, t("notes.form.status field")
    = f.select :user_status, options_for_select(object_status, note.user_status)
  %p
    = f.submit t("notes.form.save button"), {class: "action_button_green float_right"}
