= form_for @note, as: :note, url: @note.id ? note_path(@note.id) : notes_path, :html => {class: "full_page_form"} do |f|
  - if @note.errors.any?
    .form_errors
      =t("notes.creation form errors")
      %ul
        - @note.errors.each do |e|
          %li= e
  %p
    = f.label :title, t("notes.title field")
    = f.text_field :title, {style: "width: 100%;"}
  %div
    = f.label :content, t("notes.content field")
    %div{style: "margin: 20px 0;"}
      = f.text_area :content
  %p
    = f.label :reference, t("notes.reference field")
    = @note.reference_list.map{|r| link_to(r, bible_path(r))}.join(", ").html_safe
    = hidden_field_tag "note[references]", @note.reference_list.to_flat_usfm
  %p
    = f.label :user_status, t("notes.status field")
    = f.select :user_status, options_for_select(object_status, @note.user_status)
  %p
    .float_right= f.submit t("notes.save"), {class: "action_button_green"}
