= form_for @note do |f|
  - if @note.errors
    .form_errors
      =t("notes.creation form errors")
      %ul
        - @note.errors.each do |e|
          %li= e
  %p
    = f.label :title, t("notes.title field")
    = f.text_field :title
  %p
    = f.label :content, t("notes.content field")
    = f.text_area :content
  %p
    = f.label :version, t("notes.version field")
    = f.select :version, options_for_select(versions_dropdown, @note.version), {:prompt => t("notes.select from list")}
  %p
    = f.label :reference, t("notes.reference field")
    = f.text_field :reference
  %p
    = f.label :user_status, t("notes.status field")
    = f.select :user_status, options_for_select(object_status, @note.user_status)
  %p
    = f.submit t("notes.save")
