- display_avatar = display == :avatar

%li{id: list_item.id, class: "note"}
  - if display_avatar
    .avatar.float_left
      = link_to user_path(list_item.username) do
        = image_tag(list_item.user_avatar_url.px_48x48)

  %div{class: ("for_avatar" if display_avatar), style: ("margin-left: 60px;" if display_avatar)}
    %h3{class: list_item.user_status}
      = link_to( list_item.title, note_path(list_item.id))

    - if display_avatar
      %p.mute.small{style: "margin-top: -10px"}
        = link_to(list_item.username, user_path(list_item.username))

    %p= truncate list_item.content, length: 300, separator: " "

    - unless list_item.reference_list.empty?
      %p.references
        = link_to_references(list_item.reference_list)

    .edit_controls
      - if @me
        %span.date
          = t('created ago', time_ago: time_ago_in_words(list_item.created_as_date))
        %span.hidden
          = link_to(t('notes.edit'), edit_note_path(list_item.id))
        %span.confirm.hidden
          = link_to(t('notes.delete'), note_path(list_item.id), "data-confirm-text" => t("bookmarks.confirm delete"), :method => :delete)