#note
  %h1= "My Notes"
  - @notes.each do |note|
    %div{id: note.id}
      %div{class: "title"}= note.title
      %div{class: "content"}= note.content_text
      %div{class: "version"}= note.version
      %div{class: "reference"}= references_breakout(note.reference)
      %div{class: "status"}= note.user_status