- content_for :sidebar do

  / = render_cell :likes_list_widget, :display, likes: @likes, title: t("likes.likes"), user_id: @user_id
  = render '/shared/widget_ad_bible_app'

%article
  %h1= t("notes.all notes")
  - unless @notes.empty?
    %ul.big_list
      = render partial: "list_item", collection: @notes, locals: {display: :avatar}
    = render "shared/pagination", resource_list: @notes
  - else
    %div{class: "none"}= t("notes.not found")
