- content_for :sidebar do

  / = render_cell :likes_list_widget, :display, likes: @likes, title: t("likes.likes"), user_id: @user_id
  = render '/shared/widget_ad_bible_app'

%article
  - if current_auth
    - if request.path == user_notes_path(current_user)
      %h1= t("notes.my notes")
      %dl.combo_button.float_right
        %dt View:
        %dd
          = link_to t("notes.all notes"), notes_path
        %dd.highlighted
          = link_to t("notes.my notes"), user_notes_path(current_user)
    - else
      %h1= t("notes.all notes")
      %dl.combo_button.float_right
        %dt View:
        %dd.highlighted
          = link_to t("notes.all notes"), notes_path
        %dd
          = link_to t("notes.my notes"), user_notes_path(current_user)
  - else
    %h1= t("notes.all notes")
  - unless @notes.empty?
    %ul.big_list
      - @notes.each do |note|
        %li{id: note.id}
          %h5
            %a{href: note_path(note.id), class: ("highlight" if note.highlight_color), style: ("background-color: ##{note.highlight_color}" if note.highlight_color)}= note.title

          %p.mute.small.negative_gutter_top_half= link_to_references(note.reference_list) 
          %p= note.content
          %div{class: "status"}= note.user_status
    = render "shared/pagination", resource_list: @notes
  - else
    %div{class: "none"}= t("notes.not found")
