%article
  - if current_auth
    - if request.path == user_notes_path(current_user)
      %h1= "My Notes"
      %dl.combo_button.float_right
        %dt View:
        %dd
          = link_to "All Notes", notes_path
        %dd.highlighted
          = link_to "My Notes", user_notes_path(current_user)
    - else
      %h1= "All Notes"
      %dl.combo_button.float_right
        %dt View:
        %dd.highlighted
          = link_to "All Notes", notes_path
        %dd
          = link_to "My Notes", user_notes_path(current_user)
  - else
    %h1= "All Notes"
  - if @notes
    %ul.big_list
      - @notes.each do |note|
        %li{id: note.id}
          %h5= link_to note.title, note_path(note.id)
          %p.mute.small.negative_gutter_top_half= link_to_references(note.references) 
          %p= note.content_text
          %div{class: "status"}= note.user_status
  - else
    %div{class: "none"}= "Sorry, no notes here!"
