#note
  %h1= "My Notes"
  - @notes.each do |note|
    %div{id: "title"}= note.title
    %div{id: "content"}= note.content_text
    %div{id: "version"}= note.version
    %div{id: "reference"}= references_breakout(note.reference)
    %div{id: "status"}= note.user_status