#note
  %h1= "Show Note"
  - @notes.each do |note|
    %div{id: "title"}= note.title
    %div{id: "content"}= note.content
    %div{id: "version"}= note.version
    %div{id: "reference"}= note.reference
    %div{id: "status"}= note.status