- content_for :title do
  = t("notes.list title")

- content_for :sidebar do
  = render partial: "sidebars/notes/index"

%article.note
  - if current_auth
    %h1{class: ('float_left' if current_auth)}= t("notes.list title")
    %dl.combo_button.float_right
      %dt
      %dd{class: ('highlighted' unless @me)}
        = link_to t("notes.community notes"), all_notes_path
      %dd{class: ('highlighted' if @me)}
        = link_to t("users.my notes"), user_notes_path(current_user)
  - else
    %h1= "#{@reference_title} #{t('notes.list title')}"

  - unless @notes.empty?

    - # this link responsively displays only for mobile devices
    %a.mobile.action_button_green{href: new_note_path, style: "margin-top: 45px;"}
      %span.icon_plus= t('new note')

    %ul.resource_list
      = render partial: "notes/list_item", collection: @notes, locals: ({display: :avatar} unless @me)
    = render "shared/pagination", resource_list: @notes

  - else
    %div{class: "none"}= t("notes.not found")
