#note
  %h1= "Show Note"
  = label_tag :title, "Note Title:"
  = @note.title
  = label_tag :content, "Note Content:"
  = @note.content
  = label_tag :version, "Note Version:"
  = @note.version
  = label_tag :reference, "Note Reference:"
  = references_link_breakout(@note.reference)
  = label_tag :user_status, "Note Status:"
  = @note.user_status
  = link_to 'edit', edit_note_path(@note.id)
  = link_to 'delete this note', note_path(@note.id), :confirm => 'Are you sure?', :method => :delete