%article
  #note
    %h3= @note.title
    / %p.mute= link_to_references(@note.reference)
    %hr
    - @note.reference_list.each do |r|
      = link_to r, bible_path(r)
    %hr
    %p= raw(@note.content)
    %p
      = label_tag :user_status, t("notes.status field")
      = @note.user_status
      / = button_to(@note.likes(:user_id => current_user.id).nil? ? t("likes.like button text") : t("likes.unlike button text"), like_path(@note.id), :method => :put) if @note.user_status == 'public' && current_user
    - if current_auth && (current_auth.user_id.to_i == @note.user_id.to_i)
      = link_to(t("notes.edit"), edit_note_path(@note.id)) 
      .confirm= link_to(t("notes.delete"), note_path(@note.id), "data-confirm-text" => t("notes.confirm delete"), :method => :delete)
