#note
  %h1= "Show Note"
  = label_tag :title, "Title:"
  = @note.title
  = label_tag :content, "Content:"
  = @note.content
  = label_tag :version, "Version:"
  = @note.version
  = label_tag :reference, "Reference:"
  = @note.reference
  = label_tag :status, "Status:"
  = @note.status
