%li
  %a= link_to "#{item.reference.human} (#{item.version.upcase.match(/\A[^-_]*/)})", reference_path("#{item.reference.osis}.#{item.version}")
  %p.search_results= item.highlight ? item.highlight.html_safe : item.content