- item = plans_list_item
%li.plan
  %h3
    = link_to YouVersion::Resource.i18nize(item.name), plan_path("#{item.id}-#{item.slug}")
  %span.length
    = YouVersion::Resource.i18nize(item.formatted_length)
  %p
    = YouVersion::Resource.i18nize(item.about)