- item = users_list_item

%li.user
  - u = User.new(item)
  - if u.user_avatar_url
    %p.float_left.gutter_right_half
      %img{src: u.user_avatar_url.px_48x48, style:"margin-top:2px"}
  %p.float_left
    = link_to u.name || u.username, u
    %br
    %span.mute= u.location || u.country
  %div.float_right{style: "text-align: right;"}
    - if current_user && current_user.following_user_id_list.include?(u.id.to_i)
      %form{action: user_unfollow_path(u.username), method: "post"}
        %button{title: "#{t('users.unfollow')} #{u.name || u.username}"}= t('users.unfollow')
    - else
      %form{action: user_follow_path(u.username), method: "post"}
        %button{title: "#{t('users.follow')} #{u.name || u.username}"}= t('users.follow')

    - if current_user && current_user.follower_user_id_list.include?(u.id.to_i)
      %div.mute= t('user follows', user: u.username)
    - else
      %div.mute= t('user does not follow', user: u.username)
