- user = users_list_item
- friendship_pending_type = Friendships.pending_type_for(user, auth: current_auth)
- friendship_pending_type_name = 'not-friends'

%li.user.clearfix
  - if user.avatars.present? and user.avatars.md_avatar.present?
    %p.left
      = image_tag(user.avatars.md_avatar.url, size:"48x48", style:"margin-top:2px" )
  %p.left.name
    = link_to user.name || user.username, user, { target: '_self' }
    %br
    %span.mute= user.location || user.country
  .right
    - if friendship_pending_type.present?
      - if friendship_pending_type == :incoming
        - friendship_pending_type_name = "incoming"
      - elsif friendship_pending_type == :outgoing
        - friendship_pending_type_name = "outgoing"
      - elsif Friend.with? user, auth: current_auth
        - friendship_pending_type_name = "friends"
    .add-friend{"add-friend" => true, "user-id" => "#{user.id}", "friendship-status" => "#{friendship_pending_type_name}"}