:ruby
  @title    = @search.query
  @subtitle = "#{t("site search")} | #{t('meta.mobile.title')}"
  @sidebar  = false
  @category   = params[:category].downcase.to_sym
  @categories = [:bible,:users,:plans]
  html_attributes(id:"search-show")

- content_for :meta_description do
  = "#{t('searching.results for')} #{@title}"

%article
  .row
    .columns.medium-12
      %h1
        = t('searching.results for')
        %em= @title
  .row
    .columns.medium-3
      %ul.side-nav
        - @categories.each do |category|
          %li{class: @category == category ? "highlighted" : ""}
            = link_to( search_path(category: category, q: params[:q]), { target: "_self" }) do
              = t("searching.#{category}")

    .columns.medium-9
      .content
        - if @category == :bible
          = render partial: "bible_version_form", locals: {search: @search, category: @category}

        - if @results.present? && @results.count > 0
          %ul.search-result
            = render partial: "#{@category}_list_item", collection: @results

          :ruby
            url_locale = (params[:locale] == "en") ? nil : params[:locale]

          %ul.pagination.pad-row{"role" => "menubar", "aria-label" => "Pagination" }
            - if @results.prev_page || @results.prev_cursor || @page > 1
              %li.pagination_previous.arrow
                =link_to t("previous page"), url_for({q: @search.query, version_id: params[:version_id], category: params[:category],page: @results.prev_page || @page - 1, cursor: @results.prev_cursor, locale: params[:locale]}), { rel: 'prev', target: "_self" }
            - if @results.next_page || @results.next_cursor
              %li.pagination_next.arrow
                =link_to t("next page"), url_for({q: @search.query, version_id: params[:version_id], category: params[:category], page: @results.next_page, cursor: @results.next_cursor, locale: params[:locale]}), { rel: 'next', target: "_self" }

        - else
          #noresults= t("none found")