:ruby
  @title    = @query.query
  @subtitle = t("site search")
  @sidebar  = false
  html_attributes(id:"search-show")

%article
  %h1= @title
  - if @query.suggestion
    %p#suggestion
      = "(#{t('searching.suggestion html', suggestion_link: (link_to @query.suggestion, search_path(q: @query.suggestion, category: params[:category], version_id: params[:version_id])))})".html_safe

  .split_pane

    .sidebar
      %dl
        %dt
          %em.mute= t('searching.total results', total: number_with_delimiter(@query.total_results, :precision => 2).downcase).html_safe
        - Search.categories.each do |category|
          %dd{class: @query.category == category ? "highlighted" : ""}
            = link_to( search_path(category: category, q: params[:q])) do
              = t("searching.#{category}") << " (#{@query.raw_results[category].total || 0})"

    .content
      - if @query.category == :bible
        = render "bible_version_form"

      - if @query.result_list(@query.category).present?
        %ul.resource_list
          = render partial: "#{@query.category}_list_item", collection: @query.result_list(@query.category)
        = render "shared/pagination", resource_list: @query.result_list(@query.category)

      - else
        #noresults= t("none found")
