!!! 5

:ruby
  # TODO: Refactor these 'floating' @instance variables into something more concise/explicit
  container_classes = []
  container_classes << "no_sidebar" if @sidebar == false
  container_classes << "no_primary_nav" if @main_nav == false
  container_class_str = container_classes.join(" ")

%html{class: (@html_classes.join(' ') if @html_classes), "data-locale" => I18n.locale, "data-default-locale" => I18n.default_locale, id: @html_id, "data-logged-in" => logged_in?.to_s, "data-user-id" => logged_in? ? current_auth.user_id : nil, "data-user-name" => logged_in? ? current_auth.username : nil, "data-user-avatar" => logged_in? ? current_user.user_avatar_url["px_48x48"] : nil, "data-app-icon" => asset_path(localized_bible_icon(200)), "dir" => is_rtl? ? 'rtl' : 'ltr', "lang" => I18n.locale }

  %head{lang: I18n.locale}
    %meta{name: "fragment", content: "!"}
    %meta{ name: "google-signin-client_id", content: "#{Cfg.google_signin_client_id}" }
    %meta{ name: "google-signin-scope", content: "#{Cfg.google_signin_scope}" }
    %base{href: "/"}
    = csrf_meta_tags
    = render '/shared/footer_head'
    = render '/shared/head'
    = render '/shared/javascripts'

  %body{class: "c_#{params[:controller]} a_#{params[:action]}", onload: "init()"}
    = render '/shared/google_analytics'

    %a#top-of-page

    = content_for?(:header) ? yield(:header) : render("/shared/header/default")

    #current-ui-view{'ui-view' => ""}
      = content_for?(:main) ? yield(:main) : yield

    = content_for?(:lower_js_templates) ? yield(:lower_js_templates) : nil

    = render partial: '/shared/footer', locals: { footer_classes: container_class_str }
    = render partial: "/shared/js_templates"
    = render partial: "/shared/js_footer"

    = content_for?(:lower_javascript) ? yield(:lower_javascript) : nil

    #mode{style: 'display:none', onclick: 'document.getElementById("mode").style.display = "none";'}
      .show-for-small-only
        sm &lt;640<br>phone
      .show-for-medium-only
        md 641 &lt; 1024<br>tablet
      .show-for-large-only
        lg 1025 &lt; 1440<br>desktop
      .show-for-xlarge-only
        x-lg 1440 &lt; 1920<br>x-large
      .show-for-xxlarge-only
        xx-lg &gt; 1920<br>xx-large
