%html{class: (@html_classes.join(' ') if @html_classes), "data-locale" => I18n.locale, "data-default-locale" => I18n.default_locale, id: @html_id, "data-logged-in" => logged_in?.to_s, "data-user-id" => logged_in? ? current_auth.user_id : nil, "data-user-name" => logged_in? ? current_auth.username : nil, "data-user-avatar" => logged_in? ? current_user.user_avatar_url["px_48x48"] : nil, "data-app-icon" => asset_path(localized_bible_icon(200)), "dir" => is_rtl? ? 'rtl' : 'ltr', "lang" => I18n.locale }

  %head{lang: I18n.locale}
    %meta{name: "fragment", content: "!"}
    %meta{ name: "google-signin-client_id", content: "#{Cfg.google_signin_client_id}" }
    %meta{ name: "google-signin-scope", content: "#{Cfg.google_signin_scope}" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
    - if @title_tag.present?
      != @title_tag
    - else
      %title= title

    - if @node_meta_tags.present?
      != @node_meta_tags
    %base{href: "/"}
    = render partial: "shared/google_tag_manager"
    = content_for?(:stylesheets) ? yield(:stylesheets) : nil
    - if is_rtl?
      = stylesheet_link_tag "application-rtl"
    - else
      = stylesheet_link_tag "application"
    -# = render '/shared/head'
    -# = render '/shared/javascripts'

  %body{class: "c_#{params[:controller]} a_#{params[:action]}"}
    = render partial: '/shared/google_tag_manager_body'
    -# = content_for?(:header) ? yield(:header) : render("/shared/header/default")

    #current-ui-view{'ui-view' => ""}
      = content_for?(:main) ? yield(:main) : yield

    = content_for?(:lower_javascript) ? yield(:lower_javascript) : nil

    -# = render partial: '/shared/footer', locals: {footer_classes: container_class_str}
    -# = render partial: "/shared/js_footer"

    :javascript
      (function() {
      	var at = document.createElement('script'); at.type = 'text/javascript'; at.async = true;
      	at.src = '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54d2b9d73051838d&async=1';
      	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(at, s);
      })();

      var addthis_config = {
      	ui_language: "#{I18n.locale[0..1]}",
      	services_exclude : 'print,google,favorites',
      	services_expanded : '2tag,a97abi,adifni,amenme,aim,aolmail,azadegi,baidu,blogger,buffer,delicious,digg,evernote,fabulously40,facebook,gg,gmail,govn,googleplus,hootsuite,hotmail,iwiw,ketnooi,linkedin,mymailru,live,myspace,nujij,oyyla,pinterest_share,qzone,reddit,sinaweibo,stumbleupon,tumblr,twitter,viadeo,vk,werkenntwen,whatsapp,wordpress,yahoomail'
      }
      addthis_config.data_track_clickback = false;
