<%if (config.linkCss) { %>
	<link rel="stylesheet" href="<%=assetPrefix%>/stylesheets/<%= getAssetPath('style.css') %>" />
<% } %>
<div id="react-app"><%- appString %></div>
<script type="application/javascript">
	window.__LOCALE__ = <%- JSON.stringify(locale, function(key, val) {
		if (typeof val === 'function') {
			return val + '';
		}
		return val;
	}, 4) %>;
	window.__INITIAL_STATE__ = <%- JSON.stringify(initialState) %>;
	window.__ENV__ = "<%- environment %>";
	window.__RAILS_HOST__ = "<%- railsHost %>";
	window.__NODE_HOST__ = "<%- nodeHost %>";
</script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>