- ref_str = @presenter.reference_string
- book, chapter = ref_str.book, ref_str.chapter
- versions.each do |v|
  - version = v.abbreviation.downcase
  - version_id = v.id
  - version_meta = v.to_meta
  - url = "/bible/#{version_id}/#{book}.#{chapter}.#{version}"

  %tr{"data-version" => version_id, "data-abbrev" => version, "data-meta" => version_meta}
    %th
      %a{href: url }= v.human

    %td{class: v.audio_version? ? "audio" : ""}
      %a{href: url}
        %div= v.title