- @subtitle = '' # keeps end of title clean
- @meta_url = "https://#{request.host_with_port}#{request.fullpath}"
- bible_in_lang = ''

- content_for :meta_description do
  = "#{t('download ad.description copy', language_count: 900)} #{t('download ad.meta copy title')}"

.row
  .medium-8.columns
    = cache "single_language_#{@language}_#{I18n.locale}", expires_in: YV::Caching.a_very_long_time do
      %article
        %div#svp_share.addthis_sharing_toolbox{"data-url" => "#{@meta_url}", "style" => "float: right;"}
        %ul.no-bullet
          - @versions_by_lang.each do |lang, versions|
            - if versions.present?
              %li
                - meta_language = versions.first.attributes.language.local_name
                - meta_language = "#{meta_language} - #{versions.first.attributes.language.name}" if (versions.first.attributes.language.name.present? and not (meta_language.eql?(versions.first.attributes.language.name)))
                %ul.no_bullet
                  - show_lang_title = true
                  - versions.each do |version|
                    - if version.language.id.eql?(@language.to_s)
                      - if show_lang_title
                        - bible_in_lang = "#{t('languages.bible in', language_name: meta_language)}"
                        %h1
                          - @title    = "#{t('languages.download language', language_name: meta_language)}. #{t('meta.mobile.download or read')} #{t('mobile page.free overlay')}"
                          = bible_in_lang
                        - show_lang_title = false
                      %li
                        = link_to "#{version.title} (#{version.abbreviation.upcase})" , version_path(version), {target: "_self"}

  .medium-4.columns.show-for-medium-up.l-border
    = render partial: 'widgets/download_app', :locals => {show_sms: true}

= render '/shared/app_banner'

- content_for :additional_meta do
  - share_title = "#{bible_in_lang}"
  %meta{property: "og:title",       content: share_title }
  %meta{property: "og:url",         content: @meta_url }
  %meta{property: "og:description", content: "#{t('download ad.description copy', language_count: 900)} #{t('meta.mobile.download or read')}" }
- content_for :facebook_meta do
  %meta{property: "og:image", content: "#{url_for(asset_path('lang_share.png'))}"}

%script{type: "application/ld+json"}
  {
  "@context": "http://schema.org/",
  "@type": "MobileApplication",
  "name": "#{t('bible')}",
  "image": "#{url_for(image_path(localized_bible_icon(120)))}",
  "description": "#{t("meta.mobile.description")}",
  "aggregateRating":{
  "@type": "AggregateRating",
  "ratingValue": "4.6",
  "ratingCount": "1,368,430"
  },
  "offers":{
  "@type": "Offer",
  "price": "Free"
  }
  }
