- if @likes.empty?
  %p= @empty_message.html_safe
- else
  %ul.big_list
  - @likes.each do |like|
    %li{id: like.note_id}
      %h5= link_to like.note_title, note_path(like.note_id)
      %p.mute.small.negative_gutter_top_half= link_to_references(like.note.reference_list)
      %p= like.note.content
      %div{class: "status"}= like.note.user_status