%article
  - if request.path == user_likes_path(current_user)
    %h1= "My Likes"
    %dl.combo_button.float_right
      %dt View:
      %dd
        = link_to "All Likes", likes_path
      %dd.highlighted
        = link_to "My Likes", user_likes_path(current_user)
  - else
    %h1= "All Likes"
    %dl.combo_button.float_right
      %dt View:
      %dd.highlighted
        = link_to "All Likes", likes_path
      %dd
        = link_to "My Likes", user_likes_path(current_user)
  - if @likes
    %ul.big_list
      - @likes.each do |like|
        %li{id: like.id}
          %h5= link_to like.note_title, note_path(like.note_id)
          %p.mute.small.negative_gutter_top_half= link_to_references(like.note.references)
          %p= like.note.content_text
          %div{class: "status"}= like.note.user_status
  - else
    %div{class: "none"}= "Sorry, no likes here!"
