%ul.tabs
  %li{class: ("highlighted" if @show == "twitter")}
    %a{href: url_for({show: "twitter"})}
      = image_tag "twitter_logo_50x50.jpg"
  %li{class: ("highlighted" if @show == "facebook")}
    %a{href: url_for({show: "facebook"})}
      = image_tag "facebook_logo_50x50.jpg"
#connection_info
  - if @user.connections[@show]
    %p{style: "padding: 0 20px; margin-bottom: 8px; line-height: 1.3em"}
      = t('connected as user', connection: t(@show), username: @user.connections[@show].nickname)
      %span.confirm
        %a{:href => delete_connection_path(@show.to_sym), "data-confirm-text" => t('confirm danger'), "data-method" => "delete", :rel => "nofollow"}
          = t('remove connection')
    - if @users.present?
      %p{style: "padding: 0 20px; margin-bottom: 16px; line-height: 1.3em"}
        = t('connection users', connection: t(@show))
      = render partial: "list"
    - else
      %p{style: "padding: 0 20px"}
        = @users_error ? t('users.reset connection') : @empty_message
  - else
    = link_to t('connect to', connection: t(@show)), new_connection_path(@show.to_s, redirect: connections_path(show: @show.to_s))
