- content_for :sidebar do
  = render "shared/widget_sign_in"
  = render "shared/widget_account_benefits"

= form_for :user, url: sign_up_path do |f|
  - if @user.errors.any?
    .form_errors
      =t("users.creation form errors")
      %ul
        - @user.errors[:base].each do |e|
          %li= e
  %p
    = f.label :email, t("users.email address")
    %br
    = f.text_field :email, {class: "autofocus", type: "email"}
  %p
    = f.label :username, t("users.user name")
    %br
    = f.text_field :username
  %p
    = f.label :password, t("password prompt")
    %br
    = f.password_field :password
  %p
    = f.check_box :agree
    = f.label :agree, t("users.agreement", terms_link: link_to(t("users.terms and conditions"), terms_url())).html_safe
  %p
    = f.submit t("users.register")
