= form_for :user, url: sign_up_path(source: params[:source]) do |f|
  = render partial: "shared/form_errors", locals: {errors: @user.errors, heading: t("users.creation form errors")}
  %p
    = f.label :email, t("users.email address")
    %br
    = f.text_field :email, {class: "autofocus", type: "email", autocorrect: "off", autocapitalize: "off"}
  %p
    = f.label :username, t("users.user name")
    %br
    = f.text_field :username, {autocorrect: "off", autocapitalize: "off"}
  %p
    = f.label :password, t("password prompt")
    %br
    = f.password_field :password
  %p
    = f.check_box :agree
    = f.label :agree, t("users.agreement", terms_link: link_to(t("users.terms and conditions"), terms_url())).html_safe
  %p
    = f.submit t("users.register"), {class: "action_button_green"}
