= form_for :user, url: sign_up_path(source: params[:source], redirect: params[:redirect]) do |f|
  = render partial: "shared/form_errors", locals: {errors: @user.errors, heading: t("users.creation form errors")}

  = f.hidden_field :agree, {value: true}

  %p
    %span.alt-path= t('users.sign up alternate', sign_in_path: sign_in_path).html_safe
  %br

  %p
    = f.label :first_name, t("users.first name")
    = f.text_field :first_name, {autocorrect: "off", autocapitalize: "off"}

  %p
    = f.label :last_name, t("users.last name")
    = f.text_field :last_name, {autocorrect: "off", autocapitalize: "off"}

  %p
    = f.label :email, t("users.email address")
    = f.text_field :email, {class: "autofocus", type: "email", autocorrect: "off", autocapitalize: "off"}

  %p
    = f.label :password, t("password prompt")
    %span#pwd-message=t("users.password length")
    = f.password_field :password, :maxlength=>"32"
    -#%span#pwd-message=t("users.password length")
  %p.terms
    = t("users.agree", terms_link: terms_url(), privacy_link: privacy_path).html_safe
  %p
    = f.button t("users.sign up"), {class: "solid-button green padded"}

