- # Locals:
- # user, a user object (or user id?)

- # Used in:
- # Users layout
- # Friendship moments



- # This is me, show the edit button
- if current_user_is? user
  = link_to t("users.edit profile"), edit_user_path(user), class: "profile-hdr-btn action_button_blue", title: t("users.edit profile")

- else # Check to see if this person is in my pending lists

  - friendship_pending_type = Friendships.pending_type_for(user, auth: current_auth)
  - if friendship_pending_type.present?

    - if friendship_pending_type == :incoming # this person has requested friendship with me
      = form_tag friendships_url(user_id: user.id) do
        = button_tag t("friendships.form.accept request button"), class: 'profile-hdr-accept action_button_green action-add' 

      = form_tag friendship_url(user.id), method: "DELETE" do
        = button_tag t("friendships.form.ignore request button"), class: 'profile-hdr-deny action_button_grey action-ignore'

    - elsif friendship_pending_type == :outgoing  # I have requested friendship with this person
      %span.profile-hdr-pending
        = t("friendships.status.pending")

  - elsif Friend.with? user, auth: current_auth # I am friends with this user
    %span.profile-hdr-friend
      = t("friendships.status.friends")

  - elsif defined? current_user and current_user.enable_friendships?
    - # This user isn't me, they aren't in my pending lists, and I'm not friends with them,
    - # and I have my first & last name set show the Request friendship button
    = form_tag offer_friendships_path(user_id: user.id) , method: :post do
      = submit_tag t("friendships.form.add friend button"), class: "profile-hdr-addfriend action_button_green", title: t("friendships.form.add friend button title", user: user.name)
