.row.full.b-border.relative.profile-user-box
  .columns.large-8.profile-user
    %div
      %img.avatar_huge{src: (user.user_avatar_url["px_128x128"] if user.present? && user.user_avatar_url.present?)}
    %div
      %h1.strong.profile-hdr-name= user.name || user.username
      %ul.profile-hdr-info.inline-list
        - if user_name = user.username
          %li.profile-hdr-info-user
            = user_name
        - if user_location = user.location
          %li.profile-hdr-info-location
            = user_location
        - if user.website
          %li.profile-hdr-info-link
            = link_to user.website_human, user.website_url
      - if user.bio
        %p.profile-hdr-info-about
          = user.bio
  .profile-hdr-action
    = render partial: '/users/friend_button', locals: { user: user }
.row.full.b-border
  .columns.medium-12.profile-nav-box
    :ruby
      tabs = [
        {href: user_path(id: user.username),                            type: "activity"},
        {href: user_friends_path(user_id: user.username),               type: "friends"},
        {href: notes_user_path(id: user.username),                      type: "notes"},
        {href: bookmarks_user_path(id: user.username),                  type: "bookmarks"},
        {href: highlights_user_path(id: user.username),                 type: "highlights"},
        {href: images_user_path(id: user.username),                     type: "images"},
        {href: badges_user_path(id: user.username),                     type: "badges"}
      ]

      tabs_right = [
        {href: edit_user_path(user.username), type: "settings", string_key: "settings"}
      ]

      # find the highlight method in /app/helpers/users_helper.rb

    - tabs.each do |tab|
      - type, href = tab[:type], tab[:href]
      -# %li{class: "profile-tabs-#{type} #{highlight(href)}"}
      = link_to(t("users.profile.tab #{type}"), href, { class: current_page?(href) ? 'icon active' : 'icon', target: "_self" })

    - if current_user_is? user
      - tabs_right.each do |tab|
        - type, href = tab[:type], tab[:href]
        -# %li{class: "profile-tabs-#{type} #{highlight(href)}"}
        = link_to(t(tab[:string_key]), href, { class: current_page?(href) ? 'icon active' : 'icon', target: "_self" })