%ul.big_list
  - @users.each do |u|
    %li
      %p.float_left.gutter_right_half
        %img{src: u.user_avatar_url["px_48x48"]}
      %p.float_left
        = link_to u.name || u.username, u
        - if u.name
          %br
          %b= u.username
      %form.float_right.gutter_top_half{method: "post", onsubmit: "return false"}
        - if current_user.following_username_list.include? u.username
          %button{title: "#{t('users.unfollow')} #{u.name || u.username}"}= t('users.unfollow')
        - else
          %button{title: "#{t('users.follow')} #{u.name || u.username}"}= t('users.follow')

