- if @users.empty?
  %p= @empty_message.html_safe
- else
  %ul.friends_list
    - @users.each do |u|
      %li
        .avatar_box
          - if u.user_avatar_url
            %p.float_left.gutter_right_half
              %img.avatar_large{src: u.user_avatar_url.px_48x48}
        .gutter_top_half
          = link_to u.name || u.username, u
          - if u.name
            %br
            %b= u.username
          - if current_user && current_user.follower_user_id_list.include?(u.id.to_i)
            %p.mute{style: "font-size: 12px"}
              =t('users.following you')
          - else
            %p.mute{style: "font-size: 12px"}
              =t('users.not following you')
      -# Removing because button doesn't fit
        .btn_box{style: "text-align: right;"}
          - if current_user && current_user.following_user_id_list.include?(u.id.to_i)
            %form{action: user_unfollow_path(u.username), method: "post"}
              %button.action_button_grey{title: "#{t('users.unfollow')} #{u.name || u.username}"}= t('users.unfollow')
          - else
            %form{action: user_follow_path(u.username), method: "post"}
              %button{title: "#{t('users.follow')} #{u.name || u.username}"}= t('users.follow')
