- if @users.empty?
  %p= @empty_message.html_safe
- else
  %ul.big_list
    - @users.each do |u|
    - Rails.logger.debug "u is"
    - Rails.logger.debug u.inspect
    - Rails.logger.debug "u.user_avatar_url is"
    - Rails.logger.debug u.user_avatar_url
      %li
        - if u.user_avatar_url
          %p.float_left.gutter_right_half
            %img{src: u.user_avatar_url.px_48x48}
        %p.gutter_top_half.float_left
          = link_to u.name || u.username, u
          - if u.name
            %br
            %b= u.username
        %div.float_right{style: "text-align: right;"}
          - if current_user && current_user.following_user_id_list.include?(u.id.to_i)
            %form{action: user_unfollow_path(u.username), method: "post"}
              %button{title: "#{t('users.unfollow')} #{u.name || u.username}"}= t('users.unfollow')
          - else
            %form{action: user_follow_path(u.username), method: "post"}
              %button{title: "#{t('users.follow')} #{u.name || u.username}"}= t('users.follow')

          - if current_user && current_user.follower_user_id_list.include?(u.id.to_i)
            %div.mute= t('user follows', user: u.username)
          - else
            %div.mute= t('user does not follow', user: u.username)
