.header_tabs
  %a.activity{href: user_path(@user), class: ("highlighted" if selected == :recent_activity)}
    = t('users.recent activity')
  %a.friends{href: user_followers_path(@user), class: ("highlighted" if selected == :friends)}
    = t('friends')
  %a.notes{href: user_notes_path(@user), class: ("highlighted" if selected == :notes)}
    = t('notes title')
  %a.bookmarks{href: user_bookmarks_path(@user), class: ("highlighted" if selected == :bookmarks)}
    = t('bookmarks.title')
  %a.likes{href: user_likes_path(@user), class: ("highlighted" if selected == :likes)}
    = t('likes.likes')
  %a.badges{href: user_badges_path(@user), class: ("highlighted" if selected == :badges)}
    = t('badges title')

-#
  %ul.header_tabs
    %li{class: ("highlighted" if selected == :recent_activity)}
      %a{href: user_path(@user)}
        %span= t('users.recent activity')
    %li{class: ("highlighted" if selected == :friends)}
      %a{href: user_followers_path(@user)}
        %span= t('friends')
    %li{class: ("highlighted" if selected == :notes)}
      %a{href: user_notes_path(@user)}
        %span= t('notes title')
    %li{class: ("highlighted" if selected == :bookmarks)}
      %a{href: user_bookmarks_path(@user)}
        %span= t('bookmarks.title')
    %li{class: ("highlighted" if selected == :likes)}
      %a{href: user_likes_path(@user)}
        %span= t('likes.likes')
    %li{class: ("highlighted" if selected == :badges)}
      %a{href: user_badges_path(@user)}
        %span= t('badges title')
