- @sidebar = false
- @title = @me ? t('users.my bookmarks') : t('users.user bookmarks', user: @user.name || @user.username)
- content_for :title do
  = @title

- if current_user_is?(@user)
  - unless @labels.blank?
    .bookmarks-labels-wrap
      %h3.labels-heading
        = t("bookmarks.my labels")

      - unless @labels.blank?
        %ul.bookmarks-labels
          - @labels.each do |label_and_count|
            - label_name = label_and_count["label"].strip
            %li.label
              = link_to label_name, bookmarks_user_path(@user, label: label_name)

.social-feed-wrap{"data-username" => @user.username, "data-kind" => "bookmark"}
  :javascript
    $(document).ready(function(){
      var feed = new Moments.UserFeed();
    });

.profile-blank-slate.slate-bookmarks
  - if current_user_is? @user
    %h2
      = t("bookmarks.blank slate.heading")
    %p
      = t("bookmarks.blank slate.description")
  - else
    %h2
      = t("bookmarks.none user", username: @user.name)