- @title = "#{t('users.connected accounts')} | #{@user.name || @user.username}"

- content_for :sidebar do
  = render partial: "widgets/settings"

%p= t('connection marketing')

= render partial: "connections"



