- @title = "#{t('users.connected devices')} | #{@user.name || @user.username}"

%ul.big_list
  - if @devices.present?
    - @devices.each do |d|
      %li
        %h4= "#{d.vendor} #{d.model}"
        %p.mute.negative_gutter_top_half{style: 'margin-bottom: 0'}
          = d.os
          = t('registered ago', time_ago: time_ago_in_words(d.created_date))
        %div.confirm= link_to t('remove'), device_path(d.id), method: :delete, "data-confirm-text" => t('confirm danger')

  - else
    %li
      %h4= t('users.no devices')
      %p= t('users.no devices download copy').html_safe
