- @title = "#{t('users.connected devices')} | #{@user.name || @user.username}"

- content_for :sidebar do
  = render partial: "widgets/settings"


%article
  = render partial: "users/mobile_menu"

  - if @results
    = render partial: "shared/form_errors", locals: {errors: @results.errors }

  - if @devices.present?
    %ul.resource_list
      - @devices.each do |d|
        %li
          %h4= "#{d.vendor} #{d.model}"
          
          = link_to t('remove'), device_path(d.id), method: :delete, class: "action_button_blue float_right"  
          
          %p.mute{style: "float: left; width: 70%;"}
            = d.os
            %br
            = t('registered ago', time_ago: time_ago_in_words(d.created_dt))

          
  - else
    %h2= t('users.no devices')
    %p= t('users.no devices download copy').html_safe
