:ruby
  @title = t('users.edit profile')
  @setting_selected = :edit #for settings layout

%h2
  = @title

= form_for @user do |f|
  - unless @user.errors.blank?
    .form_errors
      =t("users.profile form errors")
    %ul
      - @user.errors.full_messages.each do |e|
        %li= e
  .row
    .columns.medium-12
      = f.label :first_name do
        = t('users.profile.first name')
        = f.text_field :first_name, required: true
  .row
    .columns.medium-12
      = f.label :last_name do 
        = t('users.profile.last name')
        = f.text_field :last_name, required: true
  .row
    .columns.medium-12
      = f.label :bio do
        = t('users.profile.bio')
        = f.text_area :bio, rows: 5, style: "width: 223px", :maxlength => 160, placeholder: t("160 character limit")
  .row
    .columns.medium-12
      = f.label :location do
        = t('users.profile.location')
        = f.text_field :location
  .row
    .columns.medium-12
      = f.label :postal_code do
        = t('users.profile.postal code')
        = f.text_field :postal_code
  .row
    .columns.medium-12
      = f.label :website do
        = t('users.profile.website')
        = f.text_field :website
  .row
    .columns.medium-12.country_select
      = f.label :country do
        = t('users.profile.country')
        = (f.country_select(:country, t('select dropdown'))).html_safe
  .row
    .columns.medium-12
      = f.label :timezone do
        = t('users.profile.timezone')
        = f.select :timezone, ActiveSupport::TimeZone::MAPPING.map { |k,v| ["#{k} (GMT #{ActiveSupport::TimeZone[v].utc_offset/3600})", v]}, {}, {style: "min-width: 395px"}
  .row
    .columns.medium-12
      = button_tag t('users.update profile') , {class: "solid-button green"}
