%article
  %h1= t('users.forgot password')
  %p= t('users.forgot password copy')
  = form_tag forgot_password_path do
    %p
      = text_field_tag :email
      - if current_auth
        = submit_tag t('users.send new password button'), class: "confirm", "data-confirm-text" => t('users.yes reset and log out')
      - else
        = submit_tag t('users.send new password button'), class: "confirm", "data-confirm-text" => t('users.yes reset')

