- @sidebar = false
- @title = @me ? t('users.my friends') : t('users.user friends', user: @user.name || @user.username)
- content_for :title do
  = @title

.profile-friends

  - if current_user_is? @user
    - if @friends.present?
      .friends-count
        %p.friends-count-have
          = "You have #{@friends.count} friends"
        %span.friends-count-canhave
          You can have as many as 150
        %span.friends-count-help
          Too many friends is bad for your health. Show some restraint, man!

        - # Web doesn't have a way to find friends at the moment
        - # apps only support uploading contact lists.
        - #%a{href: "#", class: "friends-count-find action_button_blue"} Find friends
    - else
      %h2
        No friends here!

  -# Friend list
  - unless @friends.blank?

    %ul.friend-directory
      - @friends.each do |friend|
        - avatar = friend.avatars.lg_avatar
        %li.friend-details
          = image_tag avatar.url, class: "friend-details-avatar"
          = link_to(friend.name, user_path(friend.to_param), class: "friend-details-name", title: t("user.profile.visit friend", friend: friend.name) )
          - if current_user_is? @user
            = link_to(t("friendships.form.remove friend button"),"#", class: "friend-details-delete", title: t("friendships.form.remove friend button title"))
