- @sidebar = false
- @title = @me ? t('users.my friends') : t('users.user friends', user: @user.name || @user.username)
- content_for :title do
  = @title


- if current_user_is? @user

  .profile-friends

    - if @friends.present?
      .friends-count
        %p.friends-count-have
          = "You have #{@friends.count} friends"
        %span.friends-count-canhave
          You can have as many as 150
        %span.friends-count-help
          Why only 150 friends? Unlike social networks, reading the Bible should lead to honest discussions with God and with friends and family who you trust the most.

        - # Web doesn't have a way to find friends at the moment
        - # apps only support uploading contact lists.
        - #%a{href: "#", class: "friends-count-find action_button_blue"} Find friends

    - if @friends.present? # show my friends
      = render partial: "friendships/friends_list", locals: {friends: @friends, user: @user}

    - else # I don't have friends
      %p.friends-none
        Share your moments in the Bible such as bookmarks, highlights, and notes with your closest friends and family.
        - #%a{href: "#", class: "friends-count-find action_button_blue"} Find friends

- elsif Friend.with? @user, auth: current_auth # We can only
  .profile-friends

    = render partial: "friendships/friends_list", locals: {friends: @friends, user: @user}

- else
  .profile-friends.slate-friends

    - # Not friends - We don't show a users friends publicly
    %h2.friends-private
      Hold up there, cowboy!
    %p
      You must be friends with this person in order to view their friends.