- @sidebar = false

.profile-friends

  -# Where we tell them how many friends they have

  .friends-count
    %p.friends-count-have
      You have 42 friends
    %p.friends-count-canhave
      You can have as many as 150
    %p.friends-count-help
      Too many friends is bad for your health. Show some restraint, man!
    %a{href: "#", class: "friends-count-find action_button_blue"}
      Find friends

  -# Friend requests

  .friend-requests
    %h2.friend-requests-title
      Friend Requests

    -# Friend info
    .friend-requests-info
      = image_tag "andy_avatar.png", class: "friend-requestor-avatar"
      %a{href: "#", class: "friend-requestor-name", title: "Visit this person's profile"}
        Terry Storch
      %span.friend-requestor-wants
        wants to be your friend
      %a{href: "#", class: "friend-requestor-accept", title: "Accept this friend request"}
        Accept
      %a{href: "#", class: "friend-requestor-deny", title: "Deny this friend request"}
        Deny
    -# Friend info
    .friend-requests-info
      = image_tag "andy_avatar.png", class: "friend-requestor-avatar"
      %a{href: "#", class: "friend-requestor-name", title: "Visit this person's profile"}
        Terry Storch
      %span.friend-requestor-wants
        wants to be your friend
      %a{href: "#", class: "friend-requestor-accept", title: "Accept this friend request"}
        Accept
      %a{href: "#", class: "friend-requestor-deny", title: "Deny this friend request"}
        Deny
    -# Friend info
    .friend-requests-info
      = image_tag "andy_avatar.png", class: "friend-requestor-avatar"
      %a{href: "#", class: "friend-requestor-name", title: "Visit this person's profile"}
        Terry Storch
      %span.friend-requestor-wants
        wants to be your friend
      %a{href: "#", class: "friend-requestor-accept", title: "Accept this friend request"}
        Accept
      %a{href: "#", class: "friend-requestor-deny", title: "Deny this friend request"}
        Deny

  -# Friend list

  .friend-directory
    %h2.friend-directory-title
      Friends

    -# Friend info
    .friend-details
      = image_tag "andy_avatar.png", class: "friend-details-avatar"
      %a{href: "#", class: "friend-details-name", title: "Visit this person's profile"}
        Terry Storch
      %a{href: "#", class: "friend-details-delete", title: "Remove this person from your friend list"}
        Remove this person
    -# Friend info
    .friend-details
      = image_tag "andy_avatar.png", class: "friend-details-avatar"
      %a{href: "#", class: "friend-details-name", title: "Visit this person's profile"}
        Terry Storch
      %a{href: "#", class: "friend-details-delete", title: "Remove this person from your friend list"}
        Remove this person
    -# Friend info
    .friend-details
      = image_tag "andy_avatar.png", class: "friend-details-avatar"
      %a{href: "#", class: "friend-details-name", title: "Visit this person's profile"}
        Terry Storch
      %a{href: "#", class: "friend-details-delete", title: "Remove this person from your friend list"}
        Remove this person
    -# Friend info
    .friend-details
      = image_tag "andy_avatar.png", class: "friend-details-avatar"
      %a{href: "#", class: "friend-details-name", title: "Visit this person's profile"}
        Terry Storch
      %a{href: "#", class: "friend-details-delete", title: "Remove this person from your friend list"}
        Remove this person
    -# Friend info
    .friend-details
      = image_tag "andy_avatar.png", class: "friend-details-avatar"
      %a{href: "#", class: "friend-details-name", title: "Visit this person's profile"}
        Terry Storch
      %a{href: "#", class: "friend-details-delete", title: "Remove this person from your friend list"}
        Remove this person
