- @header = true
- @header_title= t('sign up')

- content_for :header do
  %a#slideRight.nav_btn{:href => '#nav_primary'}
    View Navigation
  %h1#page_title= link_to t(@header_title)
  %span.right_btn_slice
  
%article
  %h1= t("users.sign up for an account")
  -if @blurb
    %hr
    %p= @blurb
    %hr
  %p= link_to t("registration.with facebook"), auth_connect_path(:facebook, redirect: facebook_sign_up_path), class: "action_button_blue"
  = render 'create_form'
  %p
    Or,
    %a{:href => sign_in_path}
      sign in
    if you've already registered.
