= render "/sidebars/notes/default"

- content_for :user_main do
  -if @me
    %dl.combo_button.float_right
      %dt
      %dd
        = link_to t("notes.community notes"), all_notes_path
      %dd.highlighted
        = link_to t("notes.my notes"), user_notes_path(current_user)
  - if @notes.empty?
    %p= t('no notes found', username: @user.username)
  - else
    %ul.big_list
      = render partial: 'notes/list_item', collection: @notes, locals: {display: :icon}
    = render partial: 'shared/pagination', locals: {resource_list: @notes}
