- @sidebar = false
- @title = @me ? t('users.my notes') : t('users.user notes', user: @user.name || @user.username)
- content_for :title do
  = @title


- if @notes.present?
  .social-feed-wrap
    .social-feed
      = render partial: "moments/cards", locals: {moments: @notes,comments_displayed: false}
  - if @notes.next_page
    = render partial: "shared/moments_load_more", locals: {resource: "notes", url_params: ["uid=#{@user.id}"]}
    
- else
  .profile-blank-slate.slate-notes
    - if current_user_is? @user
      %h2
        = t("notes.blank slate.heading")
      %p
        = t("notes.blank slate.description")
    - else
      %h2
        = t("notes.none user", username: @user.name)