- @title = "#{t('my notifications')} | #{@user.name || @user.username}"

- # because page can be accessed while logged in or logged out (with token) we use
- # current_user or fallback to params[:id]
= render partial: "users/mobile_menu"

%article
  = form_tag update_notifications_user_path( current_user || params[:id] ,token: params[:token]), method: :put do |n|
    - unless @settings.errors.blank?
      .form_errors
        =t("users.profile.notification errors")
      %ul
        - @settings.errors.full_messages.each do |err|
          %li= err

    :ruby
      settings = {
        "moments"       => "Moments info text (to be localized)",
        "comments"      => "Comments info text (to be localized)",
        "friendships"   => "Friendships info text (to be localized)",
        "reading_plans" => t('users.notifications.reading_plans'),
        "badges"        => t('users.notifications.badges'),
        "newsletter"    => t('users.notifications.newsletter'),
        "partners"      => t('users.notifications.publishing partners')
      }

    %ul.notification-settings-group
      - settings.each do |type,info|
        %li.settings-group-item
          = render partial: "notification_settings_group", locals: {type: type, info: info}

    %div
      %button{class: "action_button_green", action: "submit"}= t('users.notifications.update')
    - if params[:token]
      = hidden_field_tag :token, params[:token]
