- @title = "#{t('my notifications')} | #{@user.name || @user.username}"

- # because page can be accessed while logged in or logged out (with token) we use
- # current_user or fallback to params[:id]
= render partial: "users/mobile_menu"

%article
  = form_tag update_notifications_user_path( current_user || params[:id] ,token: params[:token]), method: :put do |n|
    - unless @settings.errors.blank?
      .form_errors
        =t("users.profile.notification errors")
      %ul
        - @settings.errors.full_messages.each do |err|
          %li= err

    %p
      = check_box_tag "settings[moments][email]", "1", @settings.notification_settings.moments.email
      = label_tag "settings[moments][email]", "Moments text"
      
    %p
      = check_box_tag "settings[comments][email]", "1", @settings.notification_settings.comments.email
      = label_tag "settings[comments][email]", "Comments text"
      
    %p
      = check_box_tag "settings[friendships][email]", "1", @settings.notification_settings.friendships.email
      = label_tag "settings[friendships][email]", "Friendships text"   

    %p
      = check_box_tag "settings[reading_plans][email]", "1", @settings.notification_settings.reading_plans.email
      = label_tag "settings[reading_plans][email]", t('users.notifications.reading_plans')      

    %p
      = check_box_tag "settings[badges][email]", "1", @settings.notification_settings.badges.email
      = label_tag "settings[badges][email]", t('users.notifications.badges')

    %p
      = check_box_tag "settings[newsletter][email]", "1", @settings.notification_settings.newsletter.email
      = label_tag "settings[newsletter][email]", t('users.notifications.newsletter')
    
    %p
      = check_box_tag "settings[partners][email]", "1", @settings.notification_settings.partners.email
      = label_tag "settings[partners][email]", t('users.notifications.publishing partners')

    %p
      %button{class: "action_button_green", action: "submit"}= t('users.notifications.update')
    - if params[:token]
      = hidden_field_tag :token, params[:token]
