- @title = "#{t('users.picture')} | #{@user.name || @user.username}"

-if @user.errors.any?
  .form_errors
    =t("picture_creation form errors")
    %ul
      - @user.errors.each do |e|
        %li= t("users.profile.#{e}")

- cache_bust = '?' + rand(1000000).to_s
%img{src: @user_avatar_urls['px_128x128'] + cache_bust}
- ['24x24', '48x48', '128x128', '512x512'].each do |s|
  %img{src: @user_avatar_urls["px_#{s}"] + cache_bust, style: 'display: none'}

= form_for @user, url: update_picture_user_path(@user) do |f|
  %p
    = f.label :image, t('users.profile.avatar file')
    %br
    = f.file_field :image
    %br
    = t('users.profile.avatar help')
  %p
    = button_tag t('my picture'), class: "action_button_green"


