- @title = "#{t('users.picture')} | #{@user.name || @user.username}"

%h3= t('users.profile.your current picture')
%p
  %img{src: @user.user_avatar_url["px_128x128"]}
= form_for @user, url: picture_path do |f|
  %p
    = f.label :image, t('users.profile.avatar file')
    %br
    = f.file_field :image
    %br
    = t('users.profile.avatar help')
  %p
    = f.submit t('my picture')


