- @title = t("users.terms.title", youversion: t("youversion"))
- @sidebar = false

/ attach bdc stylesheet for better mobile styling for now (kill me)
/ pull this code the second mobile web is live
- if @mobile
  - content_for :stylesheets do
    = stylesheet_link_tag "bdc_home"

%article
  %h1= t("users.terms.title", youversion: t("youversion"))
  %h4.mute= t("users.revised date", date: "6/5/2012")
  %hr
  - if I18n.locale != I18n.default_locale
    %p.disclaimer= t('users.terms.translation disclaimer')
    %hr
  - sections = ["acceptance", "description", "registration", "privacy", "account", "conduct", "international", "content", "contributions", "indemnity", "resale", "storage", "modifications", "termination", "dealings", "links", "rights", "limitation", "beneficiaries", "notice", "trademark", "copyright"]
  - opts = {home_link: link_to("http://youversion.com", "http://youversion.com"), terms_link: link_to("http://youversion.com/terms", "http://youversion.com/terms"), mailto_link: link_to("legal@youversion.com", "mailto:legal@youversion.com"), lifechurch_link: link_to("LifeChurch.tv", "http://www.lifechurch.tv"), line_break: "<br><br>", item: "<br><span style='margin-left:30px'></span>", newline: "<br>"}
  %ol
    - sections.each do |section|
      %h4
        %li
          = t("users.terms.#{section} title")
      .li_1= t("users.terms.#{section} text", opts).html_safe
      %br
  %h4= t("users.terms.general title")
  %p.li_1= t("users.terms.general text", opts).html_safe