- @title = t("users.terms.title", youversion: t("youversion"))
- @sidebar = false

%article 
  %h1= t("users.terms.title", youversion: t("youversion"))
  %h4.mute= t("users.revised date", date: "10/1/2007")
  %hr  
  - terms = ["acceptance", "description", "registration", "privacy", "account", "conduct", "interstate", "international", "content", "contributions", "indemnity", "resale", "storage", "modifications", "termination", "dealings", "links", "rights", "limitation", "exclusions", "beneficiaries", "notice", "trademark", "copyright", "general"]
  - opts = {home_link: link_to("http://youversion.com", "http://youversion.com"), terms_link: link_to("http://youversion.com/terms", "http://youversion.com/terms"), mailto_link: link_to("legal@youversion.com", "mailto:legal@youversion.com"), lifechurch_link: link_to("LifeChurch.tv", "http://www.lifechurch.tv"), line_break: "<br><br>", item: "<br><span style='margin-left:30px'></span>", newline: "<br>"}
  %ol
    - terms.each do |term|
      %h4
        %li
          = t("users.terms.#{term} title")
      %p.li_1= t("users.terms.#{term} text", opts).html_safe
