// PARAMETERS
// presenter: Reference Presenter (Presenter::Reference)
:ruby
  note      = presenter.note
  reference = presenter.reference
  locale = I18n.locale.to_s
  ajax_url = (locale == "en") ? "/bible/widgets/bookmarks" : "/#{locale}/bible/widgets/bookmarks"

- if locale == "en"
  = render '/campaigns/ad_100m' #render '/widgets/reader_help'
- else
  = render '/widgets/reader_help'

- if current_auth #only show bookmarks widget if authed
  #widget-bookmarks.widget.ajax_bookmarks{"data-ajax" => ajax_url}
    %h3.hd
      %span= t('recent bookmarks')
    %div.bd
      %p= t('bookmarks.loading')

= render_cell :notes_list_widget, :stub, title: t("notes.community notes"), reference: reference

= render 'widgets/download_app'