:ruby
  # PARAMETERS
  # presenter: Reference Presenter (Presenter::Reference)
  
  reference = presenter.reference


= render partial: 'widgets/find_friends'
= render partial: 'widgets/my_plans'
= render partial: 'widgets/plans_promo'
= render partial: 'sidebars/notes/stub', locals: {reference: reference}

= render partial: 'widgets/download_app'