:ruby
  # PARAMETERS
  # presenter: Reference Presenter (Presenter::Reference)
  
  reference = presenter.reference

= render partial: 'widgets/find_friends' unless presenter.verses.present?
%div#my_plans_placeholder
= render partial: 'widgets/featured_plans'
-#= render partial: 'sidebars/notes/stub', locals: {reference: reference} unless presenter.verses.present?
= render partial: 'sidebars/note/default'
= render partial: 'widgets/download_app'
= render partial: 'widgets/bible_app_for_kids' unless presenter.verses.present?