- html_attributes(id: "video-series",classes:"videos")
- publisher  = @video.publisher
- @sidebar = false
- @title = strip_tags(@video.title)

- content_for :title do
  = t(@video.title)

%article{ style: "background-image: url('#{@video.hero_image.url}')"}
  #title-bar
    %h1= @video.title.html_safe
    %span.publisher
      =link_to(@video.credits, publisher_video_path(id: @video.id))
    = render partial: "videos/share", locals: {video: @video}

  .inner
    %ul#episodes
      - @video.videos.each do |vid|
        - thumb = vid.small_image
        %li
          =link_to(video_path(vid), class: "video-name", title: vid.title) do
            = image_tag(thumb.url)
            .info
              %h3.title= vid.title
              %span.runtime= vid.runtime.gsub(/^0:[0]*/,"")

  = render partial: "videos/publisher_banner", locals: {publisher: publisher}
