- html_attributes(id:"video-show",classes:"videos")
- publisher = @video.publisher
- @sidebar = false

%article
  #title-bar
    %h1= @video.title

    %span.publisher
      =link_to(@video.credits, publisher_video_path(id: @video.id))

    %span.share
      =link_to("Share","#")

  %div#player

  :javascript
    jwplayer('player').setup({
      file: "#{@video.hls.url}",
      width: '908',
      height: '511',
      image: "#{@video.poster_image.url}"
    })

  .inner
    #details
      %div.refs
        - if @video.references
          %span
            Related Scripture

          %ul
            - @video.references.each do |ref|
              %li= link_to(ref.human, bible_path(Reference.new(ref.usfm, version: current_version)))
      %p.description= @video.description.html_safe

    #other
      - video_series = client_settings.video_series
      = link_to("All videos", video_series.blank? ? videos_path : series_video_path(video_series) , class: "action_button_green")
      = render partial: "videos/publisher_banner", locals: {publisher: publisher}
