= cache "#{@site}_footer_#{current_locale}", expires_in: YV::Caching.a_long_time do
  #site-footer
    %img.footer-logo{ src: asset_path("yv-logo.svg") }
    .row
      .large-2.medium-3.large-offset-2.columns
        %ul.side-nav
          %li.footer-label= t("youversion").to_s.upcase
          %li
            = link_to( t("about"), about_path, {target: "_self"})
          %li
            = link_to( t("versions link"), versions_path, {target: "_self"})
          %li
            = link_to( t("jobs"), "https://www.youversion.com/jobs")
          %li
            = link_to( t("now"), external_url(:now))
          %li
            = link_to( t("get support"), external_url(:support) )
          - if @site.allow_donate? && [:es, :"es-ES", :pt, :"pt-PT", :"pt", :tr].exclude?(current_locale)
            %li
              = link_to( t("donate title"), (@site.donate_path || donate_path), {target: "_self"})
          %li
            = link_to( t("privacy policy"), privacy_path, {target: "_self"})
          %li
            = link_to( t("terms"), terms_path, {target: "_self"})
          %li
            = link_to( t("press"), press_path, {target: "_self"})

      .large-2.medium-3.columns
        %ul.side-nav
          %li.footer-label= t("download").to_s.upcase
          %li
            = link_to( t("kids.bible app"), app_page_path, {target: "_self"} )
          %li
            = link_to( t("meta.kids_app.title"), kids_path, {target: "_self"} )

      .large-2.medium-3.columns
        %ul.side-nav
          %li.footer-label= t("follow us").to_s.upcase
          %li
            = link_to(t("blog"), blog_url(current_locale), class: "blog")
          %li
            = link_to("Facebook", "http://www.facebook.com/YouVersion", class: "fb")
          %li
            = link_to("Twitter", "http://www.twitter.com/youversion", class: "tw")
          %li
            = link_to("Instagram", "http://www.instagram.com/youversion", class: "ig")
          %li
            = link_to("Pinterest", "http://www.pinterest.com/lifechurchtv/youversion-the-bible-app/", class: "pn")
          %li
            = link_to("YouTube", "http://www.youtube.com/youversion", class: "yt")

      .large-2.medium-3.columns.end
        %ul.side-nav
          %li.footer-label= t("language").to_s.upcase
          %li
            = render partial: "shared/language_selector"

    - unless ENV['RACK_ENV'] =~ /production/i
      .row.full
        .medium-12.columns.text-right
          %small.environment
            ="Non-production deployment, pointing at: #{Cfg.try :api_root}"
