= cache "#{@site}_footer_#{current_locale}", expires_in: a_long_time do
  %footer#footer{role: "contentinfo", class: footer_classes}
    %p.links
      = link_to( t("now"),  external_url(:now))
      = link_to( t("about"),about_path)
      = link_to( t("jobs"), "http://blog.youversion.com/jobs")
      = link_to( t("privacy policy"), privacy_path)
      = link_to( t("terms"), terms_path)
      = link_to( t("press"), press_path)
      = link_to( t("get support"), external_url(:support) )

      - if @site.allow_donate?
        - unless [:es, :"es-ES", :pt, :"pt-PT", :"pt-BR", :tr].include?(current_locale)
          = link_to( t("donate title"), (@site.donate_path || donate_path))

    = render partial: "shared/language_selector"

    .copyright
      %span= "&copy; #{Date.today.year}".html_safe
      = link_to( t("lifechurch short url"),'http://www.lifechurch.tv')

  -unless ENV['RACK_ENV'] =~ /production/i
    %p.small.mute.float_right= "Non-production deployment, pointing at: #{Cfg.try :api_root}"
