= cache "#{@site}_footer_#{current_locale}", expires_in: YV::Caching.a_long_time do
  #site-footer
    %img.footer-logo{ src: "#{image_path('yv-logo.svg')}" }
    .row
      .large-2.medium-12.columns.large-offset-1.container
        %ul.side-nav
          %li.footer-label= t("mobile apps").to_s.upcase
        -#%li
        = link_to( image_tag(url_for(image_path(localized_bible_icon(48))), alt: "#{t('meta.mobile.title')} - #{t('mobile page.free overlay')}") , app_page_path, {target: "_self", class: "footer-icon"})
        -#%li
        = link_to( image_tag(image_path("BibleAppForKids-icon-48x48.png"), alt: "#{t("meta.kids_app.title")} - #{t('mobile page.free overlay')}") , kids_path, {target: "_self"})

      .large-2.medium-12.columns.container
        %ul.side-nav
          %li.footer-label= t("language").to_s.upcase
          %li
            = render partial: "shared/language_selector"

      .large-6.medium-12.columns.end.container
        %div.footer-label= t("more").to_s.upcase
        %ul.side-nav.floated
          %li
            = link_to( t("versions link"), versions_path, {target: "_self"})
          %li
            = link_to( t("languages link"), languages_path, {target: "_self"})
          %li
            = link_to( t("get support"), external_url(:support) )
          %li.spacer
          %li
            = link_to( t("events.events"), "/features/events", {target: "_self"})
          %li
            = link_to(t("blog"), blog_url(current_locale), class: "blog")
          - if @site.allow_donate? && [:es, :"es-ES", :pt, :"pt-PT", :"pt", :tr].exclude?(current_locale)
            %li
              = link_to( t("donate title"), (@site.donate_path || donate_path), {target: "_self"})
        %ul.side-nav.floated
          %li
            = link_to("Facebook", "http://www.facebook.com/YouVersion", class: "fb")
          %li
            = link_to("Twitter", "http://www.twitter.com/youversion", class: "tw")
          %li
            = link_to("Instagram", "http://www.instagram.com/youversion", class: "ig")
          %li.spacer
          %li
            = link_to("Pinterest", "http://www.pinterest.com/lifechurchtv/youversion-the-bible-app/", class: "pn")
          %li
            = link_to("YouTube", "http://www.youtube.com/youversion", class: "yt")
        %ul.side-nav.floated.last
          %li
            = link_to( t("about"), about_path, {target: "_self"})
          %li
            = link_to( t("jobs"), "https://www.youversion.com/jobs")
            -#https://www.youversion.com/volunteer
          %li
            = link_to( t("volunteer"), "https://lifechurch.formstack.com/forms/volunteer_interest_form")
          %li.spacer
          %li
            = link_to( t("press"), press_path, {target: "_self"})
          %li
            = link_to( t("privacy policy"), privacy_path, {target: "_self"})
          %li
            = link_to( t("terms"), terms_path, {target: "_self"})

    - unless ENV['RACK_ENV'] =~ /production/i
      .row.full
        .medium-12.columns.text-right
          %small.environment
            ="Non-production deployment, pointing at: #{Cfg.try :api_root}"
