:ruby
  title = ""
  title << @title << " | " if @title.present?
  title << (@subtitle || @site.title).to_s

%title= title
%meta{name: 'Description', content: content_for?(:meta_description) ? yield(:meta_description) : t("meta.site.description")}

= cache "head_meta_#{@site}_#{locale}", expires_in: YV::Caching.a_short_time do
  %link{rel: "shortcut icon", href:"/favicon.ico"}
  %meta{:charset => 'utf-8'}
  %meta{'http-equiv' => 'content-language', :content => I18n.locale.downcase}
  %meta{'http-equiv' => 'x-ua-compatible', :content => 'ie=edge, chrome=1'}
  %meta{property: "og:image", content: "#{url_for(asset_path('Bible-app-icon-english-200x200.png'))}"}
  %meta{name: "HandheldFriendly", content: "True"}
  %meta{name: "MobileOptimized", content: "320"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no"}
  %meta{name: "msApplication-ID", content: "af5f6405-7860-49a9-a6b4-a47381974e1d"}
  %meta{name: "msApplication-PackageFamilyName", content: "LifeChurch.tv.Bible_d1phjsdba8cbj"}

  = stylesheet_link_tag 'mobile', media: "all and (max-width: 768px)"
  = stylesheet_link_tag 'application', media: "all and (min-width: 769px)"
  = javascript_include_tag "/assets/jw/jwplayer.js"
  %script jwplayer.key="78lie9ccvQjr8uJGZzLhFeI1t94sTOzTqA3A9QpRvK0="

  /[if IE]
    %script{:src => "//html5shiv.googlecode.com/svn/trunk/html5.js"}
  /[if IE 9]
    = stylesheet_link_tag "ie9.css"
  /[if IE 8]
    = stylesheet_link_tag "ie8"
  /[if IE 7]
    = stylesheet_link_tag "ie7"

= content_for?(:additional_meta) ? yield(:additional_meta) : nil
= content_for?(:stylesheets) ? yield(:stylesheets) : nil

- @native_url = session[:native_url] if session[:native_url].present?
- @user_agent = session[:user_agent] if session[:user_agent].present?
- session.delete(:native_url) if session[:native_url].present?

- if @native_url.present?
  %meta{name: "native-url", content: @native_url}
  %link{rel: "alternate", href: "android-app://com.sirma.mobile.bible.android/youversion/#{@native_path}"}

  - if @user_agent == "ios"
    :javascript
      (function() {
        if (!document.querySelector) return;

        var metaNativeUrl = document.querySelector("meta[name=native-url]"),
            nativeUrl = metaNativeUrl && metaNativeUrl.content,
            nativeTimeout,
            launchTime = +new Date;

        if (!nativeUrl) return;        
        if (document.cookie && ~document.cookie.indexOf('noNative=true')) return;

        nativeTimeout = setTimeout(function() {
          var now = +new Date
            , oneMinute = 60000
          if (now - launchTime < 1500) {
            document.cookie = [
              'noNative=true',
              'expires=' + new Date(now + oneMinute).toUTCString()
            ].join('; ');
          }
        }, 1000);

        window.addEventListener('pagehide', function() {
          clearTimeout(nativeTimeout);
        });
        window.location = nativeUrl;
      }());

:javascript
  var isMobile = {
      BlackBerry: function() {
          var ua = navigator.userAgent;
          return (ua.indexOf("BlackBerry") >= 0) ? true : false;
      } // you can add more tests here for other phones
  };

  var ua = navigator.userAgent;
  if( isMobile.BlackBerry() ) {
      var SplitUA = ua.split("/");
      document.write("BB OS Version :: " + SplitUA[1].substring(0, 3));
  }