- title = @title || ""
- title << " | " if @title.present?
- title << (@subtitle || @site.title).to_s
%title= title

= cache "head_meta_#{@site}", expires_in: a_short_time do
  %meta{:charset => 'utf-8'}
  %meta{'http-equiv' => 'x-ua-compatible', :content => 'ie=edge, chrome=1'}
  %meta{property: "og:image", content: "#{url_for(asset_path('app-icon-english-512x512.png'))}"}
  %meta{name: 'Description', content: @site.description}
  %meta{name: "HandheldFriendly", content: "True"}
  %meta{name: "MobileOptimized", content: "320"}
  %meta{name: "viewport", content: "width=device-width, target-densitydpi=160, initial-scale=1.0"}

  = stylesheet_link_tag 'application'
  = stylesheet_link_tag 'wysiwyg/jquery.wysiwyg.css'
  = javascript_include_tag "/assets/jw/jwplayer.js"
  %script jwplayer.key="y1ZTdCD+8TKgQ3UfLyFkfiiKoA8DTT4nuuZ8R2J6b91kCGbT4pu19TDHIAg="


  /[if IE 9]
    = stylesheet_link_tag "ie9.css"
  /[if IE 8]
    = stylesheet_link_tag "ie8"
  /[if IE 7]
    = stylesheet_link_tag "ie7"

/[if IE]
  %script{:src => "//html5shiv.googlecode.com/svn/trunk/html5.js"}

- if content_for? :additional_meta
  = yield :additional_meta

- if content_for? :stylesheets
  = yield :stylesheets