%header#header{:role => 'banner'}
  %a#yv_logo{:href => '/'}
    =t("youversion")
  %nav
    %ul
      - if current_auth
        = cache "header_#{current_auth.username}", expires_in: 10.minutes do
          %li
            %a#header_profile_trigger{:href => '#'}
              %span
                %img{:src => current_avatar}
                =current_auth.username
            %ol#header_profile_menu
              %li
                %a{:href => profile_path}
                  =t("settings")
              %li
                %a{:href => user_path(current_auth.username)}
                  =t("profile")
              %li
                %a{:href => sign_out_path}
                  =t("sign out")
          %li
            %a{:href => connections_path}
              %span
                =t("find friends")
      - else
        = cache "header_anon", expires_in: 1.hour do
          %li
            %p= link_to t("sign in"), sign_in_path(redirect: params[:redirect]), :class=> "sign_in"
          %li
            %p= link_to t("sign up"), sign_up_path(redirect: params[:redirect]), :class=> "sign_in"

  %form#header_search_form{:action => search_path, method: "GET"}
    %input#header_search_input{:type => 'search', :name => "q", :placeholder => t("search placeholder")}
    %input#header_search_button{:type => 'submit', :value => t("search")}
    - if params[:controller] == "search" 
      -if params[:category]
        %input{:type => 'hidden', :name => "category", :value => params[:category]}
      -if params[:version]
        %input{:type => 'hidden', :name => "version", :value => params[:version]}
