:ruby
  title = ""
  title << @title if @title.present?
  title << " | " if @subtitle.present?
  title << (@subtitle || " | #{t('meta.mobile.title')} | #{@site.title}").to_s

  referrer = @_request.env["HTTP_REFERER"]
  isReturningFromLookinside = cookies[:referred_from_lookinside].present?


- if @title_tag.present?
  != @title_tag
- else
  %title= title

- if @node_meta_tags.present?
  != @node_meta_tags
- else
  %meta{name: 'Description', content: content_for?(:meta_description) ? yield(:meta_description) : t("meta.site.description")}
  - if content_for?(:twitter_meta)
    = yield :twitter_meta
  - else
    %meta{name: "twitter:image", content: url_for(image_path(localized_bible_icon(121)))}

  - if content_for?(:facebook_meta)
    = yield :facebook_meta
  - else
    %meta{property: "og:image", content: url_for(image_path(localized_bible_icon(200)))}

-if @render_rails_meta
  %meta{name: "twitter:image", content: url_for(image_path(localized_bible_icon(121)))}
  %meta{property: "og:image", content: url_for(image_path(localized_bible_icon(200)))}
  -#= render '/shared/hreflang'
  -# render legacy deeplink for reader separate from the one further down
  -#- ref_deep_link = "#{@presenter.reference.deep_link_path}"
  -#- deep_link = "youversion://#{ref_deep_link}" if ref_deep_link.present?

  -#- if ref_deep_link and ref_deep_link.present?
  -#  %link{rel: "alternate", href: "android-app://com.sirma.mobile.bible.android/youversion/#{ref_deep_link.gsub('version_id','version')}"}
  -#  %link{rel: "alternate", href: "ios-app://282935706/youversion/#{ref_deep_link}"}

  -#- if @presenter.present? and @presenter.verses.present?
  -#  -#- meta_description = truncate(get_verse_content(presenter.content), length: 170, separator: " ")
  -#  -#%title = truncate("#{@presenter.reference.human}, #{@presenter.version} #{meta_description}", length: 200, separator: " ")
  -#  - @subtitle = ''  # we don't want subtitle appended to single verse title so the verse gets more text space
  -#  %meta{name: "twitter:card",             content: "summary"}

    -#- if deep_link and deep_link.present?
    -#  %meta{name: "twitter:app:name:iphone",  content:"Bible"}
    -#  %meta{name: "twitter:app:id:iphone",    content:"282935706"}
    -#  %meta{name: "twitter:app:url:iphone",   content: deep_link}
    -#  %meta{name: "twitter:app:name:ipad",    content:"Bible"}
    -#  %meta{name: "twitter:app:id:ipad",      content:"282935706"}
    -#  %meta{name: "twitter:app:url:ipad",     content: deep_link}
    -#  %meta{name: "twitter:app:name:googleplay",  content:"Bible"}
    -#  %meta{name: "twitter:app:id:googleplay",    content:"com.sirma.mobile.bible.android"}
    -#  %meta{name: "twitter:app:url:googleplay",   content: deep_link }



= cache "head_meta_#{@site}_#{locale}", expires_in: YV::Caching.a_short_time do
  %link{rel: "shortcut icon", href:"/favicon.ico"}
  %meta{:charset => 'utf-8'}
  %meta{'http-equiv' => 'content-language', :content => I18n.locale.downcase}
  %meta{'http-equiv' => 'x-ua-compatible', :content => 'ie=edge, chrome=1'}
  %meta{name: "HandheldFriendly", content: "True"}
  %meta{name: "MobileOptimized", content: "320"}
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
  %meta{name: "msApplication-ID", content: "af5f6405-7860-49a9-a6b4-a47381974e1d"}
  %meta{name: "msApplication-PackageFamilyName", content: "LifeChurch.tv.Bible_d1phjsdba8cbj"}

  / = stylesheet_link_tag 'mobile', media: "all and (max-width: 768px)"
  / = stylesheet_link_tag 'application', media: "all and (min-width: 769px)"

- if is_rtl?
  = stylesheet_link_tag "application-rtl"
- else
  = stylesheet_link_tag "application"


  /[if IE]
  /  %script{:src => "//html5shiv.googlecode.com/svn/trunk/html5.js"}
  /[if IE 9]
  /  = stylesheet_link_tag "ie9.css"
  /[if IE 8]
  /  = stylesheet_link_tag "ie8"
  /[if IE 7]
  /  = stylesheet_link_tag "ie7"

= content_for?(:additional_meta) ? yield(:additional_meta) : nil
= content_for?(:stylesheets) ? yield(:stylesheets) : nil

- @native_url ||= session[:native_url] if session[:native_url].present?
- @user_agent ||= session[:user_agent] if session[:user_agent].present?
- session.delete(:native_url) if session[:native_url].present?

- if @native_url.present?
  %meta{name: "native-url", content: @native_url}
  - if I18n.locale == :en #hack until android supports multilingual deeplinking
    %link{rel: "alternate", href: "android-app://com.sirma.mobile.bible.android/youversion/#{@native_path}"}
    %link{rel: "alternate", href: "ios-app://282935706/youversion/#{@native_path}"}

  -# Removing this section of Javascript since iOS Universal Links Handles most functionality for us
  -#- if @user_agent == "ios"
  -#  :javascript
  -#    (function() {
  -#      if (!document.querySelector) return;
  -#
  -#      var metaNativeUrl = document.querySelector("meta[name=native-url]"),
  -#          nativeUrl = metaNativeUrl && metaNativeUrl.content,
  -#          nativeTimeout,
  -#          launchTime = +new Date;
  -#
  -#      if (!nativeUrl) return;
  -#      if (document.cookie && ~document.cookie.indexOf('noNative=true')) return;
  -#
  -#      nativeTimeout = setTimeout(function() {
  -#        var now = +new Date
  -#          , tenMinutes = 600000
  -#        if (now - launchTime < 1500) {
  -#          document.cookie = [
  -#            'noNative=true',
  -#            'expires=' + new Date(now + tenMinutes).toUTCString()
  -#          ].join('; ');
  -#        }
  -#      }, 1000);
  -#
  -#      window.addEventListener('pagehide', function() {
  -#        clearTimeout(nativeTimeout);
  -#      });
  -#      window.location = nativeUrl;
  -#    }());






- if (referrer and referrer.include?('lookinside.bible')) or isReturningFromLookinside
  :javascript
    var now = +new Date;
    var fourteenDaysish = 1200000000;
    document.cookie = [
      'referred_from_lookinside=true',
      'expires=' + new Date(now + fourteenDaysish).toUTCString(),
      'path=/'
    ].join('; ');
    var utag_data = {
      site_environment: "youversion",
    };
    (function(a,b,c,d){
    a='//tags.tiqcdn.com/utag/lookinside/main/prod/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
