-#exclude reading plan pages from hreflang tags
- unless request.fullpath.include? "reading-plans/"
  - canonicalHref = nil
  - I18n.available_locales.each do |a_locale|
    - locale_dir = a_locale.to_s.eql?("en") ? '' : '/' + a_locale.to_s
    - fullpath = request.fullpath

    -# this section is for reader pages where a verse reference is present
    - if defined?(presenter) and presenter.present? and presenter.respond_to?(:reference) and presenter.reference.present?
      - fullpath = "/bible#{get_localized_reference_link(presenter.reference, a_locale)}"
      - showCanonical = true  #only for reader pages where there is a verse reference
    - href = "#{request.protocol}#{request.host_with_port}#{locale_dir}#{fullpath}"

    - if showCanonical
      - if a_locale.to_s.eql?("en") and canonicalHref.nil?
        - canonicalHref = href    #used for all versions not currently localized
      - canonical_locale = a_locale.to_s == "pt" ? "pt-BR" : a_locale.to_s  # so that pt-BR versions will match
      - if Version.find(presenter.reference.version).language.tag == canonical_locale
        - canonicalHref = href   #used for versions that are localized (eg.  Afrikaans versions canonical url is af)
    - else
      %link{href: href, rel: "alternate", hreflang: "#{a_locale.downcase}"}
      - if a_locale.to_s.eql?("en")
        %link{href: href, rel: "alternate", hreflang: "x-default"}

  - unless canonicalHref.nil?
    %link{rel: "canonical", href: canonicalHref}

