- if content_for? :typekit_javascripts
  = yield :typekit_javascripts

= javascript_include_tag "application"

-if "en" != I18n.locale.to_s
  = javascript_include_tag "i18n/en", async: true
= javascript_include_tag "i18n/#{I18n.locale}", async: true

- if content_for? :javascripts
  = yield :javascripts

