- if is_reader_page?
  :ruby
    authed_form_method = logged_in? ? "post" : "get"
    authed_highlight_form_action = logged_in? ? highlights_path : sign_up_path
    authed_bookmark_form_action = logged_in? ? bookmarks_path : sign_up_path

  %script#pane-highlight-tmpl{type:"text/x-handlebars-template"}
    :plain
      <dt class="highlight" data-pane-type="highlight">
        #{t("highlight")}
        <div class="arrow"></div>
      </dt>
      <dd class="highlight-pane" id="highlight-pane">
        <div class="pane">
          <p class="verse-actions-success-message success" style="display:none;">
            #{t("highlights.create success")}
          </p>
          <form action="#{authed_highlight_form_action}" method="#{authed_form_method}" id="highlight-form">
            <input type="hidden" name="authenticity_token" value="#{form_authenticity_token}" />
            <input type="hidden" name="highlight[version_id]" value="#{presenter.version.id}" />
            <input type="hidden" name="highlight[usfm_references]" class="references verses_selected_input" />
            <input type="hidden" name="highlight[color]" class="selected-color" />
            <div class="color_picker_list">
              <div class="color_picker"></div>
            </div>
            <button type="submit" name="bookmark[submit]" value="submit" class="action_button_green">
              #{t('highlights.form.save button')}
            </button>
          </form>
        </div>
      </dd>

  %script#pane-bookmark-tmpl{type:"text/x-handlebars-template"}
    :plain
      <dt class="bookmark" data-pane-type="bookmark">
        #{t("bookmark")}
        <div class="arrow"></div>
      </dt>
      <dd class="bookmark-pane" id="bookmark-pane">
        <div class="pane">
          <p class="verse-actions-success-message success" style="display:none;">
            #{t("bookmarks.create success")}
          </p>
          <form action="#{authed_bookmark_form_action}" method="#{authed_form_method}">
            <input type="hidden" name="authenticity_token" value="#{form_authenticity_token}" />
            <input type="hidden" name="bookmark[version_id]" value="#{presenter.version.id}" />
            <input type="hidden" name="bookmark[usfm_references]" class="references verses_selected_input" />
            <input type="hidden" name="bookmark[color]" class="selected-color" />
            <p>
              <label for="bookmark_title">
                #{t("bookmarks.form.title field")}
              </label>
              <br />
              <input type="text" id="bookmark_title" name="bookmark[title]" />
            </p>
            <p>
              <label for="bookmark_labels">
                #{t("bookmarks.form.labels field")}
              </label>
              <br />
              <input type="text" id="bookmark_labels" name="bookmark[labels]" placeholder="#{t("bookmarks.labels placeholder")}" />
            </p>

            <label>Highlight: (optional)</label>
            <div class="color_picker_list">
              <div class="color_picker"></div>
            </div>
            <div>
              <button type="submit" name="bookmark[submit]" value="submit" class="action_button_green">
                #{t('bookmarks.form.save button')}
              </button>
            </div>
          </form>
        </div>
      </dd>

  %script#pane-note-tmpl{type:"text/x-handlebars-template"}
    %dt.note{"data-pane-type" => "note"}
      = t("new note")
      .arrow
    %dd#note-pane
      .pane
        %p.verse-actions-success-message.success{style: "display: none;"}
          = t("notes.create success")
          
        - note = presenter.note
        = form_for note, url: (logged_in? ? notes_path : sign_up_path), method: authed_form_method do |f|
          = f.hidden_field :version_id
          = f.hidden_field :usfm_references, class: "verses_selected_input"
          = f.hidden_field :color, class:"selected-color"
          %div.title
            = f.label :title, t("notes.form.title field")
            = f.text_field :title
          %div.status
            = f.label :user_status, t("notes.form.status field")
            = f.select :user_status, options_for_select(object_status, note.user_status)
          %div
            = f.text_area :content, rows: 4, cols: 68

          %div
            %label Highlight: (optional)
            .color_picker_list
              .color_picker

          %div.save
            %button.action_button_green
              = t('notes.form.save button')

  %script#pane-related-tmpl{type:"text/x-handlebars-template"}
    %dt.related
      %span.count

  %script#pane-close-tmpl{type:"text/x-handlebars-template"}
    %dt.clear-selected
      = t('ref.clear verses')


  %script#pane-share-tmpl{type:"text/x-handlebars-template"}
    :plain
      <dt class="share" data-pane-type="share">
        #{t("ref.share")}
        <div class="arrow"></div>
      </dt>
      <dd id="share-pane">
        <div class="pane">
          <form action="#{share_path}" method="post">
            <input type="hidden" name="authenticity_token" value="#{form_authenticity_token}" />
            <input type="hidden" name="share[link]" id="share_link" value="" />

            <div class="share_message">
              <textarea name="share[message]"></textarea>
              <span>
                <b id="short_link"></b>
                #{t("link will be added")}
              </span>
              <span class='share_total_characters'>
              </span>
            </div>

            <div class="share_services">
              <span class="share_logo">
                <span class="share_logo_fb">&nbsp;</span>
              </span>
              <span class="share_slider">
                <input id="checkbox_share_facebook" type="checkbox" name="share[connections][facebook]" />
                <span class="slider facebook">&nbsp;</span>
              </span>
              <span class="share_character_count">
                <span class="fb"></span>
                <span class="fb-text">
                  Facebook characters remaining (420 Maximum)
                </span>
              </span>
            </div>

           <div class="share_services">
              <span class="share_logo">
                <span class="share_logo_twitter">&nbsp;</span>
              </span>
              <span class="share_slider">
                <input id="checkbox_share_twitter" type="checkbox" name="share[connections][twitter]" />
                <span class="slider twitter">&nbsp;</span>
              </span>
              <span class="share_character_count">
                <span class="tw"></span>
                <span class="tw-text">
                  Twitter characters remaining (140 Maximum)
                </span>
              </span>
            </div>

            <div class="share_errors" data-error-none-checked="Please select at least one social network" data-error-character-limit="Please delete some characters or choose a different social network">
            </div>
            <div class="share_action">
              <button id="share_action_submit" type="submit" name="share[submit]" value="submit" class="action_button_blue">
                #{t('ref.share now')}
              </button>
            </div>
          </form>
        </div>
      </dd>

  %script#pane-link-tmpl{type:"text/x-handlebars-template"}
    :plain
      <dt class="link">
        #{t("link")}
        <div class="arrow"></div>
      </dt>
      <dd id="link-pane">
        <div class="pane">
          <span class="text_field_embed">
            <input id="copy_link_input" value="" type="text" />
            <div id="copy_link_container">
              <button id="copy_link" data-confirm-text="#{t("copy confirmed")}">
                #{t("copy")}
              </button>
            </div>
          </span>
        </div>
      </dd>

  %script#pane-register-tmpl{type:"text/x-handlebars-template"}
    %dt.account.hide
      = t("registration.with email")
    %dd#need-account
      .pane
        .blurbs
          %p.highlight= t('registration.highlight blurb');
          %p.bookmark= t('registration.bookmark blurb');
          %p.share= t('registration.share blurb');
          %p.note= t('registration.note blurb');
        %h4= t("pages.home.get started")
        #get-started-buttons
          %span.fb
            = link_to(t("registration.with facebook"), auth_connect_path(:facebook, redirect: facebook_sign_up_path), class: 'action_button_blue')
          %span.or
            = t("or.upper")
          %span.email
            = link_to(t("registration.with email"), sign_up_path, {id: "signup-via-email", class: 'action_button_blue'})


%script#moment-votd-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment" data-uuid="{{uuid}}">
      <div class="moment-vod" data-references="{{usfm_references}}">
        
        <span class="moment-icon">&nbsp;</span>
        
        <div class="moment-vod-calendar">
          <div class="moment-vod-calendar-date">
            {{week_day}}
          </div>
          <div class="moment-vod-calendar-img">
            #{image_tag "moment-vod-calendar-img.png"}
          </div>
        </div>

        <span class="moment-time">
          {{created_dt}}
        </span>

        <div class="moment-vod-title">
          #{t("moments.vod.title")}
        </div>

        {{{verse_html}}}

        <ul class="moment-vod-list">
          {{#each recent_versions}}
            <li class="btn" data-version-id="{{id}}" >{{abbrev}}</li>
          {{/each}}
        </ul>

      </div>
    </div>


%script#moment-highlight-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment" data-uuid="{{uuid}}" data-moment-id="{{id}}" data-moment-path="{{path}}" data-str-delete-confirm="Are you sure you want to delete this?">
      <div class="moment-top">
        <div class="moment-hi">
          <span class="moment-icon"></span>
          <span class="moment-avatar">
            <a href="{{user.path}}">
              <img src="{{avatar}}" />
            </a>
          </span>
          <span class="moment-time">
            {{created_dt}}
          </span>
          <h2 class="moment-hi-text">
            <a href="{{path}}" class="moment-title-link">
              {{{moment_title}}}
            </a>
          </h2>

          <div class="moment-verse-wrap">
            {{{verse_html}}}
          </div>

        </div>
      </div>
      <div class="moment-btm">
        {{> moment-actions-bar}}
        {{> moment-comments}}
      </div>
    </div>



%script#moment-bookmark-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment" data-uuid="{{uuid}}" data-moment-id="{{id}}" data-moment-path="{{path}}" data-str-delete-confirm="Are you sure you want to delete this?">
      <div class="moment-top">
        <div class="moment-bm">
          <span class="moment-icon"></span>
          <span class="moment-avatar">
            <a href="{{user.path}}">
              <img src="{{avatar}}" />
            </a>
          </span>
          <span class="moment-time">
            {{created_dt}}
          </span>
          <h2 class="moment-bm-text">
            <a href="{{path}}" class="moment-title-link">
              {{{moment_title}}}
            </a>
          </h2>

          <div class="moment-verse-wrap">
            {{{verse_html}}}
          </div>

          <p class="moment-bm-labels">
            {{#each labels}}
              <a href="#" class="moment-bm-labels-link">{{lookup ../labels @index}}</a>
            {{/each}}
          </p>

        </div>
      </div>
      <div class="moment-btm">
        {{> moment-actions-bar}}
        {{> moment-comments}}
      </div>
    </div>


%script#moment-actions-bar-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment-actions">
      <span class="moment-actions-like">
        <a href="#">#{t("moments.action.like")}</a>
      </span>
      <span class="moment-actions-comment">
        <a href="{{path}}">#{t("moments.action.comment")}</a>
      </span>

      <div class="moment-content-actions">
      {{#if actions.editable}}
        <a href="{{path}}/edit" class="moment-content-actions-edit">
          #{t("moments.action.edit")}
        </a>
      {{/if}}

      {{#if actions.deletable}}
        <a href="#" class="moment-action-delete">
          #{t("moments.action.delete")}
        </a>
      {{/if}}
      </div>
    </div>


%script#moment-comments-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment-comments">
    {{#if actions.show}}
      {{#if likes.strings.whos_liked}}
      <span class="moment-comments-likes">
        {{{likes.strings.whos_liked}}}
      </span>
      {{/if}}
      {{#if comments.strings.view_all_comments}}
      <span class="moment-comments-more">
        <a href="{{path}}">{{comments.strings.view_all_comments}}</a>
      </span>
      {{/if}}
      <ul class="moment-comments-list">
        {{#each comments.all}}
          {{> moment-comment}}
        {{/each}}
      </ul>
    {{/if}}
      <form action="/comments" method="post">
        <input type="hidden" name="comment[moment_id]" value="{{id}}" />
        <span class="moment-comments-input">
          <span class="moment-comments-input-avatar">
            <img src="{{user.avatar}}" />
          </span>
          <textarea name="comment[content]" class="moment-comments-textarea comment-field" data-moment-id="{{id}}" />
        </span>
      </form>
    </div>
    

%script#moment-comment-tmpl{type:"text/x-handlebars-template"}
  :plain
    <li class="moment-comments-list-comment">
      <span class="moment-comments-list-avatar">
        <a href="{{user.path}}">
          <img src="{{user.avatar}}" />
        </a>
      </span>
      <p class="moment-comments-list-text">
        <a href="{{user.path}}">{{user.name}}</a>
        {{content}}
        <span class="moment-comment-dt">{{fromNow created_dt}}</span>
      </p>
      {{#if owned_by_me }}
      <a href="#" class="moment-comment-delete" data-comment-id="{{id}}">x</a>
      {{/if}}
    </li>


%script#moment-friendship-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment" data-uuid="{{uuid}}">
      <div class="moment-top">
        <div class="moment-fr">
          <span class="moment-icon"></span>
          <span class="moment-avatar">
            <img src="{{avatar}}" />
          </span>
          <span class="moment-time">
            {{created_dt}}
          </span>
          <h2 class="moment-fr-text">{{{moment_title}}}</h2>
          <div class="moment-fr-box">
            <a href="{{friend_path}}">
              <img src="{{friend_avatar}}" class="moment-fr-avatar" />
              <span class="moment-fr-name">
                {{friend_name}}
              </span>
            </a>
          </div> 
        </div>
      </div>
    </div>


%script#moment-generic-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment" data-uuid="{{uuid}}">
      <div class="moment-top">
        <div class="moment-sys">
          
          <span class="moment-icon"></span>
          <span class="moment-avatar">
            <img src="{{avatar}}" />
          </span>
          
          <span class="moment-time">
            {{created_dt}}
          </span>
          
          <h2 class="moment-sys-text">{{{moment_title}}}</h2>
          
          {{#if body_text}}
          <div style="clear:both;">
            {{{body_text}}}
          </div>
          {{/if}}

        </div>
      </div>
    </div>    


%script#moment-system-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment" data-uuid="{{uuid}}">
      <div class="moment-top">
        <div class="moment-sys">
          
          <span class="moment-icon"></span>
          
          <span class="moment-time">
            {{created_dt}}
          </span>
          
          <h2 class="moment-sys-text">{{{moment_title}}}</h2>

          {{#if body_image}}
          <div class="moment-sys-image">
            <img src="{{body_image}}" />
          </div>
          {{/if}}
          
          {{#if body_text}}
          <div style="clear:both;">
            {{{body_text}}}
          </div>
          {{/if}}

        </div>
      </div>
    </div>

%script#moment-note-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment" data-uuid="{{uuid}}" data-moment-id="{{id}}" data-moment-path="{{path}}" data-str-delete-confirm="Are you sure you want to delete this?">
      <div class="moment-top">
        <div class="moment-no">
          <span class="moment-icon"></span>
          
          <span class="moment-avatar">
            <a href="{{user.path}}">
              <img src="{{avatar}}" />
            </a>
          </span>

          <span class="moment-time">
            {{status}} • 
            {{created_dt}}
          </span>
          <h2 class="moment-no-text">
            <a href="{{path}}" class="moment-title-link">
              {{{moment_title}}}
            </a>
          </h2>

          <div class="moment-no-note">
            <p class="moment-no-note-title">{{title}}</p>
            <p class="moment-no-note-text">{{content}}</p>
          </div>

        </div>
      </div>
      <div class="moment-btm">
        {{> moment-actions-bar}}
        {{> moment-comments}}
      </div>
    </div>

%script#moment-verse-tmpl{type:"text/x-handlebars-template"}
  :plain
    <p class="moment-verse">{{content_plain}}</p>
    <a href="{{to_path}}" title="#{t('moments.action.go to scripture')}" class="moment-verse-link">{{human}} {{version_string}}</a>

%script#moment-votd-verse-tmpl{type:"text/x-handlebars-template"}
  :plain
    <div class="moment-votd-verse-wrap">
      <p class="moment-votd-verse" data-reference-human="{{human}}" data-reference-path="{{to_path}}">{{content_plain}}
      <span class="content-action"><a href="#" class="more">#{t("social.moment.read all")}</a><a href="#" class="less">#{t("social.moment.read less")}</a></span>
      </p>
    </div>
    <a href="{{to_path}}" class="moment-vod-links">{{human}}</a>

%script#notifications-tmpl{type:"text/x-handlebars-template"}
  :plain
    <ul class="notifications-list">
      {{#each notifications}}
      <li class="notifications-item">
        <img src="{{attributes.avatars.collection.1.url}}" height="24" width="24" />
        <a href="{{attributes.action_url}}">
          <p>{{attributes.moment_title}}</p>
        </a>
      </li>
      {{else}}
      <li class="notifications-item notifications-empty">
        <p>#{t("notifications.none")}</p>
      </li>
      {{/each}}
    </ul>
    <div class="view-all">
      {{#if notifications}}
        #{link_to(t("notifications.view all"),"/notifications", class:"text-link wide" )}
      {{else}}
        <span class="text-wide">#{t("notifications.no new")}</span>
      {{/if}}
    </div>

%script#friend-requests-tmpl{type:"text/x-handlebars-template"}
  :plain
    <ul>
      {{#each incoming}}
      <li>
        <div class="list-item">
          <div class="item-content">
            <img class="round-avatar" src="{{avatars.collection.1.url}}" height="48" width="48" />
            <p>
              <a href="/users/{{username}}" class="text-link">{{name}}</a>
              #{t("friendships.user wants friendship partial")}
            </p>
          </div>
          <div class="item-actions">

            <form accept-charset="UTF-8" action="/friendships?user_id={{id}}" method="post">
              <input name="utf8" type="hidden" value="✓" />
              <input name="authenticity_token" type="hidden" value="#{form_authenticity_token}" />
              <button type="submit" class="action_button_green action-add">
                #{t("friendships.form.accept button")}
              </button>
            </form>

            <form accept-charset="UTF-8" action="/friendships/{{id}}" method="post">
              <input name="utf8" type="hidden" value="✓" />
              <input name="_method" type="hidden" value="DELETE" />
              <input name="authenticity_token" type="hidden" value="#{form_authenticity_token}" />
              <button type="submit" class="action_button_grey action-add">
                #{t("friendships.form.ignore button")}
              </button>
            </form>

          </div>
        </div>
      </li>
      {{else}}
      <li class="list-item none">
        <p>
          #{t("friendships.requests none")}
        </p>
      </li>
      {{/each}}
    </ul>
    <div class="view-all">
      {{#if incoming}}
        #{link_to(t("friendships.requests view all"),"/friendships/requests", class:"text-link wide" )}
      {{else}}
        <span class="text-wide">#{t("friendships.requests no new")}</span>
      {{/if}}
    </div>

%script#comment-list-item-tmpl{type:"text/x-handlebars-template"}
  :plain
    <li class="moment-comments-list-comment">
      <span class="moment-comments-list-avatar">
        <a href="/users/{{user.username}}">
          <img class="round-avatar" src="{{user.avatars.collection.1.url}}" height="48" width="48" />
        </a>
      </span>
      <p class="moment-comments-list-text">
        <a href="/users/{{user.username}}">
          {{user.name}}
        </a>
        {{content}}
        <span class="moment-comment-dt">
          #{t("ui.datetime.just now")}
        </span>
      </p>
      <a href="#" class="moment-comment-delete" data-comment-id="{{id}}">x</a>
    </li>

%script#moment-share-layer-tmpl{type:"text/x-handlebars-template"}
  %div.moment-actions-share-box
    %span.moment-actions-share-arrow
      &nbsp;
    %div
      %span
        %a{href:"#", target: "_blank", title: "Share this on Facebook", class: "facebook moment-actions-share-facebook"}
          Facebook
      %span    
        %a{href:"#", target: "_blank", title: "Share this on Twitter", class: "twitter moment-actions-share-twitter"}
          Twitter

%script
  :plain
    Handlebars.registerPartial("moment-actions-bar", $("#moment-actions-bar-tmpl").html())
    Handlebars.registerPartial("moment-comments", $("#moment-comments-tmpl").html())
    Handlebars.registerPartial("moment-comment", $("#moment-comment-tmpl").html())
    Handlebars.registerHelper('lookup', function(obj, field) {
      return obj[field];
    });
    Handlebars.registerHelper('fromNow', function(context, block) {
      if (window.moment) {
        return moment(context).fromNow();
      }else{
        return context;   //  moment plugin not available. return data as is.
      };
    });
