- if is_reader_page? && presenter.present?
  :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : #{Cfg.facebook_app_id},
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  %script#pane-highlight-tmpl{type:"text/x-handlebars-template"}
    :plain
      <div class="tab-panel highlight-pane" id="highlight-pane">
        <div class="pane">
          <span class="verse-actions-success-message success" style="display:none;">
            #{t("highlights.create success")}
            <div class="post-verse-action-add-comment">
              <a href="#" class="verse-actions-success-link">
                #{t("social.add comment")}
              </a>
            </div>
          </span>
          <form action="/highlights" method="post" id="highlight-form">
            <input type="hidden" name="authenticity_token" value="#{form_authenticity_token}" />
            <input type="hidden" name="highlight[version_id]" value="#{presenter.version.id}" />
            <input type="hidden" name="highlight[usfm_references]" class="references verses_selected_input" />
            <input type="hidden" name="highlight[color]" class="selected-color" />
            <div class="color_picker_list">
              <div class="color_picker"></div>
            </div>
            <button type="submit" name="bookmark[submit]" value="submit" class="action_button_green">
              #{t('highlights.form.save button')}
            </button>
          </form>
        </div>
      </div>

  %script#pane-bookmark-tmpl{type:"text/x-handlebars-template"}
    :plain
      <div class="tab-panel bookmark-pane" id="bookmark-pane">
        <div class="pane">
          <span class="verse-actions-success-message success" style="display:none;">
            #{t("bookmarks.create success")}
            <div class="post-verse-action-add-comment">
              <a href="#" class="verse-actions-success-link">
                #{t("social.add comment")}
              </a>
            </div>
          </span>
          <form action="/bookmarks" method="post">
            <input type="hidden" name="authenticity_token" value="#{form_authenticity_token}" />
            <input type="hidden" name="bookmark[version_id]" value="#{presenter.version.id}" />
            <input type="hidden" name="bookmark[usfm_references]" class="references verses_selected_input" />
            <input type="hidden" name="bookmark[color]" class="selected-color" />
            <p>
              <label for="bookmark_title">
                #{t("bookmarks.form.title field")}
              </label>
              <br />
              <input type="text" id="bookmark_title" name="bookmark[title]" />
            </p>
            <p>
              <label for="bookmark_labels">
                #{t("bookmarks.form.labels field")}
              </label>
              <br />
              <input type="text" id="bookmark_labels" name="bookmark[labels]" placeholder="#{t("bookmarks.labels placeholder")}" />
            </p>

            <label>
              #{t("bookmarks.form.highlight field")}
            </label>
            <div class="color_picker_list">
              <div class="color_picker"></div>
            </div>
            <div>
              <button type="submit" name="bookmark[submit]" value="submit" class="action_button_green">
                #{t('bookmarks.form.save button')}
              </button>
            </div>
          </form>
        </div>
      </div>

  %script#pane-note-tmpl{type:"text/x-handlebars-template"}
    #note-pane.tab-panel
      .pane
        %p.verse-actions-success-message.success{style: "display: none;"}
          = t("notes.create success")

        - note = presenter.note
        = form_for note, url: (logged_in? ? notes_path : sign_up_path), method: "post" do |f|
          = f.hidden_field :version_id
          = f.hidden_field :usfm_references, class: "verses_selected_input"
          = f.hidden_field :color, class:"selected-color"
          %div.title
            = f.label :title, t("notes.form.title field")
            = f.text_field :title
          %div.status
            = f.label :user_status, t("notes.form.status field")
            = f.select :user_status, options_for_select(object_status, note.user_status)
          %div
            = f.text_area :content, rows: 4, cols: 68

          %div
            %label
              = t('notes.form.highlight field')
            .color_picker_list
              .color_picker

          %div.save
            %button.action_button_green
              = t('notes.form.save button')




  %script#pane-share-tmpl{type:"text/x-handlebars-template"}
    #share-pane.tab-panel
      .pane
        #tab-side-container
          %ul
            %li
              = link_to "#fb-share" do
                %span.share_logo
                  %span.share_logo_fb
            %li
              = link_to "#tw-share" do
                %span.share_logo
                  %span.share_logo_twitter
            %li
              = link_to "#g-share" do
                %span.share_logo
                  %span.share_logo_gplus
          #fb-share.tab-content
            .share_message
              %span
                %b#short_link
                .fb-share-button{"data-href" => "", "data-layout" => "button"}
            
          #tw-share.tab-content
            .share_message
              %span
                %b#short_link
              %a.twitter-share-button{href: "https://twitter.com/share", "data-url" => "", "data-size" => "large", "data-count" => "none", "data-dnt" => "true", "data-text" => ""}
                Tweet
              
          #g-share.tab-content
            .share_message
              %span
                %b#short_link
            .g-plus{"data-action"=>"share", "data-href" => ""}

  %script#pane-link-tmpl{type:"text/x-handlebars-template"}
    :plain
      <div class="tab-panel" id="link-pane">
        <div class="pane">
          <span class="text_field_embed">
            <input id="copy_link_input" value="" type="text" />
            <div id="copy_link_container">
              <button id="copy_link" data-confirm-text="#{t("copy confirmed")}">
                #{t("copy")}
              </button>
            </div>
          </span>
        </div>
      </div>

  %script#pane-register-tmpl{type:"text/x-handlebars-template"}
    .account.hide.tab-trigger
      = t("registration.with email")
    #need-account.tab-panel
      .pane
        .blurbs
          %p.highlight= t('registration.highlight blurb');
          %p.bookmark= t('registration.bookmark blurb');
          %p.share= t('registration.share blurb');
          %p.note= t('registration.note blurb');
        %h4= t("pages.home.get started")
        #get-started-buttons
          %span.fb
            = link_to(t("registration.with facebook"), auth_connect_path(:facebook, redirect: facebook_sign_up_path), class: 'action_button_blue')
          %span.or
            = t("or.upper")
          %span.email
            = link_to(t("registration.with email"), sign_up_path, {id: "signup-via-email", class: 'action_button_blue'})

  %script#moment-share-layer-tmpl{type:"text/x-handlebars-template"}
    %div.moment-actions-share-box
      %span.moment-actions-share-arrow
        &nbsp;
      %div
        %span
          %a{href:"#", target: "_blank", title: "Share this on Facebook", class: "facebook moment-actions-share-facebook"}
            Facebook
        %span
          %a{href:"#", target: "_blank", title: "Share this on Twitter", class: "twitter moment-actions-share-twitter"}
            Twitter
