%script#moment-verse-tmpl{type:"text/x-handlebars-template"}
  :plain
    <p class="moment-verse">{{content_plain}}</p>
    <a href="{{to_path}}" title="#{t('moments.action.go to scripture')}" class="moment-verse-link">{{human}} {{version_string}}</a>


%script#notifications-tmpl{type:"text/x-handlebars-template"}
  :plain
    <ul class="notifications-list">
      {{#each notifications}}
      <li class="notifications-item">
        <a href="{{attributes.action_url}}">
          <p>{{attributes.moment_title}}</p>
        </a>
      </li>
      {{else}}
      <li class="notifications-item notifications-empty">
        <p>#{t("notifications.none")}</p>
      </li>
      {{/each}}
    </ul>
    <div class="view-all">
      {{#if notifications}}
        #{link_to(t("notifications.view all"),"/notifications", class:"text-link wide" )}
      {{else}}
        <span class="text-wide">#{t("notifications.no new")}</span>
      {{/if}}
    </div>

%script#friend-requests-tmpl{type:"text/x-handlebars-template"}
  :plain
    <ul>
      {{#each incoming}}
      <li>  
        <div class="list-item">
          <div class="item-content">
            <img class="round-avatar" src="{{avatars.collection.1.url}}" height="48" width="48" />
            <p>
              <a href="/users/{{username}}" class="text-link">{{name}}</a>
              #{t("friendships.user wants friendship partial")}
            </p>
          </div>
          <div class="item-actions">
            
            <form accept-charset="UTF-8" action="/friendships?user_id={{id}}" method="post">
              <input name="utf8" type="hidden" value="✓" />
              <input name="authenticity_token" type="hidden" value="#{form_authenticity_token}" />
              <button type="submit" class="action_button_green action-add">
                #{t("friendships.form.accept button")}
              </button>
            </form>

            <form accept-charset="UTF-8" action="/friendships/{{id}}" method="post">
              <input name="utf8" type="hidden" value="✓" />
              <input name="_method" type="hidden" value="DELETE" />
              <input name="authenticity_token" type="hidden" value="#{form_authenticity_token}" />
              <button type="submit" class="action_button_grey action-add">
                #{t("friendships.form.ignore button")}
              </button>
            </form>

          </div>
        </div>
      </li>
      {{else}}
      <li class="list-item none">
        <p>
          #{t("friendships.requests none")}
        </p>
      </li>
      {{/each}}
    </ul>    
    <div class="view-all">
      {{#if incoming}}
        #{link_to(t("friendships.requests view all"),"/friendships/requests", class:"text-link wide" )}
      {{else}}
        <span class="text-wide">#{t("friendships.requests no new")}</span>
      {{/if}}
    </div>