:ruby
  is_authed = current_auth ? true : false
  authed_form_method = is_authed ? "post" : "get"

#menu_verse_actions.clearfix
  .references
    %ul.reference_tokens

  %dl.verses_selected

    %dt.highlight
      = t("highlight")
      .arrow
    %dd#highlight-pane.auth
      .pane
        %form{action: (is_authed ? highlights_path : sign_up_path), method: authed_form_method }
          - unless is_authed
            %input{type: 'hidden', name: 'redirect', value: "/bible"}
            %input{type: 'hidden', name: 'source', value: "highlight"}

          %input{type: "hidden", name:"authenticity_token", value: form_authenticity_token }
          %input{type: "hidden", name: "highlight[version_id]", value: presenter.version.id }
          %input.references{type: "hidden", name: "highlight[usfm_references]"}          
          %input.existing_ids{type: "hidden", name: "highlight[existing_ids]"}
          %div.color_picker_list
            %button.color.color_picker_clear{type:"submit", name: "remove", value: "true", id:"clear_highlights"}
            %button.color.color_picker
            %div.color_picker_holder
            %span.ajax_me{"data-ajax" => colors_highlights_path, "data-dup" => "#dup_mobile_highlights"}
          %div.clear

    %dt.bookmark
      = t("bookmark")
      .arrow
    %dd#bookmark-pane.auth
      .pane
        %form{action: (is_authed ? bookmarks_path : sign_up_path), method: authed_form_method }
          %input{type: "hidden", name:"authenticity_token", value: form_authenticity_token }
          - if current_auth.nil?
            %input{type: 'hidden', name: 'redirect', value: "/bible"}
            %input{type: 'hidden', name: 'source', value: "bookmark"}
          %p
            %label{for:'bookmark_title'}
              = t("bookmarks.form.title field")
            %br
            %input{type:'text',id:'bookmark_title',name:'bookmark[title]'}
          %p
            %label{for:'bookmark_tags'}
              = t("bookmarks.form.labels field")
            %br
            %input{type:'text',id: 'bookmark_labels',name:'bookmark[labels]',placeholder: t("bookmarks.labels placeholder")}
            %input{type: "hidden", name: "bookmark[version_id]", value: presenter.version.id }
            %input.verses_selected_input{name: "bookmark[usfm_references]", type: "hidden"}
          %div.clear
          %p
            %button{type:"submit",name:"bookmark[submit]",value:"submit"}
              = t('bookmarks.form.save button')
          %div.clear{style:"padding: 0 0 15px 0"}

    %dt.share
      = t("ref.share")
      .arrow
    %dd#share-pane.auth
      .pane
        %form.clearfix{action: share_path, method: "post"}
          %input{type: "hidden", name:"authenticity_token", value: form_authenticity_token }
          %div.share_message
            %textarea{name: "share[message]"}
            %div
              %b#short_link
              = t("link will be added")
            %input{type: "hidden", id: "share_link", name: "share[link]", value: ""}

            %div.share_services
              %span
                %input#checkbox_share_twitter{type:"checkbox",name:"share[connections][twitter]"}
                %label.share_verse_twitter{for: 'share_verse_twitter', value: "Twitter"} = t("twitter")

              %span
                %input#checkbox_share_facebook{type:"checkbox", name: "share[connections][facebook]"}
                %label.share_verse_facebook{for: 'share_verse_facebook'}= t("Facebook")

            %div.share_action
              %button{type:"submit",name:"share[submit]",value:"submit"}= t('ref.share now')

    %dt.link
      = t("link")
      .arrow
    %dd#link-pane
      .pane
        %span.text_field_embed
          %input#copy_link_input{value:"",type: "text"}
          %div#copy_link_container
            %button#copy_link{"data-confirm-text" => t("copy confirmed")}= t("copy")

    %dt.note
      = t("new note")
      .arrow
    %dd#note-pane.auth
      .pane
        - note = presenter.note
        = form_for note, url: (is_authed ? notes_path : sign_up_path), method: authed_form_method do |f|
          = f.hidden_field :version_id
          = f.hidden_field :usfm_references, class: "verses_selected_input"
          - unless is_authed
            %input{type: 'hidden', name: 'redirect', value: "/bible"}
            %input{type: 'hidden', name: 'source', value: "note"}
          %div.title
            = f.label :title, t("notes.form.title field")
            = f.text_field :title
          %div.status
            = f.label :user_status, t("notes.form.status field")
            = f.select :user_status, options_for_select(object_status, note.user_status)
          %div
            = f.text_area :content, rows: 4, cols: 68
          %div.save
            %button
              = t('notes.form.save button')


    %dt.clear-selected
      = t('ref.clear verses')

    - unless current_auth
      %dt.account.hide
      %dd#need-account
        .pane
          .blurbs
            %p.highlight= t('registration.highlight blurb');
            %p.bookmark= t('registration.bookmark blurb');
            %p.share= t('registration.share blurb');
            %p.note= t('registration.note blurb');
          %h4= t("pages.home.get started")
          #get-started-buttons
            %span.fb
              = link_to(t("registration.with facebook"), auth_connect_path(:facebook, redirect: facebook_sign_up_path), class: 'action_button_blue')
            %span.or
              = t("or.upper")
            %span.email
              = link_to(t("registration.with email"), sign_up_path, {id: "signup-via-email", class: 'action_button_blue'})
