#menu_bookmark.dynamic_menu
  .spinner_wrapper{style: "display: none;"}
    #bookmark_spinner.dynamic_menu_spinner
  %header
    %a.close{:href => '#'} Close
    %ul.reference_tokens
      %li
        %a{:href => "#"}
          Luke 2:15
      %li
        %a{:href => "#"}
          John 4:25
  %span.menu_arrow
    &nbsp;
  %dl.accordion.verses_selected
    %dt
      = t("highlight")
    %dd.highlight{id: "highlight-pane"}

      %form{:action => current_auth ? highlights_path : sign_up_path, method: current_auth ? "POST" : "GET"}

        - if current_auth.nil?
          %input{type: 'hidden', name: 'redirect', value: "/bible"}
          %input{type: 'hidden', name: 'source', value: "highlight"}

        %input.references{name: "highlight[references]", type: "hidden"}
        %input.existing_ids{name: "highlight[existing_ids]", type: "hidden"}

        %div{:class => "color_picker_list"}
          %a{:class => "color_picker", :href =>"#"}
          %a{:class => "color_picker_holder", :href =>"#"}
          %button{:type => "submit", :name => "remove", :value => "true", :class => "color color_picker_clear", :id => "clear_highlights"}
          %span
          - if current_auth
            %span.ajax_me{"data-ajax" => highlight_colors_path}
              = render partial: "users/highlight_color_swatches"
          - else
            %span
              = render partial: "users/highlight_color_swatches"
        %div{:class => "clear"}
    %dt
      = t("bookmark")
    %dd{id: "bookmark-pane"}
      %form{:action => current_auth ? bookmarks_path : sign_up_path, method: current_auth ? "POST" : "GET"}
        - if current_auth.nil?
          %input{type: 'hidden', name: 'redirect', value: "/bible"}
          %input{type: 'hidden', name: 'source', value: "bookmark"}
        %p
          %label{:for => 'bookmark_title'}
            = t("bookmarks.title field")
          %br
          %input{:type => 'text', :id => 'bookmark_title', :name => 'bookmark[title]'}
        %p
          %label{:for => 'bookmark_tags'}
            = t("bookmarks.labels")
          %br
          %input{:type => 'text', :id => 'bookmark_labels', :name => 'bookmark[labels]', :placeholder => t("bookmarks.labels placeholder")}
          %input{:class => "verses_selected_input", name: "bookmark[references]", type: "hidden"}
          %input{type: "hidden", name: "bookmark[version_id]", value: @version.id }
          / %span
          /   %b
          /     Color
          /   (optional)
          / %div{:class => "color_picker_list"}
          /   %a{:class => "color_picker", :href =>"#"}
          /   %a{:class => "color_picker_hol  der", :href =>"#"}
          /   %a{:class => "color_picker_clear", :href =>"#"}
          /     <span class='selected'></span>
          /   %a{:class => "color", :href => "#", :style => "background-color:#f3a9a9"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#f6f0b4"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#a8ed9d"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#f3a9a9"}
        %div{:class => "clear"}
        %p
          %button{:type => "submit", :name => "bookmark[submit]", :value => "submit", :class => "float_right"}= t('bookmarks.save')
        %div{:class => "clear", :style => "padding: 0 0 15px 0"}

    %dt
      = t("ref.share")
    %dd#share-pane
      %form.clearfix{action: share_path, method: "post"}
        %div.share_message
          %textarea{name: "share[message]", style: "margin-bottom: 8px"}
          %div.float_right
            %b#short_link
            = t("link will be added")
          %input{type: "hidden", id: "share_link", name: "share[link]", value: ""}

          %div.clearfix{style: "margin-bottom: 8px"}
          %div.share_action
            %button{:type => "submit", :name => "share[submit]", :value => "submit", :class => "float_right"}= t('ref.share now')
          %div.share_services
            %span.float_left{style: "width: 60%"}
              %input#checkbox_share_twitter{:type => "checkbox", :name => "share[connections][twitter]"}
              %label{:for => 'share_verse_twitter', :class => "share_verse_twitter", :value => "Twitter"}
                = t("twitter")

            %span.float_left{style: "width: 60%"}
              %input#checkbox_share_facebook{:type => "checkbox", :name => "share[connections][facebook]"}
              %label{:for => 'share_verse_facebook', :class => "share_verse_facebook"}
                = t("Facebook")
          %div.clearfix{style: "margin-bottom: 15px"}
    %dt#link
      = t("link")
    %dd#link-pane
      %span.text_field_embed
        %input#copy_link_input.width_100{:value => "", :style => "margin-bottom: 15px;", :type => "text"}
        %div#copy_link_container{style: "position: absolute; right: 0px; top: -2px;"}
          %button#copy_link{"data-confirm-text" => t("copy confirmed"), style: "margin-top:0px; width:51px; height:23px;"}= t("copy")
    - if current_auth
      %dt#new_note_modal
        = t("new note")
    - else
      %a.open_modal{:href => sign_up_path(source: "note", redirect: "/bible")}
        %dt.propagate_click
          = t("new note")

