// Local Parameters
// Required:
// - reference

- force_style ||= nil
#menu_audio_player.dynamic_menu{style: force_style}
  %span.menu_arrow
    &nbsp;
  - if reference.audio
    %dl
      %dt
        %a.close.no_style{:href => '#'}= t("audio.close player menu")
        = reference.audio.title
      %dd
        %audio#audio_player{:src => reference.audio.url, :type => 'audio/mpeg', :preload => "none", :controls => 'controls'}
      %dt
        .copy
          = reference.audio.copyright_short.html
        .copy.audio_close_btn
          = raw reference.audio.copyright_long.html
        %a.action_button_blue{:href => reference.audio.publisher_link, :target => "_blank"}
          = t("audio.publisher website")
  .mobile
    %div.close_tab
      %span.first
      %div.mid
        %a.menu_close.audio_close_btn
      %span.last
