#menu_bookmark.dynamic_menu
  %header
    %a.close{:href => '#'} Close
    %span
      = t("currently selected")
    %ul.reference_tokens
      %li
        %a{:href => "#"}
          Luke 2:15
      %li
        %a{:href => "#"}
          John 4:25
  %span.menu_arrow
    &nbsp;
  %dl.accordion
    %dt
      = t("highlight")
    %dd
      %form{:action => highlights_path, method: "POST"}
        %input{:class => "verses_selected_input", name: "highlight[reference]", type: "hidden"}
        %div{:class => "color_picker_list"}
          %a{:class => "color_picker", :href =>"#"}
          %a{:class => "color_picker_holder", :href =>"#"}
          %button{:type => "submit", :name => "remove", :value => "true", :class => "color color_picker_clear", :id => "clear_highlights"}
          %button{:type => "submit", :name => "highlight[color]", :value => "f3a9a9", :class => "color", :id => "highlight_f3a9a9", :href => "#", :style => "background-color:#f3a9a9"}
          %button{:type => "submit", :name => "highlight[color]", :value => "f6f0b4", :class => "color", :id => "highlight_f6f0b4", :href => "#", :style => "background-color:#f6f0b4"}
          %button{:type => "submit", :name => "highlight[color]", :value => "a8ed9d", :class => "color", :id => "highlight_a8ed9d", :href => "#", :style => "background-color:#a8ed9d"}
        %div{:class => "clear"}
    %dt
      = t("bookmark")
    %dd
      %form{:action => bookmarks_path, method: "POST"}
        %p
          %label{:for => 'bookmark_title'}
            = t("bookmarks.title field")
          %br
          %input{:type => 'text', :id => 'bookmark_title', :name => 'bookmark[title]'}
        %p
          %label{:for => 'bookmark_tags'}
            = t("bookmarks.labels")
          %br
          %input{:type => 'text', :id => 'bookmark_labels', :name => 'bookmark[labels]', :placeholder => t("bookmarks.labels placeholder")}
          %input{:class => "verses_selected_input", name: "bookmark[references]", type: "hidden"}
          / %span
          /   %b
          /     Color
          /   (optional) 
          / %div{:class => "color_picker_list"}
          /   %a{:class => "color_picker", :href =>"#"}
          /   %a{:class => "color_picker_holder", :href =>"#"}
          /   %a{:class => "color_picker_clear", :href =>"#"}
          /     <span class='selected'></span>
          /   %a{:class => "color", :href => "#", :style => "background-color:#f3a9a9"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#f6f0b4"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#a8ed9d"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#f3a9a9"}
        %div{:class => "clear"}
        %p
          %input{:type => 'image', :src => '/images/save_bookmark.png'}
    %dt
      = t("share")
    %dd
      %form.clearfix
        %div.share_message
          %textarea{style: "margin-bottom: 8px"}
          %div.float_right
            %b#short_link
            = t("link will be added")

          %div.clearfix{style: "margin-bottom: 8px"}
          %div.share_action      
            %input{:type => 'image', :src => '/images/save_bookmark.png'}
            -#TODO: get correct image here 
          %div.share_services
            %span.float_left{style: "width: 60%"}
              %input#checkbox_share_twitter{:type => "checkbox", :name => "share_verse_social", :checked => 'checked'}
              %label{:for => 'share_verse_twitter', :class => "share_verse_twitter", :value => "Twitter"}
                = t("twitter")
            
            %span.float_left{style: "width: 60%"}
              %input#checkbox_share_facebook{:type => "checkbox", :name => "share_verse_social"}
              %label{:for => 'share_verse_facebook', :class => "share_verse_facebook"}
                = t("Facebook")
            %span.float_left{style: "width: 60%"}
              %input#checkbox_share_google{:type => "checkbox", :name => "share_verse_social"}
              %label{:for => 'share_verse_google', :class => "share_verse_google"}
                = t("google plus")
          %div.clearfix{style: "margin-bottom: 15px"}
    %dt
      = t("link")
    %dd
      %span.text_field_embed
        %input#copy_link_input.width_100{:value => "", :style => "margin-bottom: 15px;", :type => "text"}
        %button#copy_link
          = t("copy")
    %a.open_modal{:href => "#"}
      %dt#new_note_modal
        = t("new note")

