#modal_single_verse
  #modal_overlay &nbsp;
  #modal_window
    - if @single_verse
      %header
        %b= @single_verse.ref_string
        - if @version
          %span.separator |
          = @version
        &nbsp;
        %small
          %a{:href => reference_path(@single_verse.raw_hash.except(:version).to_osis_string)}= t("compare all versions")
            
        %a.close{:href => '#'} Close
      %section
        %p.big= @single_verse.contents[0]
        %hr
        %p
          - if @reference
            %a#single_verse_read_link.action_button_green{:href => reference_path(@reference)}= t("read reference", reference: @reference.ref_string)
      %aside
        %p.gutter_bottom_half
          %a{:href => '#'}
            %img{:src => '/images/button_share_on_facebook.png', :alt => 'Share on Facebook'}
        %p.gutter_bottom_half
          %a{:href => '#'}
            %img{:src => '/images/button_share_on_twitter.png', :alt => 'Share on Twitter'}
        %p.gutter_bottom_half
          %a{:href => '#'}
            %img{:src => '/images/button_get_qr_code.png', :alt => 'Get QR Code'}
