= cache "widget_reader_help#{I18n.locale}", expires_in: a_short_time do
  .widget.reader_help
    %header
      %span
        = t("reader help.title")
    %aside.reader_help
      %p
        = "#{t('reader help.line 1')}<br />".html_safe