= cache "widget_reader_help#{I18n.locale}", expires_in: a_short_time do
  .widget.reader_help
    %aside.reader_help
      %p
        %b
          = t("reader help.title")
      %p
        = "#{t('reader help.line 1')}<br />".html_safe
        = "#{t('reader help.line 2')}<br />".html_safe
        = t('reader help.line 3')
