= cache 'widget_ad_bible_app', expires_in: 12.hours do
  .widget.ad_bible_app
    %aside.ad_bible_app
      %p
        %b
          = t("download ad.title")
      %p
        = "#{t('download ad.line 1')}<br />".html_safe
        = "#{t('download ad.line 2')}<br />".html_safe
        = t('download ad.line 3')
      %p
        %a.more_arrow{:href => '/mobile'}= t("download ad.download")


     
      
      
