.widget
  %header
    %a.count{href: user_bookmarks_path(current_auth.user_id)}= @bookmarks.total
    %span.header_icon_bookmark= t('recent bookmarks')
  %ul
    - @bookmarks.first(5).each do |b|
      %li
        %b= b.title
        %br
        - b.reference_list.each do |r|
          = link_to r, bible_path(r)
        - if b.labels
          %span.separator |
          - b.labels.split(",").each do |l|
            %span.tag
              %a{href: ":"}= l
    %li.align_right
      %a.more_arrow{href: user_bookmarks_path(current_auth.user_id)}= t('show all bookmarks', total: @bookmarks.total)
