= content_for :sidebar do
  = render partial: 'widgets/find_friends'

%article.social-requests
  - if @friendships.incoming.present?
    %ul
      - @friendships.incoming.each do |user|
        %li
          .notify-item
            .item-content
              - avatar = user.avatars.lg_avatar # large for retina display
              %img.round-avatar{src: avatar.url }
              
              %p
                - user_link = link_to user.name, user_path(user.username) , class: 'text-link' 
                = t("friendships.user wants friendship", user: user_link).html_safe
                
            .item-actions
              = form_tag friendships_url(user_id: user.id) do
                = button_tag t("friendships.form.accept button"), class: 'action_button_green action-add' 

              = form_tag friendship_url(user.id), method: "DELETE" do
                = button_tag t("friendships.form.ignore button"), class: 'action_button_grey action-ignore'
  - else
    .blank-slate-friend-requests
      %p= t("friendships.requests none")
