#widget-bookmarks.widget
  %div.hd
    %span= t('recent bookmarks')
    %a.count{href: user_bookmarks_path(current_auth.username)}= @bookmarks.try(:total) || 0

  - unless @bookmarks.blank?
    %ul
      - @bookmarks.first(5).each do |mark|
        %li
          - if title = mark.title
            %b= title
          - mark.reference_list.each do |ref|
            = link_to ref, bible_path(ref)
          - if mark.labels
            %span.separator |
            - mark.labels.split(",").each do |label|
              %span.tag
                %a{href: user_bookmarks_path(current_auth.username, :label => label)}
                  = label

    %div.ft
      %a.more_arrow{href: user_bookmarks_path(current_auth.username)}
        = t('show all bookmarks', total: @bookmarks.total)

  - else
    %div.bd
      %p= t('bookmarks.not found')