-# locals:
-# presenter (Reference Presenter)
-# called from:
-# sidebar/reference/show

- if presenter.subscriptions.blank?
  = render partial: 'widgets/featured_plans'
- else
  .widget.my-plans
    %h3.hd
      = t("plans.widget.my plans")
    .plans-list
      %ul
        - presenter.subscriptions.each do |sub|
          %li
            %h3= sub.name
            %p
              = link_to(t("plans.widget.start reading"), subscription_path(user_id: current_user, id: sub))
              %span= t("plans.current progress html", day: sub.current_day, total_days: sub.total_days).html_safe
    .ft
      = link_to(t("plans.widget.view my plans"), subscriptions_path(user_id: current_user))
