:ruby
  user = current_user
  subscriptions = Subscription.all(user, auth: user.auth)
  presenter = Presenter::Sidebar::Subscriptions.new(subscriptions,params,self)

-# locals:
-# presenter (Reference Presenter)
-# called from:
-# sidebar/reference/show

- if not presenter.subscriptions.blank?
  .widget.my-plans
    %h3.hd
      = t("plans.widget.my plans")
    .plans-list
      %ul
        - presenter.subscriptions.each do |sub|
          - # hack until we can figure out why sub would be an array
          - unless sub.is_a? Array
            %li
              %h3= sub.name
              %p
                = link_to(t("plans.widget.start reading"), subscription_path(user_id: current_user, id: sub))
                %span= t("plans.current progress html", day: sub.current_day, total_days: sub.total_days).html_safe
    .ft
      = link_to(t("plans.widget.view my plans"), subscriptions_path(user_id: current_user))
