<div id="react-app-<%=appContainerSuffix%>"><%- appString %></div>
<% if (environment !== 'production') { %>
	<!-- <script type="text/javascript" src="https://jira.lifechurch.tv/s/214836ebd493d3b6d023e0d6a260ed10-T/ok9v4q/73015/01b32b66f1a9832636b5f267a1988181/2.0.23/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=32b4d264"></script> -->
<% } %>
<script type="application/javascript">
	if (typeof window.standaloneInitialized === 'undefined') {
		window.standaloneInitialized = true

		// Load once-only variables
		window.__ENV__ = "<%- environment %>";
		window.__RAILS_HOST__ = "<%- railsHost %>";
		window.__NODE_HOST__ = "<%- nodeHost %>";
		window.__LOCALE__ = <%- JSON.stringify(locale) %>;
	}

	window.<%=appContainerSuffix%> = {}

	if (typeof Raven !== 'undefined' && !Raven.isSetup()) {
		Raven.config('https://488eeabd899a452783e997c6558e0852@sentry.io/129704', { sampleRate: 0.5 }).install()
	}

	window.<%=appContainerSuffix%>.__INITIAL_STATE__ = <%- JSON.stringify(initialState) %>;
</script>
