%article
  %h2 Thanks for your help!
  %p Log in with your YouVersion username and password to help test the new site.

  = form_for @beta_registration, url: beta_signup_path do |f|
    -if @beta_registration.errors.any?
      #error_explanation
        %h2= "#{pluralize(@beta_registration.errors.count, "error")} prohibited this beta_registration from being saved:"
        %ul
          - @beta_registration.errors.full_messages.each do |msg|
            %li= msg
    %p
      = label_tag :username, t("username or email prompt")
      %br
      = text_field_tag :username, params[:username]
    %p
      = label_tag :password, t("password prompt")
      %br
      = password_field_tag :password, params[:password]
    %p= submit_tag t("try the beta")
