- @title = t("about title")
- @sidebar = false

%article
  %h1= t('about title')
  %div.about_content
    %h2= t('about page.relevancy')
    %p= t('about page.relevancy copy')

    %h2= t('about page.information revolution')
    %p= t('about page.information revolution copy')

    %h2= t('youversion')
    %p= t('about page.youversion copy')

    %p= t('about page.youversion copy 2')

  %hr
  %h2= t('about page.partners title')
  %h4.partner= link_to "American Bible Society", "http://www.americanbible.org"
  %h4.partner= link_to "Biblica", "http://www.biblica.com"
  %h4.partner= link_to "Faith Comes By Hearing", "http://www.faithcomesbyhearing.com"
  %h4.partner= link_to "Good News & Crossway", "http://www.crossway.org"
  %h4.partner= link_to "Lockman Foundation", "http://www.lockman.org"
  %h4.partner= link_to "NavPress", "http://www.navpress.com"
  %h4.partner= link_to "One Hope", "http://www.onehope.net"
  %h4.partner= link_to "Thomas Nelson", "http://www.thomasnelson.com"
  %h4.partner= link_to "Tyndale House Publishers", "http://www.tyndale.com"
  %h4.partner= link_to "Joanne's Inspiration Site", "http://jrsbible.info"

  %hr
  %h2= t('about page.translation title')
  %div.partner
    %h4 Chinese
    %p= link_to "Jidutu-Wiki (基督徒百科网)", "http//www.jidutu-wiki.org/"
  %div.partner
    %h4 French
    %p= link_to "Eglise Vie Victorieuse", "http//www.benis-moi.com/"
  %div.partner
    %h4 Vietnamese
    %p= link_to "VietChristian", "http//www.vietchristian.com/"
  %div.partner
    %h4 Vietnamese
    %p= link_to "VietChristian", "http//www.vietchristian.com/"
  %div.partner
    %h4 German
    %p= link_to "Freie Christengemeinde Stockach", "http//www.fcg-stockach.de/"
  %div.partner
    %h4 Korean
    %p= link_to "Staff for Food for the Hungry, Phoenix, AZ", "http//www.fh.org/"
  %div.partner
    %h4 Dutch
    %p= link_to "Pinkstergemeente Amsterdam- Keerpunt (City Lights)", "http//www.pinkstergemeente-amsterdam.nl/keerpunt/index.php"
