- @title = t("about title")
- @sidebar = false
- @header_title = t('about')

%article
  %h1= t('about title')
  .about_content
    %h2= t('about page.relevancy')
    %p= t('about page.relevancy copy')

    %h2= t('about page.information revolution')
    %p= t('about page.information revolution copy')

    %h2= t('youversion')
    %p= t('about page.youversion copy')

    %p= t('about page.youversion copy 2')
  - if partners = @site.partners.try(:[], I18n.locale)
    .partners_content
      %h2= t('about page.partners title')
      %p= t('about page.partners text')

      - partners.each do |p|
        .partners_box
          %div
            %img{src: asset_path(p[:image]), title: p[:name]}
          %div=link_to t('about page.learn more'), p[:url], class: 'sm_action_button_blue'