:ruby
  @sidebar          = false
  @title            = t("meta.mobile.title")
  @meta_description = t("meta.mobile.description")
  @meta_url          = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"

- content_for :additional_meta do

  %meta{name: "url",            content: @meta_url}
  %meta{property: "og:title",       content: @title }
  %meta{property: "og:url",         content: @meta_url }
  %meta{property: "og:description", content: @meta_description }
  %meta{name: "twitter:card",             content: "summary"}
  %meta{name: "twitter:url",              content: "#{request.protocol}#{request.host_with_port}#{request.fullpath}"}
  %meta{name: "twitter:title" ,           content: @title}
  %meta{name: "twitter:description",      content: @meta_description}
  %meta{name: "twitter:image",            content: "#{url_for(asset_path('Bible-app-icon-english-120x120.png'))}"}
  %meta{name: "twitter:site",             content: "@YouVersion"}

%article.mobileapps
  - style = "position:absolute; z-index:1; margin-left: 572px; margin-top: -131px; height:80px; width:80px; background: url(#{image_path(localized_bible_icon(72))}); background-repeat: no-repeat;background-size:cover !important;" if localized_bible_icon
  %div.icon-overlay.hide-mobile{style: style}
  %div.app-free-overlay.hide-mobile= t('mobile page.free overlay')
  %section#mobile_content
    %h2= t('mobile page.h2')
    %section.main
      %p= t('mobile page.main').html_safe
    %section.multilingual
      - style = "z-index:1; margin:0 auto; height:72px; width:72px; background: url(#{image_path(localized_bible_icon(72))}) center 10px no-repeat;" if localized_bible_icon
      %div.multi
        %div.icon-overlay{style: style}
      -#= image_tag "mobile_multilingual.png"
      %h3= t('mobile page.h3')
      %p= t('mobile page.h3 sub', language_count: 700)
  %section#mobile_downloads
    %h3= t('mobile page.download now')
    %ul.left_column
      %li#dl_iphone= link_to t('mobile page.iphone ipad'), "http://itunes.apple.com/app/bible/id282935706"
      %li#dl_android= link_to t('mobile page.android'), "https://market.android.com/details?id=com.sirma.mobile.bible.android"
      %li#dl_blackberry= link_to t('mobile page.blackberry'), "http://appworld.blackberry.com/webstore/content/1222/"
      %li#dl_windows= link_to t('mobile page.windows phone'), "http://windowsphone.com/s?appid=57f524fa-93e3-df11-a844-00237de2db9e"
      %li#dl_windows8= link_to t('mobile page.windows 8'), "http://apps.microsoft.com/webpdp/app/bible/af5f6405-7860-49a9-a6b4-a47381974e1d"
    %ul.right_column
      %li#dl_hppalm= link_to t('mobile page.hp palm'), "https://developer.palm.com/appredirect/?packageid=com.youversion.palm"
      %li#dl_java= link_to t('mobile page.java'), "http://www.getjar.com/mobile/29005/bible-app"
      %li#dl_symbian= link_to t('mobile page.symbian'), "http://www.getjar.com/mobile/29005/bible-app"
      %li#dl_mobile= link_to t('mobile page.mobile web'), "http://www.bible.com"
      %li#dl_amazon= link_to t('mobile page.amazon'), "http://www.amazon.com/YouVersion-Bible/dp/B004MC8CA2"
    %a.cta
      %h4
        = t('mobile page.button h4')
      %span
        = t('mobile page.button h4 sub')
  %div.clear
  %section.testimonials
    %h2= t('mobile page.what people')
    %ul
      %li
        %h3= t('mobile page.t1')
        %p= t('mobile page.t1 copy')
      %li
        %h3= t('mobile page.t2')
        %p= t('mobile page.t2 copy')
      %li
        %h3= t('mobile page.t3')
        %p= t('mobile page.t3 copy')
