:ruby
  @sidebar          = false
  @title            = t("meta.mobile.title")
  @meta_description = t("meta.mobile.description")
  @meta_url          = "https://#{request.host_with_port}#{request.fullpath}"
  @text_versions_list = Version.all.find_all{|v| text_version_list(I18n.locale.to_s).include? v.id}
  @audio_versions_list = Version.all.find_all{|v| audio_version_list(I18n.locale.to_s).include? v.id}

- content_for :stylesheets do
  = stylesheet_link_tag "slick.css"

- content_for :additional_meta do
  = render '/shared/hreflang'
  - locale_dir = (I18n.locale.to_s.eql?("en") or I18n.locale.to_s.eql?("en-GB")) ? '' : '/' + I18n.locale.to_s
  - canonicalHref = "https://#{request.host_with_port}#{locale_dir}/app"
  %link{rel: "canonical", href: canonicalHref}
  %meta{name: "url",            content: @meta_url}
  %meta{property: "og:title",       content: @title }
  %meta{property: "og:url",         content: @meta_url }
  %meta{property: "og:description", content: @meta_description }
  %meta{name: "twitter:card",             content: "summary"}
  %meta{name: "twitter:url",              content: "#{request.protocol}#{request.host_with_port}#{request.fullpath}"}
  %meta{name: "twitter:title" ,           content: @title}
  %meta{name: "twitter:description",      content: @meta_description}
  %meta{name: "twitter:image",            content: url_for(image_path(localized_bible_icon(120)))}
  %meta{name: "twitter:site",             content: "@YouVersion"}

%article.mobileapps
  - style = "position:absolute; z-index:1; margin-left: 572px; margin-top: -131px; height:80px; width:80px; background: url(#{image_path(localized_bible_icon(72))}); background-repeat: no-repeat;background-size:cover !important;" if localized_bible_icon
  %div.icon-overlay.hide-mobile{style: style}
  %div.app-free-overlay.hide-mobile
    %h2= t('mobile page.free overlay')
  %section#mobile_content
    %h2= t('mobile page.h2')
    %section.main
      %p= t('mobile page.main').html_safe
    %section.multilingual
      - style = "z-index:1; margin:0 auto; height:72px; width:72px; background: url(#{image_path(localized_bible_icon(72))}) center 2px no-repeat;background-size: 72px 72px;" if localized_bible_icon
      %div.multi
        %div.icon-overlay{style: style}
      -#= image_tag "mobile_multilingual.png"
      %h3= t('mobile page.h3')
      %p= t('mobile page.h3 sub', language_count: 700)
  %section#mobile_downloads
    %h1= t('mobile page.download now')
    %ul.left_column
      %li#dl_iphone
        %h2= link_to t('mobile page.iphone ipad'), "http://itunes.apple.com/app/bible/id282935706"
      %li#dl_android
        %h2= link_to t('mobile page.android'), "https://market.android.com/details?id=com.sirma.mobile.bible.android"
      %li#dl_blackberry
        %h2= link_to t('mobile page.blackberry'), "http://appworld.blackberry.com/webstore/content/1222/"
      %li#dl_windows
        %h2= link_to t('mobile page.windows phone'), "http://windowsphone.com/s?appid=57f524fa-93e3-df11-a844-00237de2db9e"
      %li#dl_windows8
        %h2= link_to t('mobile page.windows 8'), "http://apps.microsoft.com/webpdp/app/bible/af5f6405-7860-49a9-a6b4-a47381974e1d"
    %ul.right_column
      %li#dl_hppalm
        %h2= link_to t('mobile page.hp palm'), "https://developer.palm.com/appredirect/?packageid=com.youversion.palm"
      %li#dl_java
        %h2= link_to t('mobile page.java'), "http://www.getjar.com/mobile/29005/bible-app"
      %li#dl_symbian
        %h2= link_to t('mobile page.symbian'), "http://www.getjar.com/mobile/29005/bible-app"
      %li#dl_mobile
        %h2= link_to t('mobile page.mobile web'), "http://www.bible.com"
      %li#dl_amazon
        %h2= link_to t('mobile page.amazon'), "http://www.amazon.com/YouVersion-Bible/dp/B004MC8CA2"
    %a.cta
      %h4
        = t('mobile page.button h4').html_safe
  %div.clear

  %div.lower-content
    %div.version-list
      Over 1000 Bible versions including:
      %ul
        - @text_versions_list.each do |version|
          %li
            = link_to "#{version.title} (#{version.abbreviation.upcase})" , version_path(version)
    - if @audio_versions_list.present?
      %div.version-list
        Listen to Bible audio versions including:
        %ul
          - @audio_versions_list.each do |version|
            %li
              = link_to "#{version.title} (#{version.abbreviation.upcase})" , version_path(version)

    %section.testimonials
      %h2= t('mobile page.what people')
      %div.review-carousel
        %div
          %h3= t('mobile page.t1') + '1'
          %p= t('mobile page.t1 copy')
        %div
          %h3= t('mobile page.t2') + '2'
          %p= t('mobile page.t2 copy')
        %div
          %h3= t('mobile page.t3') + '3'
          %p= t('mobile page.t3 copy')
        %div
          %h3
            Highly recommended 4
          %p
            This is a really great Bible application .I love how you are able to connect with friends and the Bible reading plans are awesome. This application helps me also to stay consistent in reading because it has reminders for the plans. It also gives me another way to come closer to God. Download this and read every day!
        %div
          %h3= t('mobile page.t2') + '5'
          %p= t('mobile page.t2 copy')
        %div
          %h3= t('mobile page.t3') + '6'
          %p= t('mobile page.t3 copy')

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $('.review-carousel').slick({
        centerMode: true,
        centerPadding: "0px",
        slidesToShow: 1,
        infinite: false,
        variableWidth: true,
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerPadding: "10px",
              slidesToShow: 1
            }
          }
        ]
      });
    });