- @main_nav = false
- @sidebar = false

- content_for :stylesheets do
  = stylesheet_link_tag "bdc_home"

= cache "bdc_welcome", expires_in: 5.minutes do
  %article
    %div#hero
      %div#hero_content
        %h1 Welcome to the New Bible.com!
        %p
          Now, Bible.com features a <strong>free</strong> online Bible from YouVersion. The simple, <strong>ad-free Bible experience</strong> loved by millions is available right here at Bible.com.
        %div.clear
        %span
          = link_to('Read the Bible Now', bible_path, :class => 'cta')
      %dev#hero_links
        %div{style: "height: 40px;"}
          %div{id: "fb-root"}
          :javascript
            function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{Cfg.facebook_app_id}";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk');
          %div.fb-like{'data-href' => "http://www.bible.com", 'data-send' => "false", 'data-layout' => "button_count", 'data-width' => "450", 'data-show-faces' => "true", 'data-font' => "arial"}

        %div{style: "height: 40px;"}
          %g:plusone{size: "medium", href: "http://www.bible.com"}
          :javascript
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);

    %img.hero_shadow{:src => asset_path('section_shadow.png')}
    %ul
      %li.read_bible.first
        %div.pod_content
          %h2 Read the Bible.
          %p
            %span.narrow Take your choice from <strong>nearly 300 Bible versions</strong> in <strong>more than 150 languages</strong>.
          %p Compare two versions side by side. You can even choose your font and display size. Make your online Bible experience just the way you like it.
      %li.study_bible
        %div.pod_content
          %h2 Study the Bible.
          %p
            %span.narrow <strong>Highlight</strong> in your favorite color, <strong>bookmark</strong> your favorite Bible verses, and make notes about what you’re learning.
          %p Not only are you spending time in God’s Word, you’re building a history of your interaction with the Bible.
      %li.subscribe_bible
        %div.pod_content
          %h2 Subscribe to Bible Plans.
          %p
            %span.narrow Cover the whole Bible, focus on a topic, or read a devotional from a gifted teacher.
          %p Choose your plan and each day you’ll find a Bible selection waiting for you.
      %li.take_bible.last
        %div.pod_content
          %h2 Take the Bible with you.
          %p
            %span.narrow You can also <a href="mobile">download</a> the Bible App for free on any mobile device.
          %p When you use the mobile app, your notes, bookmarks, highlights, plans, and more will be <strong>synced with Bible.com</strong>. You’ll have access to it all, no matter if you’re reading the Bible on your phone, tablet, or computer.

    %div.explore_cta
      %h1 Get started now.
      %span
        = link_to('Explore the new Bible.com', bible_path)

    %div.bottom_cta
      %h2 Now the Bible is an app!
      %p
        Download the free YouVersion Bible App on your mobile device and you’ll have your Bible with you no matter where you go.
      %span
        = link_to('Download the Bible App', 'http://youversion.com/download')

    %div.old_cta
      %p
        If you are looking for the Christ Unlimited Ministries content by Bud and Betty Miller or the old Bible.com website please visit their new website at <a href='http://www.bibleresources.org'>BibleResources.org</a>