- @main_nav = false
- @sidebar = false

- content_for :stylesheets do
  = stylesheet_link_tag "bdc_home"

= cache "bdc_welcome", expires_in: a_short_time do
  %article
    #hero
      #hero_content
        %h1 A free Bible on your phone, tablet, and computer.
        %p
          YouVersion is a simple, ad-free Bible that brings God’s Word into your daily life.
        %span
          = link_to('Start reading', bible_path, :class => 'cta')
          &nbsp; or learn more below
        %form
          %input{type:"checkbox", name:"skip", checked: cookies["setting-skip-home"], id:"setting-skip-home"}
          %label{for:"setting-skip-home",id:"label-setting-skip-home"}
            Skip this page in the future
        -#hero_links
          %div{style: "height: 40px;"}
            %script{:src => "https://connect.facebook.net/en_US/all.js#xfbml=1"}
            %fb:like{:layout => "button_count", :show_faces => "false", :width => "450", font: "arial"}
          %div{style: "height: 40px;"}
            %g:plusone{size: "medium", href: "http://www.bible.com"}
            :javascript
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    %ul
      %li.read_bible.first
        %div.pod_content
          %h2 Read the Bible.
          %p
            %span.narrow Take your choice from <strong>hundreds of Bible versions and languages.</strong>. Compare two
          %p versions side by side. You can even choose your font and display size. Make your online Bible experience just the way you like it.
      %li.study_bible
        %div.pod_content
          %h2 Study the Bible.
          %p
            %span.narrow <strong>Highlight</strong> in your favorite color, <strong>bookmark</strong> your favorite Bible verses, and make notes about
          %p  what you’re learning. Not only are you spending time in God’s Word, you’re building a history of your interaction with the Bible.
      %li.subscribe_bible
        %div.pod_content
          %h2 Subscribe to Bible Plans.
          %p
            %span.narrow Cover the whole Bible, focus on a topic, or read a devotional from a gifted teacher. Choose your plan
          %p and each day you’ll find a Bible selection waiting for you.
      %li.take_bible.last
        %div.pod_content
          %h2 Take the Bible with you.
          %p
            %span.narrow <a href="mobile">Download</a> the Bible App for free on any mobile device. When you use the mobile
          %p app, your notes, bookmarks, highlights, plans, and more will be <strong>synced with Bible.com</strong>. You’ll have access to it all, no matter if you’re reading the Bible on your phone, tablet, or computer.

    .explore_cta
      %h1 Get started with your free account.
      #get-started-buttons
        %span.fb
          = link_to(t("registration.with facebook"), auth_connect_path(:facebook, redirect: facebook_sign_up_path))
        %span.or
          OR
        %span.email
          = link_to('Sign up using your email address', bible_path, {id: "signup-via-email"})

      - content_for :javascripts do
        :javascript
          // Display signup form.
          var fade = 200;
          $("#signup-via-email").on("click", function(e) {
            e.preventDefault();
            $("#get-started-buttons").fadeOut(fade, function() { $("#signup").fadeIn(fade)});
            $("#signup input[type='email']").focus();
          })

          // Setttings for skipping home page
          $("#setting-skip-home").on("click",function(e) {
            var checked = $(this).attr("checked");
            var label = $("#label-setting-skip-home");
            if(checked){
              setCookie("setting-skip-home","true",365);
              label.html("This page will now be skipped.");
            }
            else {
              alert("here");
              deleteCookie("setting-skip-home");
              label.html("Skip this page in the future.");
            }
          });

      #signup.explore_cta.form{style: "display:none;"}
        = form_for :user, url: sign_up_path do |f|
          %ul
            %li
              = f.text_field :email, {class:"autofocus", type:"email", tabindex:"1", placeholder:"Enter your email address" }
            %li
              = f.text_field :username, {tabindex:"2", placeholder:"Enter your username"}
            %li
              = f.password_field :password, {tabindex:"3", placeholder:"Enter your password"}
            %li.terms
              %span
                = f.check_box :agree, {tabindex:"4"}
              %span
                = f.label :agree, t("users.agreement", terms_link: link_to(t("users.terms and conditions"), terms_url())).html_safe
            %li
              = f.submit t("users.register"), {tabindex:"5", class:"cta"}

    .bottom_cta
      %div
        %h2 God’s word is with you.
        %p
          Download the free YouVersion Bible App on your mobile device and you’ll have your Bible with you no matter where you go.
        %span.counter
          %p
            71,034,791
          %p
            Installs around the world
      %div
        = link_to('Download the Bible App', 'http://youversion.com/download')