- @title = t('donate.donate now')
- @sidebar = false

-# Specific stylesheet for Donate page:

- content_for :stylesheets do
  = stylesheet_link_tag "donate"

%article.donate
  %h1.float_left= t('donate.headline')
  #donate_now_wrap
    #donate_us_wrap
      %a.action_button_green{:href => @us_donate_link}
        %span.icon_arrow= t('donate.donate now')
    %a.intl{:href => @intl_donate_link}
      %span.icon_arrow= t('donate.donate now intl')
    - # %a{:href => '#'}= image_tag '/images/donate_with_paypal.png'
  %hr
  %p.narrow.callout.gutter_bottom_half= t('donate.subhead')
  %p.narrow.gutter_bottom_half= t('donate.copy').html_safe
