:ruby
  @title            = t("meta.mobile.title")
  @meta_description = t("meta.mobile.description")
  @meta_url          = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"

- @main_nav = false
- @sidebar = false
- rtl_class = is_rtl? ? "rtl" : ""

- content_for :stylesheets do
  = stylesheet_link_tag "bdc_home"

- content_for :javascripts do
  = javascript_include_tag "campaigns/100m/jquery.counter.js"

- content_for :typekit_javascripts do
  = javascript_include_tag '//use.typekit.net/mgk8ovf.js'
  :javascript
    try{Typekit.load();}catch(e){}

- content_for :additional_meta do

  %meta{name: "url",            content: @meta_url}
  %meta{property: "og:title",       content: @title }
  %meta{property: "og:url",         content: @meta_url }
  %meta{property: "og:description", content: @meta_description }
  %meta{name: "twitter:card",             content: "summary"}
  %meta{name: "twitter:url",              content: "#{request.protocol}#{request.host_with_port}#{request.fullpath}"}
  %meta{name: "twitter:title" ,           content: @title}
  %meta{name: "twitter:description",      content: @meta_description}
  %meta{name: "twitter:image",            content: "#{url_for(asset_path('Bible-app-icon-english-120x120.png'))}"}
  %meta{name: "twitter:site",             content: "@YouVersion"}

= cache "bdc_welcome_#{I18n.locale}", expires_in: YV::Caching.a_short_time do
  %article
    #hero{class: rtl_class}
      #hero_content
        %h1= t(".hero.heading")
        %p=  t(".hero.description")

        %span
          = link_to(t(".hero.start reading"), bible_path, class: 'cta')
          &nbsp;
          = t("or.lower")
          &nbsp;
          = link_to(t(".hero.learn more"),"#scroll-point", id: "scroll-anchor" )
        %form
          %input{type:"checkbox", name:"skip", checked: cookies["setting-skip-home"], id:"setting-skip-home"}
          %label{for:"setting-skip-home",id:"label-setting-skip-home"}
            =t(".hero.skip in future")
    .hero_pics
      &nbsp;

    .bottom_cta
      %div
        %div
          - style = "background-image: url(#{image_path(localized_bible_icon)})" if localized_bible_icon
          %h2{style: style}= t(".word with you")
          %p{style: style}= t(".download description")
          %span.counter#download-counter
            %p#counter &nbsp;
            %p= t(".world installs")
        %div.mobile_platforms
          = link_to(t(".download action"), app_page_path)

    .explore_cta
      %h2= t(".get started")
      #get-started-buttons
        %span.fb
          = link_to(t("registration.with facebook"), auth_connect_path(:facebook, redirect: facebook_sign_up_path))
        %span.or
          = t("or.upper")
        %span.email
          = link_to(t("registration.with email"), sign_up_path)

    %ul.home-features{class: rtl_class}
      %li.read_bible.first#scroll-point
        %div.pod_content
          %h2= t(".features.read heading")
          %p
            %span.narrow= t(".features.read description", versions_path: versions_path).html_safe

      %li.study_bible
        %div.pod_content
          %h2= t(".features.study heading")
          %p
            %span.narrow= t(".features.study description").html_safe

      %li.subscribe_bible
        %div.pod_content
          %h2= t(".features.subscribe heading")
          %p
            %span.narrow= t(".features.subscribe description").html_safe
      %li.take_bible.last
        %div.pod_content
          %h2= t(".features.download heading")
          %p
            %span.narrow= t(".features.download description").html_safe

- content_for :javascripts do
  :javascript

    function commas(nStr) {
      nStr += '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(nStr)) { nStr = nStr.replace(rgx, '$1' + ',' + '$2');}
      return nStr;
    }


    function installs_data(data) {
      STATS = data;

      var start_count = STATS.start_count;
      var start_date = STATS.start_date;
      var average_per_day = STATS.average_per_day;
      var single_pace = 1/(average_per_day/24/60/60)*1000;
      var today_date = Math.round((new Date()).getTime() / 1000);
      var date_difference_seconds = Math.abs(today_date - start_date);
      var date_difference_days_not_round = (date_difference_seconds / 86400);
      var corrected_total_downloads_not_round = Math.round(start_count + (average_per_day*date_difference_days_not_round));

      $("#counter").counter({
        direction: "up",
        format: "#{t("counter.format").gsub(" ", "&nbsp;")}",
        stop: "9,999,999,999",
        initial: commas(corrected_total_downloads_not_round)
      });

    }

    // Fire off request for download stats jsonp
    $(window).load(function() {

      $.getScript('//commondatastorage.googleapis.com/installs.youversion.com/stats_jsonp.js');

      // Settings for skipping home page
      $("#setting-skip-home").on("click",function(e) {
        var checked = $(this).attr("checked");
        var label = $("#label-setting-skip-home");
        if(checked){
          setCookie("setting-skip-home","true",365);
          label.html("#{t(".hero.now skipped")}");
        }
        else {
          deleteCookie("setting-skip-home");
          label.html("#{t(".hero.skip in future")}");
        }
      });

      $("#scroll-anchor").on("click", function(e) {
        e.preventDefault();
        var pos = $("#scroll-point").offset().top;
        if(app.getPage().MODERN_BROWSER){
          $('html:not(:animated),body:not(:animated)').animate({scrollTop:pos},{easing: 'easeInOutCirc', duration:1000});
        } else {$(window).scrollTop(pos);}

      });


    });