- @main_nav = false
- @sidebar = false

- content_for :stylesheets do
  = stylesheet_link_tag "bdc_home"

= cache "bdc_welcome_#{I18n.locale}", expires_in: a_short_time do
  %article
    #hero
      #hero_content
        %h1= t(".hero.heading")
        %p=  t(".hero.description")

        %span
          = link_to(t(".hero.start reading"), bible_path, class: 'cta')
          = t("or.lower")
          = link_to(t(".hero.learn more"),"#scroll-point", id: "scroll-anchor" )
        %form
          %input{type:"checkbox", name:"skip", checked: cookies["setting-skip-home"], id:"setting-skip-home"}
          %label{for:"setting-skip-home",id:"label-setting-skip-home"}
            =t(".hero.skip in future")

        -#hero_links
          %div{style: "height: 40px;"}
            %script{:src => "https://connect.facebook.net/en_US/all.js#xfbml=1"}
            %fb:like{:layout => "button_count", :show_faces => "false", :width => "450", font: "arial"}
          %div{style: "height: 40px;"}
            %g:plusone{size: "medium", href: "http://www.bible.com"}
            :javascript
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    %ul
      %li.read_bible.first#scroll-point
        %div.pod_content
          %h2= t(".features.read heading")
          %p
            %span.narrow= t(".features.read description").html_safe

      %li.study_bible
        %div.pod_content
          %h2= t(".features.study heading")
          %p
            %span.narrow= t(".features.study description").html_safe

      %li.subscribe_bible
        %div.pod_content
          %h2= t(".features.subscribe heading")
          %p
            %span.narrow= t(".features.subscribe description").html_safe
      %li.take_bible.last
        %div.pod_content
          %h2= t(".features.download heading")
          %p
            %span.narrow= t(".features.download description").html_safe

    .explore_cta
      %h2= t(".get started")
      #get-started-buttons
        %span.fb
          = link_to(t("registration.with facebook"), auth_connect_path(:facebook, redirect: facebook_sign_up_path))
        %span.or
          = t("or.upper")
        %span.email
          = link_to(t("registration.with email"), sign_up_path, {id: "signup-via-email"})

      #signup.explore_cta.form{style: "display:none;"}
        = form_for :user, url: sign_up_path do |f|
          %ul
            %li
              = f.text_field :email, {class:"autofocus", type:"email", tabindex:"1", placeholder: t("registration.placeholder.email") }
            %li
              = f.text_field :username, {tabindex:"2", placeholder: t("registration.placeholder.username")}
            %li
              = f.password_field :password, {tabindex:"3", placeholder: t("registration.placeholder.password")}
            %li.terms
              %span
                = f.check_box :agree, {tabindex:"4"}
              %span
                = f.label :agree, t("users.agreement", terms_link: link_to(t("users.terms and conditions"), terms_url())).html_safe
            %li
              = f.submit t("users.register"), {tabindex:"5", class:"cta"}

    .bottom_cta
      %div
        - style = "background-image: url(#{image_path(localized_bible_icon)})" if localized_bible_icon
        %h2{style: style}= t(".word with you")
        %p{style: style}= t(".download description")
        %span.counter#download-counter
          %p &nbsp;
          %p= t(".world installs")
      %div
        = link_to(t(".download action"), 'http://youversion.com/download')

- content_for :javascripts do
  :javascript

    // Utility to format
    function commas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    var infographic = {};

    function tickInfographic() {
        var now = new Date();
        currentRatio = (now - new Date((now.getMonth() + 1) + "/" + now.getDate() + "/" + now.getFullYear())) / 86400000;
        var figure = Math.ceil((infographic.installs.total - infographic.installs.daily) + (infographic.installs.daily * currentRatio));
        $("#download-counter p:first").html(commas(figure))
    }


    // Jsonp callback for https://s3.amazonaws.com/now.youversion.com/flurry.js
    function flurryData(data, last_modified_str) {
      if (data['installs']) {
        //$("#download-counter p:first").html(commas(data['installs'][0]))
        for (var i in data) {
          var item = data[i];
          infographic[i] = { total: item[0], daily: item[1] };
        }
      }
      setInterval(tickInfographic, 500);
      tickInfographic();
    }

    // Fire off request for download stats jsonp
    $(window).load(function() {

      $.getScript('https://s3.amazonaws.com/now.youversion.com/flurry.js');

      // Display signup form.
      var fade = 200;
      $("#signup-via-email").on("click", function(e) {
        e.preventDefault();
        $("#get-started-buttons").fadeOut(fade, function() {
          $("#signup").fadeIn(fade);
          $("#user_email").focus();
        });
      });

      // Settings for skipping home page
      $("#setting-skip-home").on("click",function(e) {
        var checked = $(this).attr("checked");
        var label = $("#label-setting-skip-home");
        if(checked){
          setCookie("setting-skip-home","true",365);
          label.html("#{t(".hero.now skipped")}");
        }
        else {
          deleteCookie("setting-skip-home");
          label.html("#{t(".hero.skip in future")}");
        }
      });

      $("#scroll-anchor").on("click", function(e) {
        e.preventDefault();
        var pos = $("#scroll-point").offset().top;
        if(app.getPage().MODERN_BROWSER){
          $('html:not(:animated),body:not(:animated)').animate({scrollTop:pos},{easing: 'easeInOutCirc', duration:1000});
        } else {$(window).scrollTop(pos);}

      });


    });