- @main_nav = false
- @sidebar = false

- content_for :stylesheets do
  = stylesheet_link_tag "bdc_home"

- content_for :javascripts do
  = javascript_include_tag "campaigns/100m/jquery.counter.js"

= cache "bdc_welcome_#{I18n.locale}", expires_in: a_short_time do
  %article
    #hero
      #hero_content
        %h1= t(".hero.heading")
        %p=  t(".hero.description")

        %span
          = link_to(t(".hero.start reading"), bible_path, class: 'cta')
          &nbsp;
          = t("or.lower")
          &nbsp;
          = link_to(t(".hero.learn more"),"#scroll-point", id: "scroll-anchor" )
        %form
          %input{type:"checkbox", name:"skip", checked: cookies["setting-skip-home"], id:"setting-skip-home"}
          %label{for:"setting-skip-home",id:"label-setting-skip-home"}
            =t(".hero.skip in future")
    .hero_pics
      &nbsp;

    .bottom_cta
      %div
        %div
          - style = "background-image: url(#{image_path(localized_bible_icon)})" if localized_bible_icon
          %h2{style: style}= t(".word with you")
          %p{style: style}= t(".download description")
          %span.counter#download-counter
            %p#counter &nbsp;
            %p= t(".world installs")
        %div.mobile_platforms
          = link_to(t(".download action"), 'http://bible.com/app')

    %ul
      %li.read_bible.first#scroll-point
        %div.pod_content
          %h2= t(".features.read heading")
          %p
            %span.narrow= t(".features.read description").html_safe

      %li.study_bible
        %div.pod_content
          %h2= t(".features.study heading")
          %p
            %span.narrow= t(".features.study description").html_safe

      %li.subscribe_bible
        %div.pod_content
          %h2= t(".features.subscribe heading")
          %p
            %span.narrow= t(".features.subscribe description").html_safe
      %li.take_bible.last
        %div.pod_content
          %h2= t(".features.download heading")
          %p
            %span.narrow= t(".features.download description").html_safe

    .explore_cta
      %h2= t(".get started")
      #get-started-buttons
        %span.fb
          = link_to(t("registration.with facebook"), auth_connect_path(:facebook, redirect: facebook_sign_up_path))
        %span.or
          = t("or.upper")
        %span.email
          = link_to(t("registration.with email"), sign_up_path, {id: "signup-via-email"})

      #signup.explore_cta.form{style: "display:none;"}
        = form_for :user, url: sign_up_path do |f|
          %ul
            %li
              = f.text_field :email, {class:"autofocus", type:"email", tabindex:"1", placeholder: t("registration.placeholder.email") }
            %li
              = f.text_field :username, {tabindex:"2", placeholder: t("registration.placeholder.username")}
            %li
              = f.password_field :password, {tabindex:"3", placeholder: t("registration.placeholder.password")}
            %li.terms
              %span
                = f.check_box :agree, {tabindex:"4"}
              %span
                = f.label :agree, t("users.agreement", terms_link: link_to(t("users.terms and conditions"), terms_url())).html_safe
            %li
              = f.submit t("users.register"), {tabindex:"5", class:"cta"}



- content_for :javascripts do
  :javascript

    function commas(nStr) {
      nStr += '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(nStr)) { nStr = nStr.replace(rgx, '$1' + ',' + '$2');}
      return nStr;
    }


    function installs_data(data) {
      STATS = data;

      var start_count = STATS.start_count;
      var start_date = STATS.start_date;
      var average_per_day = STATS.average_per_day;
      var single_pace = 1/(average_per_day/24/60/60)*1000;
      var today_date = Math.round((new Date()).getTime() / 1000);
      var date_difference_seconds = Math.abs(today_date - start_date);
      var date_difference_days_not_round = (date_difference_seconds / 86400);
      var corrected_total_downloads_not_round = Math.round(start_count + (average_per_day*date_difference_days_not_round));

      $("#counter").counter({
        direction: "up",
        format: "99,999,999",
        stop: "110,000,000",
        initial: commas(corrected_total_downloads_not_round)
      });

    }

    // Fire off request for download stats jsonp
    $(window).load(function() {

      $.getScript('//commondatastorage.googleapis.com/installs.youversion.com/stats_jsonp.js');

      // Display signup form.
      var fade = 200;
      $("#signup-via-email").on("click", function(e) {
        e.preventDefault();
        $("#get-started-buttons").fadeOut(fade, function() {
          $("#signup").fadeIn(fade);
          $("#user_email").focus();
        });
      });

      // Settings for skipping home page
      $("#setting-skip-home").on("click",function(e) {
        var checked = $(this).attr("checked");
        var label = $("#label-setting-skip-home");
        if(checked){
          setCookie("setting-skip-home","true",365);
          label.html("#{t(".hero.now skipped")}");
        }
        else {
          deleteCookie("setting-skip-home");
          label.html("#{t(".hero.skip in future")}");
        }
      });

      $("#scroll-anchor").on("click", function(e) {
        e.preventDefault();
        var pos = $("#scroll-point").offset().top;
        if(app.getPage().MODERN_BROWSER){
          $('html:not(:animated),body:not(:animated)').animate({scrollTop:pos},{easing: 'easeInOutCirc', duration:1000});
        } else {$(window).scrollTop(pos);}

      });


    });