- @sidebar = false
- content_for :typekit_javascripts do
  = javascript_include_tag '//use.typekit.net/mgk8ovf.js'
  :javascript
    try{Typekit.load();}catch(e){}

%article.social-intro
  %h1.intro-title
    Conversation &amp; Discovery
  %p.intro-copy
    A new way to explore the Bible with trusted friends.

  .intro-moment
    .intro-moment-box
      .moment
        -# !the content of the moment
        .moment-top
          .moment-bm
            %span.moment-icon
              &nbsp;
            %span.moment-avatar
              = image_tag "josh_avatar.png"
            %span.moment-time
              5 days ago

            %h2.moment-bm-text
              <a href="#" class="moment-title-link">Aaron Steele bookmarked <b>Psalm 31:7</b></a>
            .moment-verse-wrap
              %p.moment-verse
                I will be glad and rejoice in your unfailing love, for you have seen my troubles, and you care about the anguish of my soul.

              %a{href: "#", class: "moment-verse-link"}
                Psalm 31:7

        -# !share controls, dates, and comments
        .moment-actions
          %span.moment-actions-like
            %a{href:"#", title: t("moments.action.like title")}
              = t("moments.action.like")
          %span.moment-actions-comment
            %a{href: "#"}
              Comment

  .intro-discover-copy
    %p
      Discover and learn with your friends as they add highlights, bookmarks, and notes.
    %span
      &nbsp;

  .intro-comments
    .moment-comments
      %span.moment-comments-more
        %a{href: "#"}
          Andy Knight
        and <a href="#">4 more</a> like this

      %ul.moment-comments-list
        %li.moment-comments-list-comment
          %span.moment-comments-list-avatar
            = image_tag "andy_avatar.png"
          %p.moment-comments-list-text
            <a href="#">Andy Knight</a> Really needed to hear that today, thanks. Let‘s catch up soon!
            %span.moment-comment-dt
              about 3 hours ago
        %li.moment-comments-list-comment
          %span.moment-comments-list-avatar
            = image_tag "josh_avatar.png"
          %p.moment-comments-list-text
            <a href="#">Aaron Steele</a> Amen, me too. Sending you an email now.
            %span.moment-comment-dt
              about 27 minutes ago

      = form_tag(comments_url, method: "post") do
        %span.moment-comments-input
          %span.moment-comments-input-avatar
            = image_tag "josh_avatar.png"
          %textarea{class: "moment-comments-textarea comment-field"}
            Write a comment...

  .intro-share-copy
    %span
      &nbsp;
    %p
      Share honest conversations about Scripture.

  .intro-discover-copy-btn
    %a{href: "#", class: "action_button_green"}
      Where can I start?

  .intro-share-copy-btn
    %a{href: "#", class: "action_button_blue"}
      Get started by finding some friends.