- @sidebar = false
%article.mobile
	%section#mobile_content.float_left
		%h2= t('mobile page.h2')
		%section.main
			%p= t('mobile page.main')
		%section.multilingual.float_left
			%img{:src => "images/mobile_multilingual.png"}
			%h3= t('mobile page.h3')
			%p= t('mobile page.h3 sub')
	%section#mobile_downloads.float_right
		%h3= t('mobile page.download now')
		%ul.left_column.float_left
			%li#dl_iphone= t('mobile page.iphone ipad')
			%li#dl_android= t('mobile page.android')
			%li#dl_blackberry= t('mobile page.blackberry')
			%li#dl_windows= t('mobile page.windows phone')
		%ul.right_column.float_right
			%li#dl_hppalm= t('mobile page.hp palm')
			%li#dl_java= t('mobile page.java')
			%li#dl_symbian= t('mobile page.symbian')
			%li#dl_mobile= t('mobile page.mobile web')
		%a.cta
			%img.float_left{:src => "images/mobile_download.png"}
			%h4= t('mobile page.button h4')
			%span= t('mobile page.button h4 sub')
	%div.clear
	%section.testimonials
		%h2= t('mobile page.what people')
		%ul
			%li
				%h3= t('mobile page.t1')
				%p= t('mobile page.t1 copy')
			%li
				%h3= t('mobile page.t2')
				%p= t('mobile page.t2 copy')
			%li
				%h3= t('mobile page.t3')
				%p= t('mobile page.t3 copy')
