- content_for :sidebar do
  .widget
    %header
      %span= t('press page.contact header')
    %ul.widget_menu
      %li
        %p
          %strong= t('press page.phone')
          %br
          405.216.2332
      %li
        %p
          %strong= t('press page.email')
          %br
          lori.bailey@lifechurch.tv
      %li
        %p
          %strong= t('press page.support')
          %br
          =link_to "support.youversion.com", external_url(:support)
  .widget
    %header
      %span= t('press page.contact header 2')
    %ul.widget_menu
      %li
        %p
          %strong= t('press page.blog')
          %br
          =link_to "blog.youversion.com", "http://blog.youversion.com"
      %li
        %p
          %strong= t('press page.facebook')
          %br
          =link_to "facebook.com/youversion", "http://facebook.com/youversion"
      %li
        %p
          %strong= t('press page.twitter')
          %br
          =link_to "twitter.com/youversion", "http://twitter.com/youversion"
%article.press
  %h1= t('press page.title')
  %p{style: "text-align: center;"}= image_tag "press_image.png"
  %p= t('press page.lead copy').html_safe
  %h2= t('press page.now title')
  %ul.press_resources
    %li
      %a{class: "action_button_blue", href: "http://now.youversion.com"}= t('visit link')
      %h4= t('press page.resources.now')
  %hr
  %h2= t('press page.resources title')
  %ul.press_resources
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/AboutYouVersion%26BibleApp.docx"}= t('download')
      %h4= t('press page.resources.about')
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/YouVersion-Brand-Manual.zip"}= t('download')
      %h4= t('press page.resources.manual')
  %hr
  %h2= t('press page.images title')
  %ul.press_resources
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/Bible-App-Icons.zip"}= t('download')
      %h4= t('press page.images.icons')
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/YouVersion-images-iphone.zip"}= t('download')
      %h4= t('press page.images.iphone')
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/YouVersion-images-ipad.zip"}= t('download')
      %h4= t('press page.images.ipad')
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/YouVersion-images-android.zip"}= t('download')
      %h4= t('press page.images.android')
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/YouVersion-images-blackberry.zip"}= t('download')
      %h4= t('press page.images.blackberry')
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/YouVersion-images-windowsphone7.zip"}= t('download')
      %h4= t('press page.images.win phone 7')
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/YouVersion-images-windows8.zip"}= t('download')
      %h4= t('press page.images.windows 8')
    %li
      %a{class: "action_button_blue", href: "http://web-assets.youversion.com.s3.amazonaws.com/press/YouVersion-images-lifestyle.zip"}= t('download')
      %h4= t('press page.images.lifestyle')

  %hr
  %h2= t('press page.links title')
  %ul.press_resources
    %li
      %a{class: "action_button_blue", href: "http://finance.yahoo.com/news/translating-bible-e-book-works-155728110.html"}= t('visit link')
      %h4 The Atlantic
      %p Translating the Bible – Into an E-Book...
    %li
      %a{class: "action_button_blue", href: "http://www.fastcompany.com/most-creative-people/2011/bobby-gruenewald-youversion"}= t('visit link')
      %h4 Fast Company
      %p The 100 Most Creative People in Business 2011
    %li
      %a{class: "action_button_blue", href: "http://www.cbn.com/cbnnews/healthscience/2011/May/Biblically-Engaged-A-Bible-App-Revolution/"}= t('visit link')
      %h4 CBN
      %p Millions Plug into the 'Bible App Revolution'
    %li
      %a{class: "action_button_blue", href: "http://www.churchtimes.co.uk/content.asp?id=112697"}= t('visit link')
      %h4 Church Times (UK)
      %p Free Bible phone app attracts millions
    %li
      %a{class: "action_button_blue", href: "http://100huntley.com/video.php?id=Ap1rXqWL0k0"}= t('visit link')
      %h4 100 Huntley Street
      %p Jesus in a Digital Age
    %li
      %a{class: "action_button_blue", href: "http://www.usatoday.com/news/religion/2011-01-16-bible-iPhone-Droid-Blackberry-16_ST_N.htm"}= t('visit link')
      %h4 USA Today
      %p Okla. church's popular Bible app takes faith to phones
    %li
      %a{class: "action_button_blue", href: "http://techcrunch.com/2010/12/25/happy-birthday-it-turns-out-jesus-is-still-bigger-than-angry-birds-tctv/"}= t('visit link')
      %h4 TechCrunch
      %p Happy Birthday: Jesus Is almost Bigger than Angry Birds
    %li
      %a{class: "action_button_blue", href: "http://religion.blogs.cnn.com/2010/11/19/bible-app-hits-10-million-downloads/"}= t('visit link')
      %h4 CNN
      %p Bible App Hits 10 Million Downloads
    %li
      %a{class: "action_button_blue", href: "http://www.nytimes.com/external/venturebeat/2010/11/16/16venturebeat-god-comes-to-the-smartphone-bible-app-youver-96442.html?ref=technology"}= t('visit link')
      %h4 New York Times
      %p God Comes to the Smartphone: Bible App YouVersion Grabs 10M Users
    %li
      %a{class: "action_button_blue", href: "http://gigaom.com/2010/11/15/bible-app/"}= t('visit link')
      %h4 GigaOM
      %p What if the Apostles Developed an iPhone App?
