- @sidebar = false
- I18n.locale = :en
-# Specific stylesheet for Status page:

- content_for :stylesheets do
  = stylesheet_link_tag "status"
  
:ruby
  chart_width = 835
  chart_height = 250
  
%article
  %h1 Status
  %hr
  %section  
    %h3 End User Performance
    .content
      %iframe{src: "https://rpm.newrelic.com/public/charts/hGauGaeuirB", width: "#{chart_width}", height: "#{chart_height}", scrolling: "no", frameborder: "no"}
  %section
    %h3 Appliction Response
    .content
      %iframe{src: "https://rpm.newrelic.com/public/charts/63vqELBV3oK", width: "#{chart_width}", height: "#{chart_height}", scrolling: "no", frameborder: "no"}
      %iframe{src: "https://rpm.newrelic.com/public/charts/gjZOW2ABkh5", width: "#{chart_width}", height: "#{chart_height}", scrolling: "no", frameborder: "no"}
  %section
    %h3 API Performance
    .content
      %iframe{src: "https://rpm.newrelic.com/public/charts/4fDldXgs7Js", width: "#{chart_width}", height: "#{chart_height}", scrolling: "no", frameborder: "no"}
  %section
    %h3 Troubleshooting Info
    .content
      %p
        %b App Symbols:
        %span.mute= Symbol.all_symbols.size
      %p                                                                                                                                                        
        %b App Memory Info:                                                                                                                                     
        %div                                                                                                                                                    
          %b Process Memory Usage:                                                                                                                              
          %span.mute= number_to_human_size(`ps -o rss= -p #{Process.pid}`.to_i * 1024)
        -ObjectSpace.count_objects.each do |k, v|
          %div                                                                                                                                                  
            %b #{k}:                                                                                                                                            
            %span.mute= v
