- @sidebar = false
- @main_nav = false
- I18n.locale = :en
-# Specific stylesheet for Status page:

- content_for :stylesheets do
  = stylesheet_link_tag "status"

:ruby
  chart_width = 835
  chart_height = 250

%article
  -if params[:p]= "yv123"
    %h1 Status
    %hr
    %section
      %h3 End User Performance
      .content
        %iframe{src: "https://heroku.newrelic.com/public/charts/dfMtFadfGXx", width: "#{chart_width - 52}", height: "#{chart_height}", scrolling: "no", frameborder: "no"}
    %section
      %h3 Appliction Response
      .content
        %iframe{src: "https://rpm.newrelic.com/public/charts/6HipkH06PRE", width: "#{chart_width}", height: "#{chart_height}", scrolling: "no", frameborder: "no", style: "margin-left: 1px"}
        %iframe{src: "https://rpm.newrelic.com/public/charts/4kQd3EfVuIj", width: "#{chart_width-66}", height: "#{chart_height}", scrolling: "no", frameborder: "no", style: "margin-left: 14px"}
    %section
      %h3 API Performance
      .content
        %iframe{src: "https://rpm.newrelic.com/public/charts/a54EBDL5jZK", width: "#{chart_width - 6}", height: "#{chart_height}", scrolling: "no", frameborder: "no", style: "margin-left: 2px"}
        %iframe{src: "https://rpm.newrelic.com/public/charts/fKCnSIf12Xu", width: "#{chart_width - 6}", height: "#{chart_height}", scrolling: "no", frameborder: "no", style: "margin-left: 2px"}
    %section
      %h3 Instance Debug Info (This Unicorn Worker)
      .content
        %p
          %b Log Level:
          %span.mute= "#{%w(debug info warn error fatal)[Rails.logger.level]}(#{Rails.logger.level})"
        %p
          %b Memory Usage:
          %span.mute= number_to_human_size(`ps -o rss= -p #{Process.pid}`.to_i * 1024)
  - else
    %h1 Stranger Danger!
