- @sidebar = false
- I18n.locale = :en
-# Specific stylesheet for Status page:

- content_for :stylesheets do
  = stylesheet_link_tag "status"
  
:ruby
  chart_width = 835
  chart_height = 250
  
%article
  %h1 Status
  %hr
  %section  
    %h3 End User Performance
    .content
      %iframe{src: "https://rpm.newrelic.com/public/charts/dwESE45pyE8", width: "#{chart_width - 52}", height: "#{chart_height}", scrolling: "no", frameborder: "no"}
  %section
    %h3 Appliction Response
    .content
      %iframe{src: "https://rpm.newrelic.com/public/charts/9UCxD1QtFJ3", width: "#{chart_width}", height: "#{chart_height}", scrolling: "no", frameborder: "no", style: "margin-left: 1px"}
      %iframe{src: "https://rpm.newrelic.com/public/charts/dPQfWhaZG5W", width: "#{chart_width-66}", height: "#{chart_height}", scrolling: "no", frameborder: "no", style: "margin-left: 14px"}
  %section
    %h3 API Performance
    .content
      %iframe{src: "https://rpm.newrelic.com/public/charts/j9s5IYNKVm0", width: "#{chart_width - 6}", height: "#{chart_height}", scrolling: "no", frameborder: "no", style: "margin-left: 2px"}
  %section
    %h3 Instance Debug Info (This Unicorn Worker)
    .content
      %p
        %b App Symbols:
        %span.mute= Symbol.all_symbols.size
      %p
        %b Memory Usage:
        %span.mute= number_to_human_size(`ps -o rss= -p #{Process.pid}`.to_i * 1024)
      %p  
        %ul
          %b Objects:
          -ObjectSpace.count_objects.each do |k, v|
            %li
              %b #{k}:
              %span.mute= v
