- @title = "Trending Bible Verses"

- content_for :additional_meta do
  = render '/shared/hreflang'

- content_for :meta_description do
  = "trending meta"

- content_for :sidebar do
  = render partial: 'widgets/download_app'
  = render partial: 'widgets/bible_app_for_kids'

= cache "trending_#{I18n.locale}", expires_in: YV::Caching.a_short_time do
  %article#trending-verses
    %h1
      Trending Bible verses
    - rank = 0
    - @trending_verses.each do |verse|
      - rank = rank + 1
      %h2= link_to "#{rank}. #{verse.human}", reference_path(version: verse.version, reference: verse.to_param)

