%article
  %h1= t('make a donation')
  %p= t('donate.header confirm copy')
  = form_for :sim_transaction, :url => "https://secure.authorize.net/gateway/transact.dll" do |f|
    = sim_fields(@sim_transaction)
    = donation_fields(@donation)
    = hidden_field_tag( :x_email_customer, @email_customer) if @email_customer
    = hidden_field_tag( :x_header_email_receipt, t('donate.email header'))
    = hidden_field_tag( :x_footer_email_receipt, t('donate.email footer'))
    = hidden_field_tag( :x_merchant_email, "giving@lifechurch.tv")

    %p
      %strong= "#{t('donate.name')}: "
      %span= @donation.name
      %br
      %strong= "#{t('users.email address')}: "
      %span= @donation.email
      %br
      %strong= "#{t('donate.address')}: "
      %span= @donation.address
      %br
      %strong= "#{t('donate.city')}: "
      %span= @donation.city
      %br
      %strong= "#{t('donate.state')}: "
      %span= @donation.state
      %br
      %strong= "#{t('donate.zip')}: "
      %span= @donation.zip
    %p
      %strong= "#{t('donate.amount')}: "
      %span= number_to_currency(@donation.amount)
    %p
      = label_tag 'x_card_num', t('donate.card number')
      %br
      = text_field_tag 'x_card_num', nil, {class: "autofocus", type: "tel", style: "margin-top: 5px", tabindex: 12}
    %p
      = label_tag 'x_exp_date', t('donate.card exp date')
      %br
      = text_field_tag 'x_exp_date', nil, type: "tel", maxlength: 4, tabindex: 24
    %div{style: 'padding-top: 1em; padding-bottom: 1em'}
      %button{class: "action_button_green", tabindex: 36, action: "submit"}
        = t('donate.donate now button')


