%article
  %h1= t('make a donation')
  %p= t('donate.header copy')
  = form_tag do
    %p{class: "emphasis"}
      = label_tag 'tr[x_amount]', t('donate.amount')
      %br
      %span{style: "font-size:24px; display: inline-block; margin-right: -1em; top: 7px; left: 4px; position: relative; z-index: 2"} $
      = text_field_tag 'tr[x_amount]', nil, {class: "autofocus", type: "tel", style: "font-size:24px; padding-left: 24px; margin-top: 5px; width: 7em", tabindex: 6}
    
    = label_tag 'tr[x_name]', t('donate.name')
    = text_field_tag 'tr[x_name]', @name, {tabindex: 12}

    = label_tag 'tr[x_email]', t('users.email address')
    = text_field_tag 'tr[x_email]', @email, {tabindex: 24, type: "email"}

    = label_tag 'tr[x_address]', t('donate.address')
    = text_field_tag 'tr[x_address]', nil, {tabindex: 36, class: "address"}

    = label_tag 'tr[x_city]', t('donate.city')
    = text_field_tag 'tr[x_city]', @city, tabindex: 48
    
    = label_tag 'tr[x_state]', t('donate.state')
    = select_tag 'tr[x_state]', options_for_select(us_states, selected: @state), {:tabindex => 60}
    
    = label_tag 'tr[x_zip]', t('donate.zip')
    = text_field_tag 'tr[x_zip]', @zip, {tabindex: 72, style: "width: 100px"}

    %div{style: "position: relative; top: 15px; left: -6px; clear:left"}
      = check_box_tag 'tr[x_email_customer]', "yes", true, tabindex: 84
      = label_tag 'tr[x_email_customer]', t('donate.receipt')
      
  %div
    %button{class: "action_button_green", tabindex: 96, action: "submit"}
      = t('donate.preview')
