#widget-notes.comm-notes.notes.widget{"ng-controller" => "ReaderNotesCtrl", "ng-cloak" => "true"}
  %div.hd{"ng-click" => "toggle()"}
    %span= t("notes.community notes")

  %div.bd{"ng-hide" => "collapsed || notes"}
    %p= t('notes.loading community')
  %div.bd{"ng-show" => "!collapsed && notes && notes.length == 0"}
    %p= t('notes.no community notes')

  %ul{"ng-hide" => "collapsed"}
  %li{"ng-repeat" => "note in notes track by $index","ng-hide" => "collapsed"}
    %img{"ng-src" => "{{note.user.avatars.collection[0].url}}"}
    %a{"ng-href" => "/notes/{{note.id}}"}
      {{note.title}}&nbsp;
    %p.mute.small= "{{note.user.name}}"
  %div.ft{"ng-hide" => "collapsed"}
    %span.pagination.next{"ng-click" => "nextPage(-1)", "ng-show" => "isEnabled(-1)"}= t('pagination.previous page')
    %span.pagination.next{"ng-click" => "nextPage(1)", "ng-show" => "isEnabled(1)"}= t('pagination.next page')
