- meta_language = @version.attributes.language.local_name
- meta_language = "#{meta_language} - #{@version.attributes.language.name}" if (@version.attributes.language.name.present? and not (meta_language.eql?(@version.attributes.language.name)))
- @title = "#{@version.to_s} - #{t('download ad.meta copy title')}.  #{t('meta.mobile.download or read')} #{meta_language} #{t('bible')} - Android, iPhone, iPad, Android tablet, Blackberry"
- @subtitle = ''

- unless is_whitelabel_site
  - content_for :additional_meta do
    - if (I18n.locale.to_s.eql?("en") or I18n.locale.to_s.eql?("en-GB"))
      %link{rel: "amphtml", href: "https://www.bible.com/-amp/versions/#{@version.id}.html"}
    - locale_dir = (I18n.locale.to_s.eql?("en") or I18n.locale.to_s.eql?("en-GB")) ? '' : '/' + I18n.locale.to_s
    - locale_dir = '/es' if I18n.locale.to_s.eql?('es-ES')
    - locale_dir = '/pt' if I18n.locale.to_s.eql?('pt-PT')
    - canonicalHref = "https://www.bible.com#{locale_dir}/versions/#{@version.to_param}"
    %link{rel: "canonical", href: canonicalHref}
    %link{rel: "alternate", href: "android-app://com.sirma.mobile.bible.android/youversion/version?id=#{@version.id}"}

- content_for :meta_description do
  = "#{@version.to_s} - #{t('download ad.description copy', language_count: 900)} #{t('meta.mobile.download or read')}"

.row
  .medium-8.columns
    %article
      %h1= @version
      - display_language = @version.attributes.language.name
      - display_language = "#{display_language} - #{@version.attributes.language.local_name}" if not display_language.eql?(@version.attributes.language.local_name)
      %h2.version
        %div= "#{display_language}"
        - if @version.audio
          = link_to t("audio bible"), audiobible_path(@version), { class: 'mobile', target: '_self' }

      .copyright= @version.info.try :html_safe
      %br
      = link_to t("versions.read title"), bible_version_path((@returnTo || default_reference).merge(version: @version)), { class: 'solid-button mobile-full blue', target: '_self' }
      = link_to t("mobile page.download now"), app_page_path, { class: 'show-for-small-only version_download solid-button mobile-full green', target: '_self' }

  .medium-4.columns.show-for-medium-up.l-border
    .widget-button
      = link_to t("versions.read title"), bible_version_path((@returnTo || default_reference).merge(version: @version)), { class: 'solid-button blue full', target: '_self' }

    - if @version.audio
      .widget-button
        = link_to t("audio bible"), audiobible_path(@version), { class: 'solid-button green audio-link full', target: '_self' }

    - if @version.publisher.name.present? || @version.publisher.id.blank?
      - pub_name = @version.publisher.name || t('versions.public domain')
      .widget
        %h3.hd
          =t("versions.publisher widget title")
        %ul.menu
          %li
            - if @version.publisher.url.present?
              = link_to pub_name, @version.publisher.url, { target: '_self' }
            -else
              %p= pub_name

    - if @related.present?
      .widget
        %h3.hd
          =t("versions.other versions")
        %ul.menu
          - @related.each do |v|
            %li
              = link_to v, v, { target: '_self' }

    = render partial: 'widgets/download_app', :locals => {show_sms: true}

  - content_for :title do
    = @version

  - content_for :mobile_right_nav do
    = link_to t("versions.read title"), bible_version_path((@returnTo || default_reference).merge(version: @version)), { class: 'save_btn', target: '_self' }

- @branch_deeplink = "version?id=#{@version.id}"
= render '/shared/app_banner'

%script{type: "application/ld+json"}
  {
  "@context": "http://schema.org/",
  "@type": "MobileApplication",
  "name": "#{t('bible')}",
  "image": "#{url_for(image_path(localized_bible_icon(120)))}",
  "description": "#{t("meta.mobile.description")}",
  "operatingSystem": "Android, iOS, BlackBerry, Windows Phone 8",
  "applicationCategory": "Reference",
  "aggregateRating":{
  "@type": "AggregateRating",
  "ratingValue": "4.7",
  "ratingCount": "1,786,398"
  },
  "offers":{
  "@type": "Offer",
  "price": "0"
  }
  }
