-# Google Sign In
:javascript
  // Empty placeholder that can be overridden in other places
  function gapiStartApp() {

  }

-# Facebook Sign In
:javascript
  var newOrigin = '.' + window.location.hostname.split('.').splice(-2).join('.')
  self.origin = newOrigin
  document.origin = newOrigin

  window.fbAsyncInit = function() {
    FB.init({
      appId      : "#{Cfg.facebook_signin_app_id}",
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1'
    });

    FB.AppEvents.logPageView();

    setTimeout(function() {
      if (typeof fbapiStartApp === 'function') {
        fbapiStartApp();
      }
    }, 250);
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

- if content_for? :typekit_javascripts
  = yield :typekit_javascripts

-#= javascript_include_tag "vendor/modernizr"
= javascript_include_tag "application", 'data-turbolinks-track' => false

-#= javascript_include_tag "i18n/en" # always include for fallback

-#- if I18n.locale.to_s != "en"
-#  = javascript_include_tag "i18n/#{I18n.locale}"

- if content_for? :javascripts
  = yield :javascripts

%script{src:"https://apis.google.com/js/platform.js", async: true, defer: true, onload: 'gapiStartApp()'}
