- @title = t('versions.index title')

- content_for :title do
  = t('versions.index title')


%article
  %h1= "#{t('bible versions')}"
  %ul
    - @versions_by_lang.each do |lang, versions|
      - if versions.present?
        %li
          = t("versions.language and count", language_name: versions.first.language.human,  language_count: versions.count)
          %ul
            - versions.each do |version|
              %li
                = link_to "#{version.title} (#{version.abbreviation.upcase})" , version_path(version)