- @title = t('versions.index title')

- content_for :title do
  = t('versions.index title')

%article
  - case I18n.locale.to_s
  - when "en"
    %h1
      %img{src: asset_path('bible.com-logo-700x150.png'), title: t('bible versions'), class: 'b-logo'}
      = t('bible versions')
  - else
    %h1
      af
      = "#{t('bible versions')}"
  %ul
    - @versions_by_lang.each do |lang, versions|
      - if versions.present?
        %li
          = t("versions.language and count", language_name: versions.first.language.human,  language_count: versions.count)
          %ul
            - versions.each do |version|
              %li
                = link_to "#{version.title} (#{version.abbreviation.upcase})" , version_path(version)