- @title = "#{t('download ad.description copy', language_count: 700)} | Android, iPhone, iPad, Android tablet, Blackberry, Windows Phone 8"

- content_for :additional_meta do
  = render '/shared/hreflang'

- content_for :meta_description do
  = "#{t('bible versions')} - #{t("versions.number of versions field")} #{@versions_by_lang.values.flatten.count}, #{t("versions.number of languages field")} #{@versions_by_lang.count}.  #{t('download ad.meta copy title')}"

.row
  .medium-8.large-9.columns
    %article
      %h1
        = "#{t('bible versions')}"

      = cache "versions_bylang_#{I18n.locale}", expires_in: YV::Caching.a_very_long_time do
        %ul.no-bullet
          - @versions_by_lang.each do |lang, versions|
            - if versions.present?
              %li
                - meta_language = versions.first.attributes.language.local_name
                - meta_language = "#{meta_language} | #{versions.first.attributes.language.name}" if (versions.first.attributes.language.name.present? and not (meta_language.eql?(versions.first.attributes.language.name)))
                = t("versions.language and count", language_name: "#{meta_language}",  language_count: versions.count)
                %ul.no_bullet
                  - versions.each do |version|
                    %li
                      = link_to "#{version.title} (#{version.abbreviation.upcase})" , version_path(version)
  .medium-4.large-3.columns.show-for-medium-up
    = render partial: sidebar_presenter.sidebar_partial, locals: {presenter: sidebar_presenter}
