- @title = t('versions.index title')

- content_for :sidebar do
  .widget
    %header
      %span
        = t('versions.index title')
    %ul.widget_menu
      %li
        %p
          %b= t("versions.number of versions field")
          = @versions_by_lang.values.flatten.count
      %li
        %p
          %b= t("versions.number of languages field")
          = @versions_by_lang.count
  = render '/shared/widget_ad_bible_app'

%article
  %h1= "#{t('bible versions')}"
  %ul
    - @versions_by_lang.each do |lang, versions|
      %li
        = t("versions.language and count", language_name: versions.first.language.human,  language_count: versions.count)
        %ul
          - versions.each do |version|
            %li
              - if version.publisher_id
                = link_to "#{version.title} (#{version.abbreviation.upcase})" , version_path(version)
              - else
                "#{version.title} (#{version.abbreviation.upcase})"