- content_for :sidebar do

  .widget.sticky.gutter_bottom_half
    = link_to t("versions.read title"), bible_path((last_read || default_reference).merge(version: @version)), class: 'action_button_blue'
  .widget
    %header
      %span
        =t("versions.publisher widget title")
    %ul.widget_menu
      %li
        %p= @version.publisher.try :name
      - if @version.publisher.try(:url).present?
        %li
          = link_to(t("versions.visit publisher"), @version.publisher.url)
  - if @related.present?
    .widget
      %header
        %span
          =t("versions.other versions")
      %ul.widget_menu
        - @related.each do |v|
          %li
            = link_to v
%article
  %h1= @version
  %h4= @version.publisher.try :name
  .copyright= @version.info.try :html_safe