- t = Proc.new do |key, options={}|
  - I18n.t(key, options.merge(:locale => @locale))
- @title = t.call("legal.privacy.policy", youversion: t.call("youversion"))
- @sidebar = false
- @policy_effective_date = "2018-05-25".to_date
- @today = Date.today

- content_for :stylesheets do
  = stylesheet_link_tag "https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"

- content_for :title do
  = t("legal.privacy.policy", youversion: t("youversion"))

.mw7-ns.center-ns.pb6.pt3.pl3.pr3.pt0-l.pl0-l.pr0-l.near-black
  %article
    %h1.f3.f2-ns.b= t.call("legal.privacy.policy", youversion: t.call("youversion"))
    %hr
    %h2.f2-ns.b.mt4= t('legal.privacy.h1')
    %p.mt3= t('legal.privacy.p1')
    %h4.f4-ns.b.mt3= t('legal.privacy.h2')
    %p.mt3= t('legal.privacy.p2')
    %h4.f4-ns.b.mt3= t('legal.privacy.h3')
    %p.mt3= t('legal.privacy.p3')
    %h4.f4-ns.b.mt3= t('legal.privacy.h4')
    %p.mt3= t('legal.privacy.p4')
    %h4.f4-ns.b.mt3= t('legal.privacy.h5')
    %p.mt3= t('legal.privacy.p5')
    %hr
    %h2.f2-ns.b.mt4= t('legal.privacy.h6')
    %p.mt3.mute= t('legal.privacy.p6')

    / Only show the following paragraph before May 25, 2018
    - if @policy_effective_date >= @today
      %p.mt3
        %em
          This updated version of our Privacy Policy takes effect on May 25, 2018. See the
          %a{:href => "https://www.youversion.com/policies-2012/"} current version
          of the policy.

    - if I18n.locale != :en
      %p.mt3
        %em= t('legal.privacy.p7')

    %h2.f2-ns.b.mt4= t('legal.privacy.h7')
    %p.mt3= t('legal.privacy.p8')
    %ul.mt3
      %li
        =t('legal.privacy.l1')
        %ul
          %li= t('legal.privacy.l1-1')
          %li= t('legal.privacy.l1-2')
          %li= t('legal.privacy.l1-3')
      %li
        = t('legal.privacy.l2')
        %ul
          %li
            %a{:href => "https://www.bible.com"} bible.com
          %li
            %a{:href => "https://events.bible.com"} events.bible.com
          %li
            %a{:href => "https://www.youversion.com"} youversion.com
      %li
        = t('legal.privacy.l3')
        %ul
          %li= t('legal.privacy.l3-1')
          %li= t('legal.privacy.l3-2')
    %p.mt3= t('legal.privacy.p9')
    %h2.f2-ns.b.mt4= t('legal.privacy.h8')
    %p.mt3!= t('legal.privacy.p10')
    %p.mt3!= t('legal.privacy.p11')
    %h2.f2-ns.b.mt4= t('legal.privacy.h9')
    %p.mt3= t('legal.privacy.p12')
    %ol.mt3
      %li= t('legal.privacy.l4-1')
      %li= t('legal.privacy.l4-2')
      %li= t('legal.privacy.l4-3')
      %li!= t('legal.privacy.l4-4')
      %li= t('legal.privacy.l4-5')
      %li= t('legal.privacy.l4-6')
    %p.mt3= t('legal.privacy.p13')
    %h3.f3-ns.b.mt3= t('legal.privacy.h10')
    %p.mt3= t('legal.privacy.p14')
    %h3.f3-ns.b.mt3= t('legal.privacy.h11')
    %p.mt3= t('legal.privacy.p15')
    %h3.f3-ns.b.mt3= t('legal.privacy.h12')
    %p.mt3= t('legal.privacy.p16')
    %h3.f3-ns.b.mt3= t('legal.privacy.h13')
    %p.mt3!= t('legal.privacy.p17')
    %h3.f3-ns.b.mt3= t('legal.privacy.h14')
    %p.mt3= t('legal.privacy.p18')
    %h3.f3-ns.b.mt3= t('legal.privacy.h15')
    %p.mt3= t('legal.privacy.p19')
    %p.mt3= t('legal.privacy.p20')
    %h3.f3-ns.b.mt3= t('legal.privacy.h16')
    %p.mt3= t('legal.privacy.p21')
    %h3.f3-ns.b.mt3= t('legal.privacy.h17')
    %p.mt3!= t('legal.privacy.p22')
    %h2.f2-ns.b.mt4= t('legal.privacy.h18')
    %h3.f3-ns.b.mt3= t('legal.privacy.h19')
    %p.mt3= t('legal.privacy.p23')
    %p.mt3= t('legal.privacy.p24')
    %p.mt3= t('legal.privacy.p25')
    %h3.f3-ns.b.mt3= t('legal.privacy.h20')
    %p.mt3!= t('legal.privacy.p26')
    %h3.f3-ns.b.mt3= t('legal.privacy.h21')
    %p.mt3= t('legal.privacy.p27')
    %h3.f3-ns.b.mt3= t('legal.privacy.h22')
    %p.mt3= t('legal.privacy.p28')
    %p.mt3= t('legal.privacy.p29')
    %h3.f3-ns.b.mt3= t('legal.privacy.h23')
    %p.mt3!= t('legal.privacy.p30')
    %p.mt3!= t('legal.privacy.p31')
    %p.mt3= t('legal.privacy.p32')
    %p.mt3= t('legal.privacy.p33')
    %p.mt3!= t('legal.privacy.p34')
    %p.mt3= t('legal.privacy.p35')
    %p.mt3= t('legal.privacy.p36')
    %p.mt3!= t('legal.privacy.p37')
    %p.mt3!= t('legal.privacy.p38')
    %h2.f2-ns.b.mt4= t('legal.privacy.h24')
    %p.mt3= t('legal.privacy.p39')
    %p.mt3= t('legal.privacy.p40')
    %h2.f2-ns.b.mt4= t('legal.privacy.h25')
    %h3.f3-ns.b.mt3= t('legal.privacy.h26')
    %p.mt3!= t('legal.privacy.p41')
    %h3.f3-ns.b.mt3= t('legal.privacy.h27')
    %p.mt3= t('legal.privacy.p42')
    %h3.f3-ns.b.mt3= t('legal.privacy.h28')
    %p.mt3= t('legal.privacy.p43')
    %h3.f3-ns.b.mt3= t('legal.privacy.h29')
    %p.mt3= t('legal.privacy.p44')
    %h3.f3-ns.b.mt3= t('legal.privacy.h30')
    %p.mt3= t('legal.privacy.p45')
    %h3.f3-ns.b.mt3= t('legal.privacy.h31')
    %p.mt3= t('legal.privacy.p46')
    %h2.f2-ns.b.mt4= t('legal.privacy.h32')
    %p.mt3= t('legal.privacy.p47')
    %ul.mt3
      %li= t('legal.privacy.l5-1')
      %li= t('legal.privacy.l5-2')
      %li= t('legal.privacy.l5-3')
      %li= t('legal.privacy.l5-4')
    %p.mt3!= t('legal.privacy.p48')
    %p.mt3!= t('legal.privacy.p49')
    %p.mt3= t('legal.privacy.p50')
    %p.mt3= t('legal.privacy.p51')
    %h2.f2-ns.b.mt4= t('legal.privacy.h33')
    %p.mt3!= t('legal.privacy.p52')
    %h2.f2-ns.b.mt4= t('legal.privacy.h34')
    %p.mt3= t('legal.privacy.p53')
    %p.mt3= t('legal.privacy.p54')
    %h2.f2-ns.b.mt4= t('legal.privacy.h35')
    %p.mt3!= t('legal.privacy.p55')
    %p.mt3!= t('legal.privacy.p56')
    %h2.f2-ns.b.mt4= t('legal.privacy.h36')
    %p.mt3= t('legal.privacy.p57')
    %h2.f2-ns.b.mt4= t('legal.privacy.h37')
    %p.mt3= t('legal.privacy.p58')
    %h2.f2-ns.b.mt4= t('legal.privacy.h38')
    %p.mt3!= t('legal.privacy.p59')
    %h2.f2-ns.b.mt4= t('legal.privacy.h39')
    %p.mt3!= t('legal.privacy.p60')
