- t = Proc.new do |key, options={}|
  - I18n.t(key, options.merge(:locale => @locale))
- @title = t.call("legal.terms.title", youversion: t.call("youversion"))
- @sidebar = false
- @policy_effective_date = "2018-05-25".to_date
- @today = Date.today

- content_for :stylesheets do
  = stylesheet_link_tag "https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"

- content_for :title do
  = t("legal.terms.title")

.mw7-ns.center-ns.pb6.pt3.pl3.pr3.pt0-l.pl0-l.pr0-l.near-black
  %article
    %h1.f3.f2-ns.b= t.call("legal.terms.title", youversion: t.call("youversion"))
    %p.mt3 Last modified: May 25, 2018

    / Only show the following paragraph before May 25, 2018
    - if @policy_effective_date >= @today
      %p.mt3
        %em
          This updated version of our Terms of Use takes effect on May 25, 2018. See the
          %a{:href => "https://www.youversion.com/policies-2012/"} current version
          of the terms.

    - if I18n.locale != :en
      %p.mt3
        %em= t.call('legal.terms.s2')

    %hr
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s3')
    %p.mt3!= t.call('legal.terms.s4')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s5')
    %p.mt3= t.call('legal.terms.s6')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s7')
    %p.mt3= t.call('legal.terms.s8')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s9')
    %p.mt3!= t.call('legal.terms.s10')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s11')
    %p.mt3= t.call('legal.terms.s12')
    %ul.mt3
      %li.mt2= t.call('legal.terms.s13')
      %li.mt2= t.call('legal.terms.s14')
      %li.mt2= t.call('legal.terms.s15')
      %li.mt2= t.call('legal.terms.s16')
      %li.mt2= t.call('legal.terms.s17')
      %li.mt2= t.call('legal.terms.s18')
      %li.mt2= t.call('legal.terms.s19')
      %li.mt2= t.call('legal.terms.s20')
      %li.mt2= t.call('legal.terms.s21')
      %li.mt2= t.call('legal.terms.s22')
    %p.mt3= t.call('legal.terms.s23')
    %ul.mt3
      %li.mt2= t.call('legal.terms.s24')
      %li.mt2= t.call('legal.terms.s25')
      %li.mt2= t.call('legal.terms.s26')
      %li.mt2= t.call('legal.terms.s27')
      %li.mt2= t.call('legal.terms.s28')
      %li.mt2= t.call('legal.terms.s29')
      %li.mt2= t.call('legal.terms.s30')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s31')
    %p.mt3= t.call('legal.terms.s32')
    %p.mt3= t.call('legal.terms.s33')
    %p.mt3= t.call('legal.terms.s34')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s35')
    %p.mt3!= t.call('legal.terms.s36')
    %p.mt3= t.call('legal.terms.s37')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s38')
    %p.mt3= t.call('legal.terms.s39')
    %ul.mt3
      %li.mt2= t.call('legal.terms.s40')
      %li.mt2= t.call('legal.terms.s41')
      %li.mt2= t.call('legal.terms.s42')
    %p.mt3= t.call('legal.terms.s43')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s44')
    %p.mt3!= t.call('legal.terms.s45')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s46')
    %p.mt3= t.call('legal.terms.s47')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s48')
    %p.mt3= t.call('legal.terms.s49')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s50')
    %p.mt3!= t.call('legal.terms.s51')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s52')
    %p.mt3!= t.call('legal.terms.s53')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s54')
    %p.mt3= t.call('legal.terms.s55')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s56')
    %p.mt3= t.call('legal.terms.s57')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s58')
    %p.mt3= t.call('legal.terms.s59')
    %p.mt3= t.call('legal.terms.s60')
    %p.mt3= t.call('legal.terms.s61')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s62')
    %p.mt3= t.call('legal.terms.s63')
    %p.mt3= t.call('legal.terms.s64')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s65')
    %p.mt3= t.call('legal.terms.s66')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s67')
    %p.mt3= t.call('legal.terms.s68')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s69')
    %p.mt3= t.call('legal.terms.s70')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s71')
    %p.mt3!= t.call('legal.terms.s72')
    %h2.f3-ns.f4.b.mt4= t.call('legal.terms.s73')
    %p.mt3!= t.call('legal.terms.s74')
