:ruby
  ref_index = params['content'].present? ? params['content'].to_i : nil

  back_path = nil
  if !ref_index.nil?

    if presenter.reading.devotional
      display_ref_number = ref_index + 2
    else
      display_ref_number = ref_index + 1
    end

    if ref_index == 0
      if presenter.reading.devotional
        back_path = devo_subscription_path(user_id: current_user.to_param, id: subscription, day: day)
      else
        back_path = subscription_path(user_id: current_user.to_param, id: subscription, day: day)
      end
    else
      back_path = ref_subscription_path(user_id: current_user.to_param, id: subscription, day: day, content: ref_index - 1)
    end
  else
    display_ref_number = 1
    back_path = subscription_path(user_id: current_user.to_param, id: subscription, day: day)
  end

  if !ref_index.nil?
    ref = presenter.reading.references(version_id: subscription.version_id)[ref_index].reference.to_param.downcase
  else
    ref = nil
  end

  forward_path = subscription_path(user_id: current_user.to_param, id: subscription, day: day, completed: 'true', ref: ref , content: ref_index)

  #This is last ref. Use Checkmark instead of arrow for 'Next'
  show_complete = false
  references = presenter.reading.references(version_id: subscription.version_id)
  next_ref_index = ref_index.nil? ? 0 : ref_index + 1
  if next_ref_index >= references.length
    show_complete = true
  end

  display_total_refs = presenter.reading.devotional ? references.length + 1 : references.length



.fixed.after-header.nav-header
  .row.full.b-border.nav-bar.white.columns
    .columns.large-3.medium-3.medium-centered.text-center.nav-elements
      .left
        - if is_rtl?
          = form_tag(forward_path, method: :put, id: 'plan_next_form') do
            - if show_complete
              %a{'onClick' => 'document.getElementById("plan_next_form").submit()'}
                = image_tag image_path("Circle-Green-Check.svg")
            - else
              %a{'onClick' => 'document.getElementById("plan_next_form").submit()'}
                = image_tag image_path("Circle-Green-Arrow-Left.svg")

        - else
          = link_to(back_path, "target" => "_self" ) do
            = image_tag image_path("Circle-Left-Arrow.svg")

      .right
        -if day_status && !day_status.references.empty?
          -#= link_to(forward_path, "target" => "_self" ) do
          - if is_rtl?
            = link_to(back_path, "target" => "_self" ) do
              = image_tag image_path("Circle-Right-Arrow.svg")

          -else
            = form_tag(forward_path, method: :put, id: 'plan_next_form') do
              - if show_complete
                %a{'onClick' => 'document.getElementById("plan_next_form").submit()'}
                  = image_tag image_path("Circle-Green-Check.svg")
              - else
                %a{'onClick' => 'document.getElementById("plan_next_form").submit()'}
                  = image_tag image_path("Circle-Green-Arrow-Right.svg")

      .nav-content
        - if subscription.small_thumbnail_image.present?
          %img.nav-img{src: subscription.small_thumbnail_image.url, class: "#{is_rtl? ? 'img-right' : 'img-left'}"}
        .nav-title= subscription.name
        %p.nav-length!= "#{t('plans.day number', { day: day })} &bull; #{t('plans.which reading', { current: display_ref_number, total: display_total_refs })}"


