:ruby
  subscription = @presenter.subscription

%h1.rp-title-settings.clearfix
  = image_tag subscription.search_thumbnail_image.url, class: 'rp-image-settings' if subscription.search_thumbnail_image.present?
  = subscription.title
.row.rp-settings-nav
  .columns
    = link_to t("plans.settings"), edit_subscription_path(user_id: current_user.to_param, id: subscription), {class: "icon text selected"}
    = link_to t("plans.month"), calendar_subscription_path(user_id: current_user.to_param, id: subscription), {class: "icon text"}
    = link_to t("plans.about this plan"), plan_path(subscription), {class: "icon text"}