- @title = "Plan Calendar and Progress"
- subscription = @presenter.subscription

- content_for :mobile_right_nav do
  =link_to t('plans.overview'), plan_path(subscription), class: 'info_btn'

.tab_navigation.plan_settings.mobile
  .inner_wrapper
    = link_to t("plans.settings"), edit_subscription_path(user_id: current_user.to_param, id: subscription)
    = link_to t("plans.month"), calendar_subscription_path(user_id: current_user.to_param, id: subscription),{:class => "selected"}

%article
  %h1= t("plans.calendar")
  = image_tag plan.widget_thumbnail_image.url, class: 'widget_thumbnail' if plan.widget_thumbnail_image.present?
  %h2.mobile= subscription.title
  :ruby
    statuses = subscription.day_statuses
    sunday = Date.new(1984,12,9)#sunday
    days_of_week = []
    7.times {|i| days_of_week << sunday.next_day(i).strftime('%^a')[0]}

  - while !statuses.empty?
    %table.cal_month.cal_janurary{:cellspacing => "0"}
      :ruby
        first_date = Date.parse(statuses.first.date)
        last_date = first_date.next_month - (first_date.next_month.day)
        full_month = false
      %caption
        =first_date.strftime('%B %Y')
      %thead
        %tr
          -days_of_week.each do |day|
            %th= day
      %tbody
        :ruby
          rows = 0
          cur_date = first_date - (first_date.day - 1) - (first_date - (first_date.day - 1)).cwday       # first calendar day (given tabular calendar starting on Sun)
          cur_date = cur_date.next_day(7) if first_date.prev_day(first_date.day - 1) - cur_date == 7       # if first day of month is a sunday (more clear than doing on the previous line)
        - # while there are remaining items that are in this current month  -OR-  we haven't listed a full month (of days or enough rows)
        - while ((!statuses.empty? && (Date.parse((cur_status = statuses.first).date).month) == first_date.month)) || (!full_month) || rows < 6
          %tr
            - 7.times do       # List out one week
              - if full_month
                %td.disabled.hidden
              - else
                - if cur_date.month != first_date.month || cur_date < first_date || statuses.empty?         # if not in current month  -OR-  not a day on the paln
                  -if cur_date.month != first_date.month
                    %td.disabled{class: cur_date == current_date ? "today" : ""}
                  -else
                    %td
                      %span.inactive-day{class: cur_date == current_date ? "today" : ""}= cur_date.day.to_s
                - else
                  - cur_status = statuses.delete_at(0)
                  %td.active-day{class: (cur_status.completed ? 'read' : !cur_status.references_completed.empty? ? 'partial' : '') << ((cur_date == current_date) ? ' today' : '')}
                    = link_to(cur_date.day.to_s, subscription_path(user_id: current_user.to_param, id: subscription, day: cur_status.day))
                - cur_date = cur_date.next

            :ruby
              full_month = cur_date > last_date       # it's been a full month if the first day in the next week is after the last day of the current month
              rows += 1
