
.row.medium-centered.text-center
  %h6.small= t("plans.day complete")
  %p.plan-length-head
    #{t('plans.which day in plan', day: @presenter.day, total: @presenter.subscription.total_days)}


%div.stacked-container
  -if !@presenter.subscription.hero_image.nil?
    .back-img{:style => %(background-image: linear-gradient(rgba(0, 0, 0, 0.498039), rgba(0, 0, 0, 0.498039)), url("#{@presenter.subscription.hero_image.url}"))}
  -else
    .back-img{:style => %(background-image: linear-gradient(rgba(0, 0, 0, 0.498039), rgba(0, 0, 0, 0.498039)), url("#{image_path('plans-hero-640x360.jpg')}"))}

  .back-content.columns.large-8.medium-8.medium-centered.text-center
    .row
      %img.check-logo{src: "#{image_path('checkmark-plans.svg')}"}

    .row
      -if !@presenter.subscription.hero_image.nil?
        %img.plan-img{src: @presenter.subscription.hero_image.url}
      -else
        %img.plan-img{src: image_path('plans-hero-640x360.jpg')}

    .row.progress_wrap
      .progress_counter{style: "width:#{@presenter.subscription.completion_percentage}%", title:"#{@presenter.subscription.completion_percentage}%"}





.row.medium-centered.text-center
  %button.solid-button.share-button{ "ng-click" => "showShare = !showShare", "href" => "#" }
    != t("moments.action.share")
  %div.share-panel.ng-hide{"ng-show" => "showShare"}
    %div.video.addthis_sharing_toolbox{:data => {:url => "#{request.original_url}", :title => "#{@presenter.subscription.title}"}}

.row.medium-centered.text-center
  %a
    = link_to t("plans.view my plans"), subscriptions_path(user_id: current_user.to_param), target: "_self", class: "small-font"
    != "&bull;"

    -# if on last day and not completed plan, don't try to go to the next day (it doesn't exist)
    - if (@presenter.day.to_i == @presenter.subscription.total_days.to_i)
      = link_to subscription_path(user_id: current_user.to_param, id: @presenter.subscription, day: 1), {class: 'small-font', target: "_self"} do
        != t("EventsAdmin.containers.EventFeedMine.next")

    - else
      = link_to subscription_path(user_id: current_user.to_param, id: @presenter.subscription, day: (@presenter.day.to_i + 1)), {class: 'small-font', target: "_self"} do
        - if is_rtl?
          != t("plans.next")
          != "&larr;"
        - else
          != t("EventsAdmin.containers.EventFeedMine.next")

