:ruby
  @title = t("plans.title")
  html_attributes(id: "subscriptions-index")

- content_for :title do
  = t("plans.title")

%article
  %h1.float_left= t("plans.my plans")
  %dl.combo_button.float_right
    %dt
    %dd
      = link_to t("plans.all plans"), plans_path
    %dd.highlighted
      = link_to t("plans.my plans"), subscriptions_path(user_id: current_user.to_param)

  - unless @subscriptions.empty?
    %ul.resource_list
      - @subscriptions.each do |sub|
        %li.subscription
          .subscription-info
            %span.search_thumbnail
              = image_tag sub.search_thumbnail_image.url, class: 'subscription_thumbnail' if sub.search_thumbnail_image.present?
            = link_to(subscription_path(user_id: @user.to_param, id: sub, initial: 'true'), class: "subscription-title") do
              %h3
                =t(sub.name)
            %span.subscription-privacy
              = sub.private ? t("plans.privacy.private") : t("plans.privacy.public")
              •
              = link_to( t("plans.settings"), edit_subscription_path(user_id: @user, id: sub))
          .progress_wrap
            .progress_counter
              =t("plans.current progress html", day: sub.current_day, total_days: sub.total_days).html_safe
            .progress_bar_outer
              .progress_bar{:style => "width:#{sub.progress}%"}
                &nbsp;
            .progress_bar_cap
              &nbsp;
            / .progress_bar_shadow
            /   .progress_percent_complete{style: "left:#{sub.progress}%"}
            /     %b= t("percentage display", number: sub.progress)
            /     .small= t("plans.completion status _ below percentage")
    = render "shared/pagination", resource_list: @subscriptions
  - else
    %div{class: "none"}= (@user == current_user) ? t("plans.you have no plans") : t("plans.no public plans", username: @user.username)
