:ruby
  @title = t("plans.title")
  html_attributes(id: "subscriptions-index")

- content_for :title do

  = t("plans.title")

.fixed.after-header
  .row.full.b-border.white.collapse
    .medium-12.columns.plans-nav-box
      = link_to t("plans.my plans"), subscriptions_path(user_id: current_user.to_param), class: 'icon active', target: "_self"
      = link_to t("plans.all plans"), plans_path, class: 'icon', target: "_self"
%article
  - unless @subscriptions.empty?
    .row.full
      .columns.medium-12
        %ul.resource_list.medium-block-grid-3
          - @subscriptions.each do |sub|
            %li.subscription
              .search_thumbnail
                = link_to(subscription_path(user_id: @user.to_param, id: sub, initial: 'true'), class: "subscription-title", target: "_self") do
                  - if sub.list_image.present?
                    = image_tag sub.list_image.url, class: 'subscription_thumbnail radius'
                  - else
                    %img{src:'//placehold.it/640x360', class: 'radius'}
              .subscription-info
                = link_to(subscription_path(user_id: @user.to_param, id: sub, initial: 'true'), class: "subscription-title", target: "_self") do
                  %h3.plan-title
                    =t(sub.name)
                %span.subscription-privacy
                  = sub.private ? t("plans.privacy.private") : t("plans.privacy.public")
                  •
                  = link_to( t("plans.settings"), edit_subscription_path(user_id: @user, id: sub), target: "_self")
                .progress_wrap
                  .progress_counter
                    =t("plans.current progress html", day: sub.current_day, total_days: sub.total_days).html_safe
    = render "shared/pagination", resource_list: @subscriptions
  - else
    %div{class: "none"}= (@user == current_user) ? t("plans.you have no plans") : t("plans.no public plans", username: @user.username)