- @title = t("plans.title")

- content_for :title do
  = t("plans.title")

%article.readingplans
  - other_users_plans = t("plans.a users plans", username: @user.username)
  - if current_auth
    - if request.path.downcase == user_subscriptions_path(current_user, locale: false).downcase # we're on valid current_users plans page - show button navigation
      %h1.float_left= t("plans.my plans")
      %dl.combo_button.float_right
        %dt
        %dd
          = link_to t("plans.all plans"), plans_path
        %dd.highlighted
          = link_to t("plans.my plans"), user_subscriptions_path(current_user)

    - else # on another users reading plans - only show their name
      %h1= t("plans.a users plans", username: @user.username)

  - else # no current_auth session.  Show the users name and no navigation.
    %h1= other_users_plans

  - unless @subscriptions.empty?
    %ul.big_list
      - @subscriptions.each do |sub|
        %li
          %div
            %h4= link_to(sub.name, user_subscription_path(@user, sub, initial: 'true'))
            .progress_wrap
              .progress_counter
                =t("plans.current progress html", day: sub.current_day, total_days: sub.total_days).html_safe
              .progress_bar_outer
                .progress_bar{:style => "width:#{sub.progress}%"}
                  &nbsp;
              .progress_bar_cap
                &nbsp;
              .progress_bar_shadow
                .progress_percent_complete{style: "left:#{sub.progress}%"}
                  %b= t("percentage display", number: sub.progress)
                  .small= t("plans.completion status _ below percentage")
    = render "shared/pagination", resource_list: @user.subscriptions
  - else
    %div{class: "none"}= (@user == current_user) ? t("plans.you have no plans") : t("plans.no public plans", username: @user.username)