:ruby
  @title = t("plans.title")
  html_attributes(id: "subscriptions-index")

- content_for :title do

  = t("plans.title")

-#.fixed.after-header
-#  .row.full.b-border.white.collapse
-#    .medium-12.columns.plans-nav-box

-#        = link_to t("plans.my plans"), subscriptions_path(user_id: current_user.to_param), class: 'icon active', target: "_self"
-#        = link_to t("plans.all plans"), plans_path, class: 'icon', target: "_self"
-#      - else
-#        = link_to t("plans.all plans"), plans_path, class: 'icon', target: "_self"

- if current_auth
  .row
    .medium-12.text-center
      %ul.button-group.primary-toggle
        %li
          = link_to t("EventsAdmin.containers.EventFeedDiscover.discover"), plans_path, class: 'solid-button green ', target: "_self"
        %li
          = link_to t("plans.my plans"), subscriptions_path(user_id: current_user.to_param), class: 'solid-button green', target: "_self"


%article
  - unless @subscriptions.empty?
    .row.collapse
      .columns.large-6.medium-10.medium-centered.subscription-list
        - @subscriptions.each do |sub|
          .row.subscription.collapse
            .small-12.columns
              .search_thumbnail
                = link_to(subscription_path(user_id: @user.to_param, id: sub, initial: 'true'), class: "subscription-title", target: "_self") do
                  - if sub.small_thumbnail_image.present?
                    = image_tag sub.small_thumbnail_image.url, class: 'subscription_thumbnail radius'
                  - else
                    %img{src:image_path('plans-hero-80.jpg'), class: 'radius'}
              .subscription-info
                = link_to(subscription_path(user_id: @user.to_param, id: sub, initial: 'true'), class: "subscription-title", target: "_self") do
                  %h3.plan-title
                    =t(sub.name)
                .progress_wrap
                  .progress_counter{style: "width:#{sub.completion_percentage}%", title:"#{sub.completion_percentage}%"}
                    !="&nbsp;"

                = image_tag(image_path('lock@2.png'), class: "subscription-privacy", title:  t("plans.privacy.private")) if sub.private
                -#= link_to( t("plans.settings"), edit_subscription_path(user_id: @user, id: sub), target: "_self")
    .row.collapse
      .columns.large-6.medium-10.medium-centered.subscription-actions
        = link_to("#{user_path(@user.to_param)}/saved-reading-plans", target: "_self") do
          =t("plans.saved plans")
        .right
          = link_to("#{user_path(@user.to_param)}/completed-reading-plans", target: "_self") do
            =t("plans.completed plans")

    = render "shared/pagination", resource_list: @subscriptions
  - else
    %div{class: "none"}= (@user == current_user) ? t("plans.you have no plans") : t("plans.no public plans", username: @user.username)