
.row.medium-centered.text-center
  %h6.small= "Plan Complete"
  %p.plan-length-head
    = t("plans.congratulations")

%div.stacked-container
  .back-img{:style => %(background-image: linear-gradient(rgba(0, 0, 0, 0.498039), rgba(0, 0, 0, 0.498039)), url("#{@presenter.subscription.hero_image.url}"))}
  .back-content.columns.large-8.medium-8.medium-centered.text-center
    .row
      %img.check-logo{src: "#{image_path('checkmark-plans.svg')}"}

    .row
      %img.plan-img{src: @presenter.subscription.hero_image.url}

    .row.progress_wrap
      .progress_counter{style: "width:#{@presenter.subscription.completion_percentage}%", title:"#{@presenter.subscription.completion_percentage}%"}


.row.medium-centered.text-center
  %button.solid-button.share-button{ "ng-click" => "showShare = !showShare", "href" => "#" }
    != t("moments.action.share")
  %div.share-panel.ng-hide{"ng-show" => "showShare"}
    %div.video.addthis_sharing_toolbox{:data => {:url => "#{request.original_url}", :title => "#{@presenter.subscription.title}"}}

.row.medium-centered.text-center
  %a
    = link_to t("plans.view my plans"), subscriptions_path(user_id: current_user.to_param), target: "_self", class: "small-font"

.plans-container.columns.large-8.medium-8.medium-centered.text-center.radius
  .row.medium-centered.text-center
    .plans-carousel
      %h2= t('plans.widget.featured plans')
      %div{class: 'review-carousel', "carousel" => ""}
      -if !@featured_plans.nil?
        %ul.resource_list.medium-block-grid-3.small-block-grid-1
          - @featured_plans.each do |plan|
            %li.plan
              = link_to(plan_path(plan, locale: I18n.locale), target: "_self") do
                .search_thumbnail
                  - if plan.list_image.present?
                    = image_tag plan.list_image.url, class: 'subscription_thumbnail'
                  - else
                    %img{src: image_path('plans-hero-640x360.jpg'), class: 'radius'}
                .subscription-info
                  %h3.plan-title
                    =plan.name
                  %span.length
                    = plan.formatted_length
      -else
        .none{align: "center"}= t("plans.none found")
