:ruby
  @title = "#{t('plans.day number', day: @presenter.day)} - #{@presenter.subscription_name}"

- if @presenter.reference
  = render partial: "/references/reader", locals: {presenter: @presenter}

- else
  %article
    %h1= t('plans.no verses')
    %p= t('plans.no content')

- # has to be here so that title_link content in ^^ references/reader partial will get overwritten
- overwrite_content_for(:title_link) do
  %span#m_plan_btn
    %span.plan_day= t('plans.day number', day: @presenter.day)
    %a.plan_btn{:href => 'javascript:void(0);'}
  %span.right_btn_slice