<div class="moment-actions">
  <span class="moment-actions-like">
    <a href="#">{{I18n 'moments.action.like'}}</a>
  </span>
  <span class="moment-actions-comment">
    <a href="{{path}}">{{I18n 'moments.action.comment'}}</a>
  </span>

  <div class="moment-content-actions">
  {{#if actions.editable}}
    <a href="{{path}}/edit" class="moment-content-actions-edit">
      {{I18n 'moments.action.edit'}}
    </a>
  {{/if}}

  {{#if actions.deletable}}
    <a href="#" class="moment-action-delete">
      {{I18n 'moments.action.delete'}}
    </a>
  {{/if}}
  </div>
</div>