<li class="moment-comments-list-comment">
  <span class="moment-comments-list-avatar">
    <a href="{{user.path}}">
      <img src="{{user.avatar}}" />
    </a>
  </span>
  <p class="moment-comments-list-text">
    <a href="{{user.path}}">{{user.name}}</a>
    {{content}}
    <span class="moment-comment-dt">{{fromNow created_dt}}</span>
  </p>
  {{#if owned_by_me }}
  <a href="#" class="moment-comment-delete" data-comment-id="{{id}}">x</a>
  {{/if}}
</li>