<div class="moment" data-uuid="{{uuid}}">
  <div class="moment-top">
    <div class="moment-fr">
      <span class="moment-icon"></span>
      <span class="moment-avatar">
        <img src="{{avatar}}" />
      </span>
      <span class="moment-time">
        {{created_dt}}
      </span>
      <h2 class="moment-fr-text">{{{moment_title}}}</h2>
      <div class="moment-fr-box">
        <a href="{{friend_path}}">
          <img src="{{friend_avatar}}" class="moment-fr-avatar" />
          <span class="moment-fr-name">
            {{friend_name}}
          </span>
        </a>
      </div> 
    </div>
  </div>
</div>