<div class="moment" data-uuid="{{uuid}}" data-moment-id="{{id}}" data-moment-path="{{path}}" data-str-delete-confirm="Are you sure you want to delete this?">
  <div class="moment-top">
    <div class="moment-no">
      <span class="moment-icon"></span>
      
      <span class="moment-avatar">
        <a href="{{user.path}}">
          <img src="{{avatar}}" />
        </a>
      </span>

      <span class="moment-time">
        {{status}} • 
        {{created_dt}}
      </span>
      <h2 class="moment-no-text">
        <a href="{{path}}" class="moment-title-link">
          {{{moment_title}}}
        </a>
      </h2>

      <div class="moment-no-note">
        <p class="moment-no-note-title">{{title}}</p>
        <p class="moment-no-note-text">{{content}}</p>
      </div>

    </div>
  </div>
  <div class="moment-btm">
    {{> moments/_actions_bar}} 
    {{> moments/_comments}}
  </div>
</div>