<div class="moment-votd-verse-wrap">
  <p class="moment-votd-verse" data-reference-human="{{human}}" data-reference-path="{{to_path}}">{{content_plain}}
  <span class="content-action"><a href="#" class="more">#{t("social.moment.read all")}</a><a href="#" class="less">#{t("social.moment.read less")}</a></span>
  </p>
  <a href="{{to_path}}" class="moment-verse-link">{{human}}</a>
</div>
