<ul class="notifications-list">
  {{#each notifications}}
  <li class="notifications-item">
    <img src="{{attributes.avatars.collection.1.url}}" height="24" width="24" />
    <a href="{{attributes.action_url}}">
      <p>{{attributes.moment_title}}</p>
    </a>
  </li>
  {{else}}
  <li class="notifications-item notifications-empty">
    <p>#{t("notifications.none")}</p>
  </li>
  {{/each}}
</ul>
<div class="view-all">
  {{#if notifications}}
    <a href="/notifications" class="text-link wide">
      {{str_view_all}}
    </a>
  {{else}}
    <span class="text-wide">
      {{str_none}}
    </span>
  {{/if}}
</div>