.widget
  %header
    %a.count{href: user_bookmarks_path(current_user.user_id)}= @bookmarks.total
    %span.header_icon_bookmark= t('bookmarks')
  %ul
    - @bookmarks.each do |b|
      %li
        %a{href: bible_path(b.reference)}
          - if b.title
            %b= b.title
            = " | #{b.reference}"
          - else
            %b= b.reference
        - if b.labels
          %span.separator |
          - b.labels.each do |l|
            %span.tag
              %a{href: ":"}= l.label
    %li.align_right
      %a.more_arrow{href: user_bookmarks_path(current_user.user_id)}= t('show all bookmarks', b.total)
