:ruby
  settings = {
    "moments"       => t('users.notifications.moments'),
    "contact_joins"  => t('users.notifications.contact_joins'),
    "comments"      => t('users.notifications.comments'),
    "likes"         => t('users.notifications.likes'),
    "friendships"   => t('users.notifications.friendships'),
    "reading_plans" => t('users.notifications.reading_plans'),
    "badges"        => t('users.notifications.badges'),
    "newsletter"    => t('users.notifications.newsletter'),
    "pwf_comments"  => t('EventsAdmin.unsubscribe.labels.pwf_comments'),
    "pwf_reminders" => t('EventsAdmin.unsubscribe.labels.pwf_reminders'),
    "pwf_invites"   => t('EventsAdmin.unsubscribe.labels.pwf_invites'),
    "pwf_accepts"   => t('EventsAdmin.unsubscribe.labels.pwf_accepts')
  }

  @title = t('users.edit notifications')
  @setting_selected = :notifications

%h2
  = @title

- # because page can be accessed while logged in or logged out (with token) we use
- # current_user or fallback to params[:id]
= form_tag notifications_path(token: params[:token]), method: :put do |n|
  - if @settings.errors.present?
    .form_errors
      =t("users.profile.notification errors")
      %ul
        - if @settings.errors.respond_to?(:full_messages)
          - @settings.errors.full_messages.each do |err|
            %li= err
        - else
          - @settings.errors.each do |err|
            %li= t(err.error)
  - else
    .notification-settings-group
      - settings.each do |type,info|
        .settings-group-item
          = render partial: "settings_group", locals: {type: type, info: info}

    .row.pad-row
      .columns.medium-12
        %button{class: "solid-button green", action: "submit"}= t('users.notifications.update')
        - if params[:token]
          = hidden_field_tag :token, params[:token]
