#reader_header
  %header
    %ul.float_left
      %li
        %a.dynamic_menu_trigger.drop_down_select{:href => '#menu_book_chapter', id:"menu_book_chapter_trigger", :title => t("ref.choose book and chapter")}
          %b
            = @reference.to_s(version:false)
          %span
            = t('ref.choose book and chapter')
      %li
        %a.dynamic_menu_trigger.drop_down_select{href:"#menu_version", id:"menu_version_trigger", title: t("ref.choose version")}
          %b
            = @version.human
          %span
            =t("ref.choose version")
    %ul.float_right
      %li.show_in_parallel_mode
        %a.dynamic_menu_trigger.drop_down_select{href:"#menu_version", id:"menu_alt_version_trigger", title: t("ref.choose second version")}
          %b
            = @alt_version.human
          %span
            =t("ref.choose version")
      %li.hide_in_parallel_mode
        %a.button.dynamic_menu_trigger{href:"#menu_settings", id:"menu_settings_trigger", title:t("ref.settings")}
          %span.icon_settings
            =t("ref.settings")
      %li.hide_in_parallel_mode
        %a.button{:href => @reference.audio ? '#menu_audio_player' : nil, :title => @reference.audio ? t("ref.listen"): t('audio.none'), class: @reference.audio ? "dynamic_menu_trigger" : "disabled"}
          %span.icon_listen{class: @reference.audio ? nil : "disabled"}
            =t("ref.listen")
      %li.hide_in_parallel_mode
        %a.button#button_full_screen{:href => '#', :title => t("ref.full screen")}
          %span.icon_full_screen
            =t("ref.full screen")
      %li.float_right_in_parallel_mode
        %a#button_read_parallel.button{:href => '#', :title => t("ref.parallel")}
          %span.icon_parallel
            =t("ref.parallel")
  = render partial: 'shared/menu_verse_actions'