- @title = "#{@reference.ref_string} #{@version.osis_human}"
- @reader_menus = true

#reader_header
  %header
    %ul.float_left
      %li
        %a.dynamic_menu_trigger.drop_down_select{:href => '#menu_book_chapter', :title => t("ref.choose book and chapter")}
          %b
            = @reference.ref_string
          %span
            = t('ref.choose book and chapter')
      %li.separator
        %a.dynamic_menu_trigger.drop_down_select{:href => '#menu_version', :title => t("ref.choose version")}
          %b
            = @version.osis_human
          %span
            =t("ref.choose version")
%article
  %div{style:"text-align: center; margin-top:70px"}
    %h1= t("ref.invalid chapter title")
    %p= t("ref.invalid chapter text")
    %div.dynamic_menu_trigger.no_style{:href=> '#menu_book_chapter', style: "margin-left:68px"}
      %button{style: "margin-left:-68px"}= t("ref.select another chapter")

%footer
  %p
    %b= link_to t("ref.about the version", version: @version), version_path(@version) 
  %p= @version.copyright
