- @title = t("ref.invalid chapter title")
- @share_menu = false
- @verse_modals = false
= render partial: "/references/reader_header", locals: {reference: reference, version:version, alt_version: alt_version, presenter: @presenter}

- content_for :additional_meta do
  %meta{name: "robots", content: "noindex"}

%article
  %div{style:"text-align: center; margin-top:70px"}
    %h1= t("ref.invalid chapter title")
    %p= t("ref.invalid chapter text")
    %div.dynamic_menu_trigger.no_style{:href=> '#menu_book_chapter', style: "height: 0; margin-left:68px"}
      %button{style: "margin-left:-68px"}= t("ref.select another chapter")

%footer
  - if version.has_publisher?
    .publisher.as_table
      .vcenter
        .courtesy
          %strong= t("versions.courtesy of", abbreviation: version.abbreviation, publisher: version.publisher.name) if version.blurb
        .blurb= (version.blurb || version.copyright).try :html_safe
      .vcenter
        =link_to t('versions.learn more'), version.url || version_path(version), class: 'button'

= render partial: "js"