- @title = t("ref.invalid chapter text")
- @share_menu = false
- @verse_modals = false
- version = presenter.version
- reference = presenter.reference
- alt_version = presenter.alt_version

= render partial: "/references/reader_header", locals: {reference: reference, version:version, alt_version: alt_version, presenter: @presenter, invalid: true}

- content_for :additional_meta do
  %meta{name: "robots", content: "noindex"}

- content_for :mobile_right_nav do
  = link_to(version.abbreviation, "javascript:void(0);", id: "m_version_btn")
  %span.right_btn_slice

- content_for :title do
  = link_to(reference.human, 'javascript:void(0);')

- content_for :sidebar do
  = render "widgets/download_app"

%article
  %div#invalid_chapter{style:"text-align: center; margin-top:70px"}
    %h1= t("ref.invalid chapter title")
    %p= t("ref.invalid chapter text")
    %div.dynamic_menu_trigger.no_style{:href=> '#menu_book_chapter', style: "height: 0; margin-left:68px"}
      %button{style: "margin-left:-68px"}= t("ref.select another chapter")



= render partial: "/references/js", locals: {presenter: @presenter}