-# Variables necessary for templates and partials to render properly
:ruby
  reference      = @presenter.reference
  version        = @presenter.version
  modal_verse    = @presenter.modal_verse
  @title = "#{reference.human} #{version.title}"

- content_for :additional_meta do
  - if modal_verse.present?
    - deep_link = "youversion://#{@presenter.modal_verse.deep_link_path}"
    %meta{name: "apple-itunes-app",         content: "app-id=282935706, app-argument=#{deep_link}"}
    %meta{name: "twitter:card",             content: "summary"}
    %meta{name: "twitter:url",              content: "#{request.protocol}#{request.host_with_port}#{request.fullpath}"}
    %meta{name: "twitter:title" ,           content: @title}
    %meta{name: "twitter:description",      content: truncate(modal_verse.content(as: :plaintext), length: 200, separator: " ")}
    %meta{name: "twitter:image",            content: "#{url_for(asset_path('Bible-app-icon-english-144x144.png'))}"}
    %meta{name: "twitter:site",             content: "@YouVersion"}
    %meta{name: "twitter:app:name:iphone",  content:"Bible"}
    %meta{name: "twitter:app:id:iphone",    content:"282935706"}
    %meta{name: "twitter:app:url:iphone",   content: deep_link}
    %meta{name: "twitter:app:name:ipad",    content:"Bible"}
    %meta{name: "twitter:app:id:ipad",      content:"282935706"}
    %meta{name: "twitter:app:url:ipad",     content: deep_link}
    %meta{name: "twitter:app:name:googleplay",  content:"Bible"}
    %meta{name: "twitter:app:id:googleplay",    content:"com.sirma.mobile.bible.android"}
    %meta{name: "twitter:app:url:googleplay",   content: deep_link }
    %link{rel:  "canonical", href: bible_url(reference)}

  %link{href: "//fonts.googleapis.com/css?family=Fjalla+One&subset=latin,cyrillic-ext,cyrillic,greek-ext,vietnamese,latin-ext", rel: "stylesheet", type: "text/css"}



= render partial: 'reader', locals: {presenter: @presenter}