- @title = "#{@reference.ref_string} #{@reference.version_string}"
- @reader_menus = true
- @is_reader = true

- content_for :sidebar do
  = render '/shared/widget_bookmarks' unless @bookmarks.empty?
  = render_cell :notes_list_widget, :display, notes: @notes, title: t("notes.community notes")
  = render '/shared/widget_ad_bible_app'

#reader_header
  %header
    %ul.float_left
      %li.gutter_right_quarter
        = @reference.ref_string
      %li
        %a.dynamic_menu_trigger.drop_down_arrow{:href => '#menu_book_chapter', :title => t("ref.choose book and chapter")}
          %span
            =t("ref.choose book and chapter")
      %li.separator
        %a.dynamic_menu_trigger.drop_down_select{:href => '#menu_version', :title => t("ref.choose version")}
          %b
            = @reference.version_string
          %span
            =t("ref.choose version")
      %li#li_selected_verses.separator.hide
        %a#clear_selected_verses.button{:href => '#', :title => 'Clear Selected Verses'}
          %span.icon_x
            Clear Selected Verses
        %a#verses_selected_button.dynamic_menu_trigger.button{:href => '#menu_bookmark', :title => t("ref.share")}
          %b.icon_share
            =t("ref.selected")
            %sup#verses_selected_count
              0
        -# Submit via GET to share verses...
        %form{action: '', id: 'verses_selected_form', method: 'get'}
          %input.verses_selected_input{name:'verses', type: 'hidden', value: ''}
    %ul.float_right
      %li.show_in_parallel_mode
        %a.dynamic_menu_trigger.drop_down_select{:href => '#menu_version', :title => t("ref.choose version")}
          %b
            = @reference.version_string
          %span
            =t("ref.choose version")
      %li.hide_in_parallel_mode
        %a.button.dynamic_menu_trigger{:href => '#menu_settings', :title => t("ref.settings")}
          %span.icon_settings
            =t("ref.settings")
      %li.hide_in_parallel_mode
        %a.button.dynamic_menu_trigger{:href => '#menu_audio_player', :title => t("ref.listen")}
          %span.icon_listen
            =t("ref.listen")
      %li.hide_in_parallel_mode
        %a.button#button_full_screen{:href => '#', :title => t("ref.full screen")}
          %span.icon_full_screen
            =t("ref.full screen")
      %li.float_right_in_parallel_mode
        %a#button_read_parallel.button{:href => '#', :title => t("ref.parallel")}
          %span.icon_parallel
            =t("ref.parallel")

%article{"data-book" => @reference[:book].to_s, "data-chapter" => @reference[:chapter].to_s, "data-version" => @reference[:version].to_s}
  = link_to(@reference.previous, bible_path(@reference.previous), class: "nav_prev") if @reference.previous
  = link_to(@reference.next, bible_path(@reference.next), class: "nav_next") if @reference.next
  #version_primary
    - @reference.contents.each do |r|
      = r.html_safe
  -# TODO: Make boom sauce, to compliment the awesome sauce.
  -# Aka: Make this thing output a secondary Bible version, KJV or sumthin'.
  #version_secondary
    - @reference.contents.each do |r|
      = r.html_safe

%footer
  %p
    %b
      %a{:href => '#'}
        =t("ref.about the")
        = @version
  %p= @reference.copyright
