#main_content
	#toolbar
		= t("version header", version: @version)
		= render_cell :version_selector, :display, :reference => @reference
		= render_cell :book_selector, :display, :reference => @reference
	%h1= @reference.human
	- if @reference.copyright
		%h3= @reference.copyright
	- @reference.contents.each do |r|
		= r.html_safe