- @title = "#{@reference.human} #{@reference.version_string}"
- @reader_menus = true
- @is_reader = true
- @canonical = bible_url(@reference)

- content_for :sidebar do
  = render partial: '/shared/widget_bookmarks_stub' if current_auth
  = render_cell :notes_list_widget, :stub, title: t("notes.community notes"), reference: @reference
  = render '/shared/widget_ad_bible_app'
  = render partial: '/shared/widget_parallel_notes', locals: {hide_widget: true}

= render partial: 'reader_header'
= render 'reader'

= render partial: "js"