// Variables necessary for templates and partials to render properly
- @version        = @presenter.version
- @alt_version    = @presenter.alt_version
- @reference      = @presenter.reference
- @alt_reference  = @presenter.alt_reference

- @title = "#{@reference.human} #{@reference.version_string}"
- @is_reader = true
- @canonical = bible_url(@reference)
- @html_classes = []
- @html_classes << "full_screen" if client_settings.reader_full_screen.present?
- @html_classes << "full_screen" << "parallel_mode" if client_settings.reader_parallel_mode.present?

- if @presenter.modal_verse.present?
  - content_for :additional_meta do
    %meta{name: "twitter:card",         content: "summary"}
    %meta{name: "twitter:url",          content: "#{request.protocol}#{request.host_with_port}#{request.fullpath}"}
    %meta{name: "twitter:title" ,       content: @title}
    %meta{name: "twitter:description",  content: truncate(@presenter.modal_verse.content(as: :plaintext), length: 200, separator: " ")}
    %meta{name: "twitter:site",         content: "@YouVersion"}
    %meta{name: "twitter:app:name:iphone", content:"Bible"}
    %meta{name: "twitter:app:id:iphone", content:"282935706"}
    %meta{name: "twitter:app:name:ipad", content:"Bible"}
    %meta{name: "twitter:app:id:ipad", content:"282935706"}
    %meta{name: "apple-itunes-app",     content: "app-id=282935706, app-argument=youversion://#{@presenter.modal_verse.to_ios_path}"}

= render partial: 'reader', locals: {presenter: @presenter}
