:ruby
  #Header
  header_params = {
    "strings" => {},
    "languageTag" => I18n.locale.to_s,
    "url" => request.path,
    "cache_for" => YV::Caching::a_very_long_time
  }

  @header_from_node = YV::Nodestack::Fetcher.get('Header', header_params, cookies, current_auth, current_user, request, cookie_domain)

- content_for :lower_javascript do
  %script{type:'text/javascript'}
    !='window.YV_API_HOST = "' + ENV['SECURE_HOSTNAME'] + '"'
    = if Cfg.nodejs_api_port.present?
      != 'window.YV_API_PORT = "' + Cfg.nodejs_api_port + '"'

- content_for :lower_javascript do
  - add_node_assets(@header_from_node['js']).each do |s|
    = javascript_include_tag s['src']

- content_for :stylesheets do
  - add_node_assets(@header_from_node['css']).each do |s|
    = stylesheet_link_tag s['src']

!= @header_from_node['html']
