// Local parameters
// presenter: Presenter::Sidebar::PlanSample
- plan          = presenter.plan
- day           = (params[:day] || 1).to_i
- content_page  = (params[:content] || 0).to_i
- reading       = plan.day(day)
- references    = reading.references(version_id: @presenter.version)


.mobile#mobile-sb-subscription
  .reader_modal_header
    %nav
      %a.close_btn.subscription_close_btn

= render partial: "/plans/button", locals: {plan: plan}


#widget-plan-controls.widget
  %h3.hd
    = link_to plan.name, plan_path(plan)

  #calendar.bd.nopad.rp-sample
    - cal_text = t("plans.calendar")

    .calendar-prev
      - prev_text = t("plans.previous day") # used in 3 places below
      - if day > 1
        = link_to(sample_plan_path(plan.to_param, day: (day - 1)), {class: "prev", title: prev_text }) do
          %span.calendar-arrows
            &nbsp;
          %span.calendar-arrow-txt
            = prev_text
      - else
        = link_to("#", class: "disabled prev") do
          %span.calendar-arrows
            &nbsp;
          %span.calendar-arrow-txt
            = prev_text

    .calendar-day
      %h4
        = t("plans.which day in plan", day: day.to_s, total: plan.total_days)

    .calendar-next
      - next_text = t("plans.next day") # used in 3 places below
      - if day <= plan.total_days - 1
        = link_to(sample_plan_path(plan.to_param, day: (day + 1)), {class: "next", title: next_text}) do
          %span.calendar-arrows
            &nbsp;
          %span.calendar-arrow-txt
            = next_text
      - else
        = link_to("#", class: "disabled next") do
          %span.calendar-arrows
            &nbsp;
          %span.calendar-arrow-txt
            = next_text

-# Links to scripture
.widget.scripture-links
  %h3.hd
    = t("plans.read today")
  %ul.menu.basic
    - unless references.empty?
      - references.each_with_index do |ref,index|
        %li.content_target{class: (content_page == index) ? "active #{content_page}" : nil }
          - ref_text = ref.reference.safe_human
          - if content_page == index
            %span= ref_text
          - else
            %a{href: sample_plan_path(plan.to_param , day: day.to_s, content: (index > 0 ? index.to_s : nil), version: params[:version])}
              = ref_text

- if reading.devotional
  #widget-devotional.widget
    %h3.hd= t("plans.devotional")
    %div.bd= reading.devotional.html_safe

