// Local parameters
// presenter: Presenter::Sidebar::Plan
- plan = presenter.plan

.widget
  - if current_auth
    -if current_user.subscribed_to?(plan)
      = link_to(t('plans.read today'), user_subscription_path(current_user,plan), id: "subscription-read", class: 'action_button_green', style: "margin-bottom: 10px")
    - else
      = link_to(t('plans.subscribe to plan'), user_subscriptions_path(current_user, plan_id: plan.to_param), id: "subscription-start", class: 'action_button_green', style: "margin-bottom: 10px", method: :post)
  - else
    = link_to(t('plans.subscribe to plan'), sign_up_path(source: "plan", id: plan.id, redirect: plan_start_path(plan)), class: 'action_button_green', style: "margin-bottom: 10px")
.widget
  %header
    %span
      =t("plans.more info")
  %ul.widget_menu
    %li
      %p
        %b=t("plans.length field")
        = plan.length
    - if !current_user || !current_user.subscribed_to?(plan)
      %li
        = link_to(t("plans.view sample"), day: 1.to_s)
.widget
  %header
    %span
      =t("plans.publisher")
  %ul.widget_menu
    %li
      %p= plan.copyright
    - unless plan.publisher_url.nil?
      %li
        = link_to(t("plans.about publisher"), plan.publisher_url)
