// Local parameters
// presenter: Presenter::Sidebar::Plan
- plan = presenter.plan

= render partial: "/sidebars/plans/button", locals: {plan: plan}

.widget
  %header
    %span
      =t("plans.more info")
  %ul.widget_menu
    %li
      %p
        %b Plan name:
        = plan.name
      %p
        %b=t("plans.length field")
        = plan.length
    - if (!current_user || !current_user.subscribed_to?(plan))
      %li{class: current_page?(controller:"plans",action:"sample") ? "active" : nil }
        = link_to_unless_current(t("plans.view sample"), sample_plan_path(plan.to_param, day: 1)) do
          %span= t("plans.view sample")

=render partial: "/sidebars/plans/publisher", locals: {plan: plan}
