!!! 5
%html
  %head
    = stylesheet_link_tag "campaigns/100m"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    = javascript_include_tag "campaigns/100m/jquery.countdown.min.js"
    = javascript_include_tag "campaigns/100m/counter_mini.js"

  %body

    %article

      -# BA headline and logo
      .intro
        %h1.intro-logo
          YouVersion: The Bible app
        %h2.intro-starts
          %span
            It starts with
          %em
            100 million
        %img{ src: "/assets/campaigns/100m/bg.jpg", class: "world-map"}
        %p.intro-copy
          Can the Bible App reach 100 million installs before our 5th anniversary on July 10th? Only with your help!

      -# Share buttons
      .share
        %p.share-copy
          Share with your friends
        .share-btns
          - fb_app_id   = Cfg.facebook_app_id
          - fb_name     = "Do you have the Bible App?"
          - fb_desc     = "I love the Bible App! It’s really helped me make the Bible part of my everyday life. It lets me highlight, listen to audio Bibles, make notes, follow devotional plans…even watch videos! Go download it now (it’s free): http://www.bible.com/app"
          - fb_link     = "http://www.bible.com/app"
          - fb_redirect = "http://www.bible.com/100million"
          %a.share-fb{target:"_blank", href: "https://www.facebook.com/dialog/feed?app_id=#{fb_app_id}&name=#{u(fb_name)}&description=#{u(fb_desc)}&link=#{u(fb_link)}&redirect_uri=#{u(fb_redirect)}"}
            Facebook

          - twitter = "The Bible App from @YouVersion has a permanent spot on my home screen. Read, watch, listen, and share...all in a free app: bible.com/app"
          %a.share-tw{target:"_blank", href: "https://twitter.com/intent/tweet?text=#{u(twitter)}#"}
            Twitter

          - subject = "Do you have the Bible App?"
          - body    = "I've been enjoying the Bible App from YouVersion and thought you might like it too. I’m opening the Bible a lot more these days because it’s so easy to read, watch, listen, and share. It even has Plans, which have a selection of the Bible all picked out and waiting for me every day. \n\n You can get it (free!) for pretty much any mobile device here: \n http://www.bible.com/app"
          %a.share-em{href: "mailto:?subject=#{u(subject)}&body=#{u(body)}"}
            Email

      -# App ticker
      .ticker
        -# Each cluster of three numbers is grouped
        %span.ticker-group-1
          %span.ticker-1
            0
          %span.ticker-2
            0
          %span.ticker-3
            0
        %span.ticker-group-2
          %span.ticker-4
            0
          %span.ticker-5
            0
          %span.ticker-6
            0
        %span.ticker-group-3
          %span.ticker-7
            0
          %span.ticker-8
            0
          %span.ticker-9
            0
      .ticker-divider
        = image_tag "campaigns/100m/ticker-divider.png"


      #counter{style: "color:#FFF;"}

      #date_countdown

      -# Day counter
      :javascript

        function installs_data(data) {
          STATS = data;
          var start_count = STATS.start_count;
          var start_date = STATS.start_date;
          var average_per_day = STATS.average_per_day;

          var single_pace = 950;

          // Todays Unix type timestamp (seconds):
          var today_date = Math.round((new Date()).getTime() / 1000);
          // Approximate days since start_time (seconds):
          var date_difference_seconds = Math.abs(today_date - start_date);
          var date_difference_days = Math.round(date_difference_seconds / 86400);
          // Corrected total downloads (to start the counter with):
          // tcg updated corrected_total_downloads and start_date/start_count on
          // Oct 18, 2012 -- via: https://sprint.ly/product/390/#!/item/223
          var corrected_total_downloads = Math.round(start_count + (average_per_day*date_difference_days));
          //var myCounter = new flipCounter('counter', {value: corrected_total_downloads, inc: 1, pace: single_pace, auto:true, tFH: 55, bFH: 55, fW: 82 });


          var config = {
            digitsNumber : 10,
            direction : Counter.ScrollDirection.Upwards,
            characterSet : Counter.DefaultCharacterSets.numericUp
          };

          var myCounter = new Counter("counter", config);

              myCounter.setValue(corrected_total_downloads, 1000);
        }

        (function() {

          var timestamp = 1373529600;
          var deadline  = new Date( timestamp * 1000);
          $('#date_countdown').countdown({until: deadline});
          $.getScript('http://installs.youversion.com/stats_jsonp.js');

        })();





      -# Video
      .video
        .video-box
          %iframe{width:"640",height:"360",src:"http://www.youtube.com/embed/gGclEW8E7GU?list=PL0429142BE6C7A21B", frameborder:"0", allowfullscreen:"true"}
        .video-copy
          %p
            July 10 is going to be a big day. Not only is it the 5th anniversary of the Bible App, it also marks 5 years since the launch of Apple’s iTunes Store.
          %p
            But even bigger? With your help, it’s the day the Bible App will reach 100 million downloads.
          %p
            We’ve learned God uses milestones like this to fuel even greater growth.
          %p
            Let’s make history together.

      %footer
        = image_tag "campaigns/100m/app-icon.png", class: "ad-img"
        %p.ad-title
          The Bible App is completely free and a great way to explore the Bible.
        %p.ad-copy
          Read, Listen, Watch, Share. Get the Bible App for your smartphone or tablet: <a href="#">bible.com</a>
