- t = Proc.new do |key, options={}|
  - I18n.t(key, options.merge(:locale => @locale))

.main.container_12
  %a#facebook.facebook{:href => "https://www.facebook.com/dialog/feed?app_id=174707456001921&link=https://www.bible.com/christmas&picture=https://www.bible.com/christmas/assets/christmas/star.png&name=Christmas%20Story%20Tracker&caption=bible.com/christmas&description=#{t('campaigns.christmas.facebook text')}&redirect_uri=https://www.bible.com/christmas", :target => "_blank"}
    = image_tag "campaigns/christmas/facebook-icon.png"
  %a#twitter.twitter{:href => "https://twitter.com/intent/tweet?source=webclient&text=#{t('campaigns.christmas.twitter text')}&hashtags=ChristmasTracker", :target => "_blank"}
    = image_tag "campaigns/christmas/twitter-icon.png"
  .copy
    %p
      = t('campaigns.christmas.verse').html_safe
    %p
      %a{:href => "https://www.bible.com/bible/111/luk.2.niv"}
        = t('campaigns.christmas.read more').html_safe
  .grid_3
    %a#logo{:href => "https://www.bible.com/app"}
      = image_tag "campaigns/christmas/logo.png", alt: "YouVersion logo"
  .grid_3.star
  .title.grid_6
    %h1
      = t('campaigns.christmas.tracker title')
  #map-bkg
    /
  #map.grid_12
    .figures.grid_4.hidden
      %h2
        = t('campaigns.christmas.read about')
      %h3
        = t('campaigns.christmas.totals since')
      .chapter_requests.figure
.hills
  .container_12
    .little_sheep.grid_3
    .shepherds.prefix_4.grid_5
.footer
  .container_12
    .flurry.grid_8
      .verse.hidden
        %span.installs
        %p
          = t('campaigns.christmas.total installs')
      .action
    .grid_3.prefix_1.download{style: "background: url('#{image_path(localized_bible_icon)}') no-repeat 25px 5px;"}
      %a{:href => "https://www.bible.com/app?ref=christmas"}
        %h3
          = t('campaigns.christmas.download')
        %span
          = t('campaigns.christmas.versions')
          %br
          = t('campaigns.christmas.tagline')

%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
= javascript_include_tag "campaigns/christmas/polymaps.min.js"
= javascript_include_tag "campaigns/christmas/plugins.js"
= javascript_include_tag "campaigns/christmas/script.js"