- # Local Parameters
- # plan - instance of Plan
- unique_id = rand(100)
%div
  - if logged_in?
    -if current_user.subscribed_to?(plan)
      = link_to(t('plans.read today'), subscription_path(user_id: current_user.to_param,id: plan.to_param), id: "subscription-read", class: 'action_button_green')
    - else
      = link_to(t('plans.subscribe to plan'),"#", id: "subscription-start", class: 'action_button_green', "data-toggle-trigger" => "true", "data-toggle-target" => "#toggle-#{unique_id}" )
      .plan-privacy-buttons{id: "toggle-#{unique_id}"}
        %p.detail-text
          = t("plans.privacy.visible to friends?")
          - subscribe_private_url = Proc.new {|private_bool| subscriptions_path(user_id: current_user.to_param, plan_id: plan.to_param, privacy: private_bool) }
        = link_to(t('ui.yes button'), subscribe_private_url.call(false), class:"action_button_blue button-public", method: :post)
        = link_to(t('ui.no button'), subscribe_private_url.call(true), class:"action_button_grey button-private", method: :post)
  - else
    = link_to(t('plans.subscribe to plan'), sign_up_path(source: "plan", id: plan.id, redirect: plan_path(plan)), class: 'action_button_green')