.split_pane_sidebar
  %dl.categories_menu
    %dt
      %ul.pagination{style: "margin-bottom: 0px; margin-top: 0px; padding-top:0px; border-top-width: 0px;", align: "center"}
        =render partial: "day_nav_lis", locals: {plan: @subscription}
        %div{style: "text-align: center; width: 175px; margin: 0 auto"}
          %h4{style: "margin-bottom: 0px; margin-top: -4px;"}= (@subscription.respond_to?(:reading_date) ? @subscription.reading_date(@day) : current_date + (@day - 1)).strftime('%a %b %-d')
          .mute{style: "font-weight: normal"}=t("plans.which day in plan", day: @day.to_s, total: @subscription.total_days)
    - if @reading.references
      - @reading.references.each_with_index do |r,i|
        %dd{class: @content_page == i ? "highlighted" : ""}
          = render partial: 'plan_ref_check_and_title', locals: {reference: r, plan: @subscription, index: i, cur_reading_index: @content_page, day: @day}
    = render partial: 'plan_links', locals: {plan: @subscription}
.split_pane_content
  - if @reading.references
    %span.float_right{style: "margin-top: -6px"}
      =render partial: 'ref_buttons', locals: {reference: @reading.references[@content_page].ref, audio_div_style: "top: 172px; left: 463px; position: absolute; z-index: 1;"}
    .embedded_reader{style: "padding-left: 30px; padding-bottom: 30px;"}= @reading.references[@content_page].ref.contents(format: 'html').join.html_safe
    = render partial: 'reading_completed_button', locals: {plan: @subscription, cur_reading_index: @content_page, reading: @reading, day: @day}
