- @title = "#{t('plans.title')}: #{t('plans.browse plans', category: @category.label || t('plans.all'))}"
- translate = params[:translate] == "true"

- content_for :additional_meta do
  = render '/shared/hreflang'
  - unless is_whitelabel_site
    - locale_dir = (I18n.locale.to_s.eql?("en") or I18n.locale.to_s.eql?("en-GB")) ? '' : '/' + I18n.locale.to_s
    - canonicalHref = "https://www.bible.com#{locale_dir}#{request.fullpath}"
    %link{rel: "canonical", href: canonicalHref}

- content_for :meta_description do
  = "#{t('plans.title')}: #{t('plans.browse plans', category: @category.label || t('plans.all'))}"

-#- content_for :title do
-#  = t("plans.title")

.fixed.after-header
  .row.full.b-border.white.collapse
    .medium-12.columns.text-center.plans-nav-box
      - if current_auth
        = link_to t("plans.my plans"), subscriptions_path(user_id: current_user.to_param), class: 'icon', target: "_self" if current_user.present? && @show_my_plans
        = link_to t("plans.all plans"), plans_path, class: 'icon active', target: "_self"
      - else
        = link_to t("plans.all plans"), plans_path, class: 'icon active plans-nav-all', target: "_self"

%article#plan-index
  - if @category.label.nil?
    .row.full
      .columns.medium-12.text-center
        %ul.medium-block-grid-4.large-block-grid-8.cat-box
          - if translate
            - orig_locale = I18n.locale
            - I18n.locale = @plan_lang
          - level = 0
          - if @category.children
            - @category.children.each do |category|
              - if category.slug != 'featured_plans'
                %li{class: params[:category] == category.slug ? "highlighted" : ""}
                  %a{:href => plans_path(params.merge(locale: orig_locale, category: category.slug, page: 1)), class: 'cat_' + category.slug, target: "_self"}
                    %img{src: '/assets/icon-plans-' + category.slug + '.svg'}
                    %label= category.label

    .row.full
      .columns.medium-12
        %h1.text-center.featured-title= t('plans.widget.featured plans')
        -if !@plans.nil?
          %ul.resource_list.medium-block-grid-3.small-block-grid-1
            - @plans.each do |plan|
              %li.plan
                = link_to(plan_path(plan, locale: I18n.locale), target: "_self") do
                  .search_thumbnail
                    - if plan.list_image.present?
                      = image_tag plan.list_image.url, class: 'subscription_thumbnail radius'
                    - else
                      %img{src: image_path('plans-hero-640x360.jpg'), class: 'radius'}
                  .subscription-info
                    %h3.plan-title
                      =plan.name
                    %span.length
                      = plan.formatted_length
        -else
          .none{align: "center"}= t("plans.none found")

  - else
    .row.full
      .columns.medium-3.allplans-list-box
        %h1= @category.label
        %form
          .row
            .small-12.columns
              %label
                = t('plans.bible plan language')
              %select.language{onChange: "this.form.submit();", name: "lang"}
                - (Plan.available_locales & I18n.available_locales).each do |loc|
                  %option{value: loc.to_s, selected: loc.to_s == @plan_lang.to_s}
                    = t("language name", locale: loc)

              -#  for mvp we've removed the sub category drop down and reverted to breadcrumbing code
              -#  so we don't have to introduce new UI to deal with 'X'ing from a subcat page
              -#  whatever new UI is built we need to be sure it accounts for pagination
              -#- if @category
              -#  - if @category.children
              -#    %label
              -#      = t("plans.subcategory")
              -#      %select.category{onChange: "this.form.submit();", name: "category"}
              -#        %option{value: ''}
              -#          = t("plans.subcategory")
              -#        - @category.children.each do |category|
              -#          %option{value: category.slug, selected: @category.label == category.label}
              -#            = category.label

              - level = -1
              - if @category
                - if @category.breadcrumbs
                  - @category.breadcrumbs.each do |category|
                    - level += 1
                    .breadcrumbs-item{class: params[:category] == category.slug ? "highlighted" : ""}
                      %a{href: plans_path(params.merge(locale: orig_locale, category: category.slug, page: 1)), :target => "_self"}
                        = (params[:category] == category.slug) ? t("plans.all category plans", category: category.label)  : category.label
                  - level += 1
                - if @category.children
                  - @category.children.each do |category|
                    .breadcrumbs-item{class: params[:category] == category.slug ? "highlighted" : ""}
                      %a{:href => plans_path(params.merge(locale: orig_locale, category: category.slug, page: 1)), :target => "_self"}
                        = category.label


      .columns.medium-9
        .list-box
          -if !@plans.nil?
            - @plans.each do |plan|
              = link_to(plan_path(plan, locale: I18n.locale), class: 'list-box-card', target: "_self") do
                %div
                  - if plan.list_image.present?
                    = image_tag plan.small_thumbnail_image.url, class: 'subscription_thumbnail radius'
                  - else
                    %img{src:image_path('plans-hero-80.png'), class: 'radius'}
                %div
                  %h3.plan-title= plan.name
                  %p.plan-length= plan.formatted_length

        %ul.paginate
          - if @plans.prev_page || @page > 1
            %li.prev
              =link_to "&larr; #{t('ui.pagination.previous page')}".html_safe, url_for({query: params[:query], category: params[:category],page: @plans.prev_page || @page - 1, locale: params[:locale], lang: params[:lang]}), rel: 'prev', target: "_self", class: "previous"
          - if @plans.next_page
            %li.next
              =link_to "#{t('ui.pagination.next page')} &rarr;".html_safe, url_for({query: params[:query], category: params[:category], page: @plans.next_page, locale: params[:locale], lang: params[:lang]}), rel: 'next', target: "_self", class: "next"
