- @title = t("plans.title")
- @sidebar = true
- @header_title = t("plans.title")
- @header = true

- content_for :header do
  %a#slideRight.nav_btn{:href => '#nav_primary'}
    View Navigation
  %h1#page_title= link_to(@header_title)
  %span.right_btn_slice

%div.combo_button
  = link_to t("plans.all plans"), plans_path
  = link_to t("plans.my plans"), user_plans_path(current_user), class: 'highlighted'

%article.readingplans.myplans
  - if !@user.subscriptions.empty?
    %ul.big_list
      - @user.subscriptions.each do |sub|
        %li
          %div
            %h4= link_to(sub.name, plan_path(sub))
            .progress_wrap
              .progress_counter
                =t("plans.current progress html", day: sub.current_day, total_days: sub.total_days).html_safe
                %span= "(#{t('percentage display', number: sub.progress).html_safe})"
              .progress_bar_outer
                .progress_bar{:style => "width:#{sub.progress}%"}
                  &nbsp;
              .progress_bar_cap
                &nbsp;
              .progress_bar_shadow
                .progress_percent_complete{style: "left:#{sub.progress}%"}
                  %b= t("percentage display", number: sub.progress)
                  .small= t("plans.completion status _ below percentage")
    = render "shared/pagination", resource_list: @user.subscriptions
  - else
    %div{class: "none"}= (@user == current_user) ? t("plans.you have no plans") : t("plans.no public plans", username: @user.username)