- @title = "#{@plan.title}: #{t('plans.day number', day: params[:day])} | #{t('plans.title')}"

- content_for :meta_description do
  = "#{t('plans.title')}: #{truncate(strip_tags(@plan.about).html_safe, length: 138, separator: " ", omission: '')}.."

- content_for :additional_meta do
  - locale_dir = I18n.locale.to_s.eql?("en") ? '' : '/' + I18n.locale.to_s
  - canonicalHref = "https://#{request.host_with_port}#{locale_dir}#{request.fullpath}"
  %link{rel: "canonical", href: canonicalHref}

  %meta{property: "og:title",       content: @title }
  %meta{property: "og:url",         content: @meta_url}
  %meta{property: "og:description", content: @plan.about }
  %meta{name: "twitter:card",             content: "summary"}
  %meta{name: "twitter:url",              content: @meta_url}
  %meta{name: "twitter:title" ,           content: @title}
  %meta{name: "twitter:description",      content: @plan.about}
  %meta{name: "twitter:image",            content: "#{url_for(asset_path('Bible-app-icon-english-120x120.png'))}"}
  %meta{name: "twitter:site",             content: "@YouVersion"}

- if current_auth
  - if @presenter.reference
    = render partial: "/references/reader", locals: {presenter: @presenter}
  - else
    %article
      %h1= t('plans.no verses')
      %p= t('plans.no content')
- else

  .sample_devotional
    %h1
      = "#{@plan.title} : #{t('plans.day number', day: @presenter.day)}"
    %div.mobile
      = render partial: "/plans/button", locals: {plan: @plan}
    - if @presenter.devotional.nil?
      %div.bd= @plan.about.html_safe
    - else
      %div.bd= @presenter.subscription.day(@presenter.day).devotional.html_safe
    %div.mobile
      - day           = (params[:day] || 1).to_i
      - content_page  = (params[:content] || 0).to_i
      - reading       = @plan.day(day)
      - references    = reading.references(version_id: @presenter.version)
      .widget.scripture-links
        %h3.hd
          = t("plans.read today")
        %ul.menu.basic
          - unless references.empty?
            - references.each_with_index do |ref|
              %li.content_target
                - ref_text = ref.reference.safe_human
                = link_to ref_text, reference_path(version: ref.reference.version, reference: ref.reference.to_param)

      .widget
        %h3.hd
          =t("plans.publisher")
        %div.bd
          %p= @plan.copyright.html_safe
        - unless @plan.publisher_url.nil?
          %div.ft.link
            = link_to(t("plans.about publisher"), @plan.publisher_url)

- # has to be here so that title_link content in ^^ references/reader partial will get overwritten
- overwrite_content_for(:title_link) do
  %span#m_plan_btn
    %span.plan_day= t('plans.day number', day: @presenter.day)
    %a.plan_btn{:href => 'javascript:void(0);'}
