- @title = "#{@plan.title}: #{t('plans.day number', day: params[:day])} | #{t('plans.title')}"

- content_for :meta_description do
  = "#{t('plans.title')}: #{truncate(strip_tags(@plan.about).html_safe, length: 138, separator: " ", omission: '')}.."

- content_for :additional_meta do

  %meta{property: "og:title",       content: @title }
  %meta{property: "og:url",         content: @meta_url}
  %meta{property: "og:description", content: @plan.about }
  %meta{name: "twitter:card",             content: "summary"}
  %meta{name: "twitter:url",              content: @meta_url}
  %meta{name: "twitter:title" ,           content: @title}
  %meta{name: "twitter:description",      content: @plan.about}
  %meta{name: "twitter:image",            content: "#{url_for(asset_path('Bible-app-icon-english-120x120.png'))}"}
  %meta{name: "twitter:site",             content: "@YouVersion"}

- if current_auth
  - if @presenter.reference
    = render partial: "/references/reader", locals: {presenter: @presenter}
  - else
    %article
      %h1= t('plans.no verses')
      %p= t('plans.no content')
- else
  - content_for :sidebar_class do
    = "open no_auth"
  .sample_devotional
    %h1
      = "#{@plan.title} : #{t('plans.day number', day: @presenter.day)}"
    - if @presenter.devotional.nil?
      %div.bd= @plan.about.html_safe
    - else
      %div.bd= @presenter.subscription.day(@presenter.day).devotional.html_safe

- # has to be here so that title_link content in ^^ references/reader partial will get overwritten
- overwrite_content_for(:title_link) do
  %span#m_plan_btn
    %span.plan_day= t('plans.day number', day: @presenter.day)
    %a.plan_btn{:href => 'javascript:void(0);'}
