- @title = "Plan Settings"
- @sidebar = true

- content_for :sidebar do
  .widget
    %header
      %span
        =t("plans.more info")
    %ul.widget_menu
      %li    
        %p
          %b=t("plans.length field")
          = @subscription.length
      - if !current_user.subscribed_to? @subscription      
        %li
          = link_to(t("plans.view sample"), @subscription.slug)
      %li
        = link_to(t("plans.users subscribed", user_count: @subscription.users.count), plan_users_path(@subscription.slug))
  .widget
    %header
      %span
        =t("plans.publisher")
    %ul.widget_menu
      %li
        %p= @subscription.copyright
      %li
        = link_to(t("plans.about publisher"), @subscription.publisher_url)
        -#TODO: view partial for this sidebar plan content

%article
  %dl.combo_button.float_right
    %dt
    %dd
      = link_to t("plans.day"), plan_path(@subscription)
    %dd.settings.highlighted
      = link_to t("plans.settings")
    %dd
      = link_to t("plans.month"), plan_calendar_path(@subscription)
  %h1{style: "clear: none; width: 300px;"}= @subscription.name
  %hr
  %h4= t("plans.settings")
  .progress_wrap{style: "margin-bottom: 10px"}
    .progress_counter
      =t("plans.current progress html", day: @subscription.current_day, total_days: @subscription.total_days).html_safe
    .progress_bar_outer
      .progress_bar{:style => "width:#{@subscription.progress}%"}
        &nbsp;
    .progress_bar_cap
      &nbsp;
    .progress_bar_shadow
      .progress_percent_complete{style: "left:#{@subscription.progress}%"}
        %b= t("percentage display", number: @subscription.progress)
        .small= t("plans.completion status (below percentage)")
  .float_right{style: "margin-bottom: 10px"}
    %div
      %b{style: "margin-right: 10px"}= t("plans.start date (before date string)")
      = @subscription.start.strftime("%B %d, %Y")
    %div
      %b{style: "margin-right: 16px"}= t("plans.end date (before date string)")
      = @subscription.end.strftime("%B %d, %Y")
  
  %hr
  .float_right= button_to(@subscription.email_delivery? ? t('plans.email_off') : t('plans.email_on'),  plan_settings_path(email_delivery: (!@subscription.email_delivery?).to_s), class: 'action_button_green', style: "width: 14em; height: 30px")
  %div{style: "width: 330px"}
    %h5= t("plans.email delivery")
    %p.float_left= t("plans.email delivery text", email_address: @subscription.user.email)
  -if @subscription.email_delivery?
    %form{method: 'get'}
      %div{style: "clear: both"}
        %select.float_right{onChange: "this.form.submit()", style: "width: 14em", name: "email_delivery"}
          - ["morning","afternoon","evening"].each do |time|
            %option{value: time, selected: time == @subscription.email_delivery_time_range}= t("plan.#{time}")
        %b.float_left{style: "width: 230px; margin-top: 5px"}=t("plans.delivery time")
      %div{style: "clear: both"}
        %select.float_right{onChange: "this.form.submit()", style: "margin-top: 15px; margin-bottom: 10px; width: 308px", name: "version"}
          - Version.all_by_language.each do |k, v|
            %optgroup{label: Version.languages[k]}
            - v.each do |k, v|
              %option{value: k.to_s, selected: k == @subscription.email_delivery_version}= v
        %b.float_left{style: "width: 230px; margin-top: 20px"}=t("plans.delivery version")

  %hr
  .float_right{style: "margin-top: 0px; margin-right: 0px"}= button_to(t('plans.catch me up'), plan_settings_path(catch_up: "true"), class: 'action_button_green', style: "width: 14em; height: 30px")
  %div{style: "width: 330px"}
    %h5= t("plans.are you behind")
    - if @subscription.last_completed_date
      %p.float_left= t("plans.catch up text", last_completed_day: @subscription.last_completed_day)
    -else 
      %p.float_left= t("plans.catch up description only")
  
  %hr
  .float_right{style: "margin-top: 0px; margin-right: 0px"}= button_to(t('plans.restart'), plan_settings_path(restart: "true"), class: 'action_button_green', style: "width: 14em; height: 30px")
  %div{style: "width: 330px"}
    %h5= t("plans.do you want to reset")
    %p.float_left= t("plans.restart description")  
  
  %hr
  .float_right{style: "margin-top: 0px; margin-right: 0px"}
    -if @subscription.public?
      .float_right= button_to(t('plans.make private'), plan_settings_path(make_private: "true"), class: 'action_button_green', style: "width: 14em; height: 30px")
    -else 
      .float_right= button_to(t('plans.make public'), plan_settings_path(make_public: "true"), class: 'action_button_green', style: "width: 14em; height: 30px")
  %div{style: "width: 330px"}
    %h5= t("plans.privacy title")
    %p.float_left= t("plans.privacy description")
    
  %hr
  %h5= t("plans.accountability")
  %form{method: 'get'}
    %input{type: "hidden", name: "send_reminder", value: (!@subscription.reminder_enabled?).to_s}
    %input{type: "checkbox", onChange: "this.form.submit()", id: "email_me_box",  checked: @subscription.reminder_enabled? ? "checked" : nil}
    %label{for: "email_me_box"}= t("plans.email reminder to me", email_address: @subscription.user.email)
  %form{method: 'get'}
    %input{type: "hidden", name: "send_report", value: (@subscription.accountability_partners.empty?).to_s}
    %input{type: "checkbox", onChange: "this.form.submit()", id: "report_box",  checked: @subscription.accountability_partners.empty? ? nil : "checked"}
    %label{for: "report_box"}= t("plans.email weekly report to a friend", email_address: @subscription.user.email)
  - if !@subscription.accountability_partners.empty?
    %form.float_right{method: 'get', style: "margin-top: 15px"}
      %input{:style =>"width: 220px; margin-left: 0px;", name: "add_accountability_partner", :type => 'search', :placeholder => t("plans.add members placeholder")}
      %input{:type => 'submit', :value => t("plans.add member")}
    %ul.float_left{style: "margin-left: 20px; margin-top: 0px;"}
      -@subscription.accountability_partners.each do|user_mash|
        %li.user{style: "clear: left"}
          - user = User.find(user_mash.id)
          %img.float_left.avatar_large{src: user.user_avatar_url["px_48x48"], style: "margin-right:10px"}
          %span
            .float_left=link_to(user.username == current_user.username ? t("myself") : user.username, @user)
            %br
            =link_to("x", remove_accountability_partner: user.username) if @subscription.accountability_partners.count > 1

  %hr
  .float_left{style: "height: 30px; margin-bottom: 5px"}= button_to(t('plans.stop reading'), plan_settings_path(unsubscribe: "true"), class: 'action_button_blue', style: "width: 14em; height: 30px")
  
  