- @title = "Plan Settings"
- @sidebar = true
- @header_title = t("plan settings")

.combo_button
  = link_to t("plans.month"), plan_calendar_path(@subscription)
  = link_to t("plans.about"), plan_path(@subscription, ignore_subscription: true), class: "unselected_tab"

%article.readingplans
  .progress_date
    %p= t("plans.started")
    %p= @subscription.start.strftime("%b %d")
    %p= @subscription.start.strftime("%Y")
  .progress_wrap
    .progress_bar_outer
      .progress_bar{:style => "width:#{@subscription.progress}%"}
        &nbsp;
    .progress_bar_cap
      &nbsp;
    .progress_bar_shadow
      .progress_percent_complete{style: "left:#{@subscription.progress}%"}
    .progress_counter
      =t("plans.current progress html", day: @subscription.current_day, total_days: @subscription.total_days).html_safe
      %span= "(#{t('percentage display', number: @subscription.progress).html_safe})"
  .progress_date.float_right
    %p= t("plans.ends")
    %p= @subscription.end.strftime("%b %d")
    %p= @subscription.end.strftime("%Y")

  .rp_settings
    %hr
    %div
      %h5= t("plans.are you behind")
      - if @subscription.last_completed_date
        %p= t("plans.catch up text", last_completed_day: @subscription.last_completed_day)
      -else
        %p= t("plans.catch up description only")

      = button_to(t('plans.catch me up'), plan_settings_path(catch_up: "true"), class: 'action_button_green')

    %hr
    %div.email_settings
      %h5= t("plans.email delivery")
      -if @subscription.delivered_by_email?
        %div
          %b=t("Delivered to:")
          %br
          %div{style: "width: 130px; overflow: hidden; text-overflow: ellipsis"}= @subscription.user.email
          .small{style: "margin-top: 3px"}= link_to(t("plans.email edit"), profile_path)
      = button_to(@subscription.delivered_by_email? ? t('plans.email_off') : t('plans.email_on'),  plan_settings_path(email_delivery: (!@subscription.delivered_by_email?).to_s), class: 'action_button_grey', style: "margin-top: 8px")
    -if @subscription.delivered_by_email?
      %form{method: 'get'}
        %div
          %b=t("plans.delivery time")
          %br
          %select{onChange: "this.form.submit()", name: "email_delivery"}
            - ["morning","afternoon","evening"].each do |time|
              %option{value: time, selected: time == @subscription.email_delivery_time_range}= t("plan.#{time}")
        %div{style: "margin-top: 12px"}
          %b=t("plans.delivery version")
          %br
          %select{onChange: "this.form.submit()", style: "margin: 4px 0 25px; width: 100%", name: "version"}
            - Version.all_by_language.each do |k, v|
              %optgroup{label: Version.languages[k]}
              - v.each do |k, v|
                %option{value: k.to_s, selected: k == @subscription.email_delivery_version}= v

    %hr
    %div{style: "overflow:hidden"}
      %h5= t("plans.do you want to reset")
      %p= t("plans.restart description")
    = button_to(t('plans.restart'), plan_settings_path(restart: "true"), class: 'confirm', "data-confirm-text" => t("confirm danger"), class: 'action_button_grey')
    %a{name: "privacy"}
    %hr

    %div
      %h5= t("plans.privacy title")
      %p= t("plans.privacy description")
    -if @subscription.public?
      = button_to(t('plans.make private'), plan_settings_path(make_private: "true"), class: 'action_button_grey')
    -else
      = button_to(t('plans.make public'), plan_settings_path(make_public: "true"), class: 'action_button_grey')

    %hr
    %div
      %a{name: "accountability"}
      %h5= t("plans.accountability")
      %br.clear
      %form{method: 'get'}
        %input{type: "hidden", name: "send_report", value: (@subscription.accountability_partners.empty?).to_s}
        %input{type: "checkbox", onChange: "this.form.submit()", id: "report_box",  checked: @subscription.accountability_partners.empty? ? nil : "checked"}
        %label{for: "report_box"}= t("plans.email weekly report to a friend", email_address: @subscription.user.email)
      - if !@subscription.accountability_partners.empty?
        %ul{style: "margin-left: 20px; margin-top: 0px;"}
          -@subscription.accountability_partners.each do|user_mash|
            %li.user{style: "clear: left"}
              - user = User.find(user_mash.id)
              %img.avatar_large{src: user.user_avatar_url["px_48x48"], style: "margin-right:10px"}
              %span
                =link_to(user.username == current_user.username ? t("myself") : user.username, @user)
                %br
                =link_to("x", remove_accountability_partner: user.username) if @subscription.accountability_partners.count > 1
        %form{method: 'get', style: "margin-top: 15px; margin-left: 30px; margin-bottom: 15px"}
          %input{:style =>"width: 220px; margin-bottom: 10px;", name: "add_accountability_partner", :type => 'search', :placeholder => t("plans.add members placeholder")}
          %input{:style => "margin-bottom: 10px", :type => 'submit', :value => t("plans.add member")}

    %hr{style: "margin-top: 15px"}
    = button_to(t('plans.stop reading'), plan_settings_path(unsubscribe: "true"), class: 'action_button_red confirm', "data-confirm-text" => t("confirm danger"), style: "margin-top: 0")

