- @title = "#{@plan.title.dup}" if @plan.present? && @plan.title.present?
- @meta_title = "#{@plan.title.dup}" if @plan.present? && @plan.title.present?
- @title << " - #{strip_tags(@plan.about).html_safe}" if @title.present? and @plan.about.present?
- @title = truncate(@title, length: 160, separator: " ", omission: '')
- @subtitle = '' # we don't want subtitle appended to single verse title so the verse gets more text space

- @meta_url = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"
- tw_image_url = @plan.hero_image.present? ? "https:#{@plan.hero_image.url}" : url_for(image_path(bible_icon_for_version(size: 120, version_id: @plan.version_id)))
- fb_image_url = @plan.hero_image.present? ? "https:#{@plan.hero_image.url}" : url_for(image_path(bible_icon_for_version(size: 200, version_id: @plan.version_id)))

- content_for :sidebar_class, 'rp-about-sidebar'

- content_for :meta_description do
  = "#{t('plans.title')}: #{truncate(strip_tags(@plan.about).html_safe, length: 138, separator: " ", omission: '')}"

- content_for :additional_meta do
  - locale_dir = (I18n.locale.to_s.eql?("en") or I18n.locale.to_s.eql?("en-GB")) ? '' : '/' + I18n.locale.to_s
  - canonicalHref = "https://#{request.host_with_port}#{locale_dir}#{request.fullpath}"
  %link{rel: "canonical", href: canonicalHref}
  %meta{property: "og:title",       content: @meta_title }
  %meta{property: "og:url",         content: @meta_url}
  %meta{property: "og:description", content: @plan.about }
  %meta{name: "twitter:card",             content: "summary"}
  %meta{name: "twitter:url",              content: @meta_url}
  %meta{name: "twitter:title" ,           content: @meta_title}
  %meta{name: "twitter:description",      content: @plan.about}
  %meta{name: "twitter:site",             content: "@YouVersion"}

- content_for :twitter_meta do
  %meta{name: "twitter:image", content: tw_image_url}

- content_for :facebook_meta do
  %meta{property: "og:image", content: fb_image_url}

.fixed.after-header
  .row.full.b-border.white.collapse
    .medium-12.columns.text-center
      = link_to t("plans.my plans"), subscriptions_path(user_id: current_user.to_param), class: 'icon', target: "_self" if current_user.present? && @show_my_plans
      = link_to t("plans.all plans"), plans_path, class: 'icon', target: "_self"

%article.reading_plan_index
  .row
    .medium-8.columns
      = image_tag @plan.hero_image.url, class: 'rp-hero-img' if @plan.hero_image.present?
      .rp-plan-box
        %h1.keep= @plan.name
        %p.rp-plan-info
          = @plan.length
        .rp-plan-about
          .rp-plan-about-buttons
            = render partial: "/plans/button", locals: {plan: @plan}
          %p!= @plan.about

    .medium-4.columns
      = render partial: "/sidebars/plans/show", locals: {presenter: self.sidebar_presenter}


- @branch_deeplink = "reading_plan_detail?id=#{@plan.id}"
= render '/shared/app_banner'


