- @title = @plan.title.dup if @plan.present? && @plan.title.present?
- @meta_url = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"

- content_for :additional_meta do

  %meta{property: "og:title",       content: @title }
  %meta{property: "og:url",         content: @meta_url}
  %meta{property: "og:description", content: @plan.about }
  %meta{name: "twitter:card",             content: "summary"}
  %meta{name: "twitter:url",              content: @meta_url}
  %meta{name: "twitter:title" ,           content: @title}
  %meta{name: "twitter:description",      content: @plan.about}
  %meta{name: "twitter:image",            content: "#{url_for(asset_path('Bible-app-icon-english-200x200.png'))}"}
  %meta{name: "twitter:site",             content: "@YouVersion"}

%article.reading_plan_index
  %h1.keep= @plan.name
  %div
    %p= @plan.about

  .mobile
    %p
      %strong= t("plans.length field")
      = @plan.length

    - if not logged_in?
      %p
        = link_to t("plans.view sample"), {day: 1.to_s}, {class: 'action_button_blue'}
        %br
        = link_to t('plans.subscribe to plan'), sign_up_path(source: "plan", id: @plan.id, redirect: '#TODO'), class: "action_button_green"
    - else
      = render partial: "/plans/button", locals: {plan: @plan}

    %p.mute= @plan.copyright
    - unless @plan.publisher_url.nil?
      = link_to(t("plans.about publisher"), @plan.publisher_url)
