%article
  %h1= @plan.name
  %hr
  %div
    %p= @plan.about
    %br
    %p.small
      = @plan.copyright
      = link_to(t("plans.about publisher"), @plan.publisher_url)
    %br
    %br
    %h5="#{t("plans.length")} : #{@plan.formatted_length}"
    =button_to(t("plans.view sample"), @plan)
    =button_to(t("plans.start"), @plan)
    %br