- @title = "#{@plan.title.dup} | #{t('plans.title')}" if @plan.present? && @plan.title.present?
- @meta_url = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"
- content_for :sidebar_class, 'rp-about-sidebar'

- content_for :meta_description do
  = "#{t('plans.title')}: #{truncate(strip_tags(@plan.about).html_safe, length: 138, separator: " ", omission: '')}.."

- content_for :additional_meta do

  %meta{property: "og:title",       content: @title }
  %meta{property: "og:url",         content: @meta_url}
  %meta{property: "og:description", content: @plan.about }
  %meta{name: "twitter:card",             content: "summary"}
  %meta{name: "twitter:url",              content: @meta_url}
  %meta{name: "twitter:title" ,           content: @title}
  %meta{name: "twitter:description",      content: @plan.about}
  %meta{name: "twitter:image",            content: "#{url_for(asset_path('Bible-app-icon-english-120x120.png'))}"}
  %meta{name: "twitter:site",             content: "@YouVersion"}

%article.reading_plan_index
  = image_tag @plan.hero_image.url, class: 'rp-hero-img' if @plan.hero_image.present?
  %h1.keep= @plan.name

  .rp-plan-info
    %p
      = @plan.length

  .rp-plan-about
    .rp-plan-about-buttons
      = render partial: "/plans/button", locals: {plan: @plan}
    %p!= @plan.about
