- if @subscription.is_a? Subscription
  .combo_button
    = link_to t("plans.month"), plan_calendar_path(@subscription)
    = link_to t("plans.about"), "#", {class:"highlighted"}

- @title = @plan.name
- @header_title = @plan.name
- @header = true

- content_for :header do
  %a#slideRight.nav_btn{:href => '#nav_primary'}
    View Navigation
  %h1#page_title= link_to t(@header_title)
  - if @subscription.is_a? Subscription
    %nav.right_nav
      %a.settings_btn{:href => plan_settings_path(@subscription)}

%article.readingplans
  %div{style: "overflow: hidden"}
    .about_length
      %strong
        Length
      %span
        = @plan.length

  .about
    %p= @plan.about

    - if current_auth
      -if current_user.subscribed_to?(@plan)
        = link_to(t('plans.read today'), plan_path(@plan), class: 'action_button_green', style: "margin-bottom: 10px")
      - else
        = link_to(t('plans.subscribe to plan'), plan_start_path(@plan), :class => 'action_button_green', style: "margin-bottom: 10px")
    - else
      = link_to(t('plans.subscribe to plan'), sign_up_path(source: "plan", id: @plan.id, redirect: plan_start_path(@plan)), class: 'action_button_green', style: "margin-bottom: 10px")

    - if !current_user || !current_user.subscribed_to?(@plan)
      = link_to(t("plans.view sample"), params.merge(day: 1.to_s), class: 'action_button_grey')

  .about{style: "padding-bottom: 20px; border-top: 1px solid #e5e5e5; margin-top: 20px"}
    %p= @plan.copyright
    - unless @plan.publisher_url.nil?
      = link_to(t("plans.about publisher"), @plan.publisher_url)