- @title = t("users.subscribed to plan", plan: @plan.name)

= render "default_sidebar"

%article
  %h2= @plan.name
  %h5= t("users.reading")
  %ul.big_list
    -@users.each do|user|
      %li.user
        %img.avatar_large{src: user.user.user_avatar_url["px_48x48"]}
        %div
          %h5=link_to(user.user.username, user.user)
          %p.mute.small.negative_gutter_top_half= t('users.subscribed previously', time_ago: time_ago_in_words(user.date))
  = render "shared/pagination", resource_list: @users

