:ruby
  # Used in
  # sidebars/notes/default
  # references/notes
  # notes#sidebar

  # NOTE: Until the API supports directional searches from a cursor (we only support forward)
  # we are only paginating foward for now. The only other option would be to implement a state
  # across multiple requests with a memcache key. If we tried to do it in javascript or dom, it
  # could get really nasty & long if the user pages over and over

  # Local variables
  # notes  (required)
  # ref    (required)

  title = t("notes.community notes")

#widget-notes.widget.comm-notes{"data-page" => @page, "data-paginate-link" => "/bible/#{ref.version}/#{ref.chapter_usfm}/notes", "data-cursor" => next_cursor}
  %div.hd
    %span
      = title

  - unless notes.empty?
    %ul
    - notes.each do |note|
      %li
        - user = note.user
        - md_avatar = user.avatars.md_avatar
        %img{src: md_avatar.url}

        %a= link_to note.title, note_path(note.id)
        %p.mute.small= user.name

    %div.ft
      - if @page < 5 and notes.count == 5
        %span.pagination.next= t('next page')

  - else
    %div.bd
      %p= t('notes.no community notes')
