:ruby
  # Used in
  # sidebars/notes/default
  # references/notes

  # Local variables
  # notes  (required)
  # link   (optional)
  # title  (optional)
  
   title = t("notes.community notes")
   link = link || notes_path

#widget-notes.widget
  %div.hd
    %span
      = title

  - unless notes.empty?
    %table
      %tbody
      - notes.first(8).each do |note|
        %tr
          %th
            %a
              - user = note.user
              - md_avatar = user.avatars.md_avatar
              %img.avatar_small{src: md_avatar.url}
              
          %td
            %a= link_to note.title, note_path(note.id)
            %p.mute.small= user.name

    %div.ft
      %a{href: link}= t('show all notes')

  - else
    %div.bd
      %p= t('notes.no community notes')