- @main_nav = false

- content_for :sidebar do
  = render "widgets/download_app"

%article
  -if @user.try(:errors) && @user.errors.any?

    -if @user.errors.include?(:base) && @user.errors.get(:base).include?("users.token.verified")
      %h1= t("sign in to youversion")
      %p= t('users.account already confirmed')
      = render partial:"sessions/signin"

    -elsif @user.errors.include? :invalid_hash
      %p= t('users.invalid confirm hash')
      %br
      %p= link_to t('users.resend confirmation button'), resend_confirmation_path, class: "action_button_blue"

    -else
      %p= t('users.errors confirming account')
      -@user.errors.full_messages.each do |e|
        %p.mute= e.to_s
      %br
      %p= link_to t('users.resend confirmation button'), resend_confirmation_path, class: "action_button_blue"

  -else
    %h1= t('users.welcome to youversion')
    %p= t('users.confirm password to continue')
    = form_tag confirm_path do
      = hidden_field_tag :username, params[:username] || @user.username
      %p
        = label_tag :password, t("password prompt")
        %br
        = password_field_tag :password, params[:password], {class: "autofocus"}
        %br
        %span.small= link_to t('users.forgot password'), forgot_password_path
      %p
        != submit_tag t("sign in")
