:ruby
  @title = t('users.edit profile')
  @setting_selected = :download #for settings layout

-content_for :lower_javascript do
  %script{type:'text/javascript'}
    !='window.YV_API_HOST = "' + ENV['SECURE_HOSTNAME'] + '"'
    = if Cfg.nodejs_api_port.present?
      != 'window.YV_API_PORT = "' + Cfg.nodejs_api_port + '"'
  %script{:type => "text/javascript", :src  => "https://cdn.polyfill.io/v2/polyfill.js?features=fetch"}
  %script{:src => "//#{ENV['SECURE_HOSTNAME']}:#{Cfg.nodejs_api_port}/tupos/babel-polyfill.min.js", :type => "text/javascript"}
  %script{:src => "//#{ENV['SECURE_HOSTNAME']}:#{Cfg.nodejs_api_port}/tupos/OAuth.bundle.js", :type => "text/javascript"}
  %script{:src => "//#{ENV['SECURE_HOSTNAME']}:#{Cfg.nodejs_api_port}/tupos/User.bundle.js", :type => "text/javascript"}

  :javascript
    document.getElementById("download-user-button")
      .addEventListener("click", function(e) {
        OAuth.getToken().then(function(response) {
          if (response && response.access_token) {
            User.download(response.access_token)
          } else {
            console.error('Bad token: ', response)
          }
        }, function(error) {
          console.error('E', error)
        });
      });


%h3{ :style => "font-weight: normal" }= t("gdpr.data")

%p{ :style => "max-width: 35em" }= t("gdpr.download blurb")
%br
%button#download-user-button.solid-button.green= t("download")
