- @title = t('users.edit password')

- content_for :title do
  = t('users.settings')

- content_for :sidebar do
  = render partial: "widgets/settings"

%article
  = render partial: "users/mobile_menu", locals: {selected: :password}

  %h2
    = t('users.edit password')

  = form_for :user, url: update_password_user_path(current_user), method: :put do |f|
    = render partial: "shared/form_errors", locals: {errors: @user.errors, heading: t("users.edit password errors")}
    .row
      .columns.medium-12
        = f.label :old_password do
          = t('users.profile.current password')
          = f.password_field :old_password
    .row
      .columns.medium-12
        = f.label :password do
          = t('users.profile.new password')
          = f.password_field :password
    .row
      .columns.medium-12
        = f.label :confirm_password do
          = t('users.profile.confirm password')
          = f.password_field :confirm_password
    .row
      .columns.medium-12
        = button_tag t('users.my password'), class: "solid-button green"
