- events_link = "/sign-up?redirect=events-admin"
- if current_auth
  - events_link = "https://events.bible.com/"

.MobileDropdown
  .close-dropdown-btn-mobile
    %img{:alt => "", "data-no-retina" => "", :src => image_path("features/events/close.svg"), :style => "width:26px;"}/
  %ul.mobile-menu
    %li
      %a.features-btn{:href => '/features/events'} Features
    %li
      %a{:href => '/features/events-faq'} FAQ
    %li
      %a{:href => '/features/market-your-event'} Market Your Event
.homepage-wrap
  .header-wrap.fixed-header
    .header
      .mobile-menu-btn.show-mobile
        %img{:alt => "", "data-no-retina" => "", :src => image_path("features/events/menu-icon.svg"), :style => "width:19px;"}/
      %a.logo{:href => "/features/events"}
        %img.logo-white{:alt => "", "data-no-retina" => "", :src => image_path("features/events/yv-logo-white.svg")}/
        %img.logo-black{:alt => "", "data-no-retina" => "", :src => image_path("features/events/yv-logo-gray.svg")}/
      %ul.main-nav
        %li
          %a.features-btn{:href => '/features/events'} Features
        %li
          %a{:href => '/features/events-faq'} FAQ
        %li
          %a{:href => '/features/market-your-event'} Market Your Event
        %li.btn2
          %a{:href => "mailto:?subject=This new feature from YouVersion could really help our church!&body=Have you seen YouVersion’s new Events feature yet? I believe it would really help our church engage people more with our services. It lets people add their own notes during a service, then even save the event so they can come back later and study it with the Bible references. I think it could probably save us money on printing costs, too. Here’s YouVersion’s Events website: http://www.bible.com/features/events.", :target => "_blank"} Tell Your Church
        %li.btn2
          %a{:href => events_link} Create an Event
      .clearfix
    / //header
  / //header-wrap
  #section-menu
    %ul#myMenu
      %li{"data-menuanchor" => "section1"}
        %a{:href => "#section1"} section1
      %li{"data-menuanchor" => "section2"}
        %a{:href => "#section2"} section2
      %li{"data-menuanchor" => "section3"}
        %a{:href => "#section3"} section3
      %li{"data-menuanchor" => "section4"}
        %a{:href => "#section4"} section4
      %li{"data-menuanchor" => "section5"}
        %a.features-btn{:href => "#features"} section5
  .BgBox
    #section1-bg.sectionBg
    #section2-bg.sectionBg
    #section3-bg.sectionBg
    #section4-bg.sectionBg
  #fullpage-wrap
    #section11.section
      #section1-bg
      .home-section-inner-wrap
        .home-text-wrap1
          .icon-row
            = image_tag_with_at2x "features/events/bible-app-icon-1024-e-n.png", :alt => "bible icon"
          %h1 Bring the power of the Bible App into your church services.
          %p Everything your church needs to engage with your message, and to share it with others. Free, paperless, and already installed on millions of devices.
          %a.movedown-btn
            = image_tag_with_at2x "features/events/chevron-down.png", :alt => "move down"
    #section21.section
      #section2-bg
      .home-section-inner-wrap
        .home-text-wrap2
          %h1 Help your community get more out of your messages.
          %p Attenders can follow along, engage with Scripture, take notes, and even save their own personalized copy for future reference.
          %a.movedown-btn
            = image_tag_with_at2x "features/events/chevron-down.png", :alt => "move down"
    #section31.section
      #section3-bg
      .home-section-inner-wrap
        .home-text-wrap3
          %h1 Your content on their smartphone.
          %p Message outlines, announcements, links to online giving… whatever you need to communicate to your church, share it all — 100% free.
          %a.movedown-btn
            = image_tag_with_at2x "features/events/chevron-down.png", :alt => "move down"
    #section41.section
      #section4-bg
      #section-iphone
      .home-section-inner-wrap
        .home-text-wrap4
          %h1 Lead your people further into the Bible.
          %p Recommend Reading Plans and Devotionals that will keep your community connecting with Scripture all week long.
          %a.movedown-btn2{:href => "#features"}
            = image_tag_with_at2x "features/events/chevron-down.png", :alt => "move down"
    .iphone-hand-wrap
      .iphone-hand-inner
        .iphone-hand
          .iphone-screen-wrap
            .screen-head
              = image_tag_with_at2x "features/events/home-images/iphone-screen-header.jpg", :alt => ""
            .iphone-screen
              = image_tag_with_at2x "features/events/home-images/large-feed.jpg", :alt => ""
            .screen-footer
              = image_tag_with_at2x "features/events/home-images/iphone-screen-footer.jpg", :alt => ""
    / //iphone-hand-wrap
    #features.section.fp-auto-height
      .admin-bg
        .wrap
          .admin-feature-content
            .slider-wrap
              -#%span.arrow-up.moveup-btn
              %h1 Powerful doesn’t have to mean complicated.
              %p Easily create Events from any web-connected Mac or PC. Simply drag-and-drop each of your Event pieces into place, rearranging, editing, and tweaking as you go.
              .laptop-bg
                .admin-banner-flexslider.flexslider
                  %ul.slides
                    %li
                      %img{:alt => "", "data-no-retina" => "", :src => image_path("features/events/slide1.png")}/
                    %li
                      %img{:alt => "", "data-no-retina" => "", :src => image_path("features/events/slide2.png")}/
                    %li
                      %img{:alt => "", "data-no-retina" => "", :src => image_path("features/events/slide3.png")}/
                    %li
                      %img{:alt => "", "data-no-retina" => "", :src => image_path("features/events/slide4.png")}/
            / //slider-wrap
            .content-two
              %h1 All the building blocks you need…to make exactly the Events you want.
              %p.intro Flexible modules save you time and effort. Combine elements to create new Events from scratch. Or reuse your existing Events and modify them as necessary. Even copy existing Events and modify them to suit completely different types of gatherings. All along the way, Preview lets you see your Event content exactly as your attenders will.
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/text-module-icon.png", :alt => "Text Module"
                  %span.text Text Module
                %p Outlines, key points, discussion questions… Share any text content that will help your attenders follow along with your message as it’s happening.
              / //each-box
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/bible-references-icon.png", :alt => "Bible References"
                  %span.text Bible References
                %p Display passages right where your message refers to them, linked to any of the Bible App’s 1,200+ versions, in 900+ languages — no copying or pasting required.
              / //each-box
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/reading-plans-icon.png", :alt => "Reading Plans Module"
                  %span.text Reading Plans Module
                %p Link to Bible Plans and Devotionals that relate to your teaching points, helping your audience continue to engage with God’s Word throughout the week.
              / //each-box
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/external-links-icon.png", :alt => "External Links"
                  %span.text Web Links Module
                %p Put your audience just one tap away from online giving, volunteer signup, or church home pages. Drop a link to any external site directly inside your Event.
              / //each-box
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/image-module-icon.png", :alt => "Image Module"
                  %span.text Image Module
                %p Bring your Event to life with series art, photos, Verse Images, and more. Attenders can easily share Event images to their social media, taking your message viral.
              / //each-box
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/announcement-module-icon.png", :alt => "Announcement Module"
                  %span.text Announcement Module
                %p Easily distribute all your timely, important information: church news, calendar events, programs, classes, volunteer and missions opportunities, and more.
              / //each-box
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/multiple-locations-icon.png", :alt => "Multiple Locations"
                  %span.text Locations & Times
                %p Let people know where and when your Event is taking place — even for Events happening at multiple times and locations.
              / //each-box
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/duplicate-events-icon.png", :alt => "Duplicate Events"
                  %span.text Duplicate Events
                %p Save time and effort. Rapidly create new Events by copying existing ones and modifying them with updated information.
              / //each-box
              .each-box
                .title
                  %span.icon
                    = image_tag_with_at2x "features/events/cost-savings-icon.png", :alt => "Cost Savings"
                  %span.text Cost Savings
                %p Save money on printing and use less paper… even as you’re reaching out to people on a platform with more than 200 million installs.
            / //content-two
            .content-three
              .imagebox
                = image_tag_with_at2x "features/events/piggy-bank-image.png", :alt => "piggy-bank-image"
              .text
                The average church spends
                %b $10,000 a year
                %br
                  on printing bulletins. Events helps you cut or
                  %br even eliminate those costs.
            / //content-three
            .content-testimonial
              %h1 Testimonials
              .each-testi
                .thumbnail
                  = image_tag_with_at2x "features/events/bill_white.png", :alt => "Bill White"
                %p “We were excited to implement YouVersion in our ministry, especially the Events section, where we insert each week’s teaching notes and comments. Our people appreciate having the notes at their fingertips, sharing them, and saving them. We’ve redirected thousands of dollars to other ministry needs by replacing printed programs!”
                %p.name
                  %b Pastor Bill White
                  %br Christ Journey Church
              / //each-testi
              .each-testi
                .thumbnail
                  = image_tag_with_at2x "features/events/herbert.png", :alt => "Herbert"
                %p “YouVersion Events is a valuable resource for our church family. The ability for our people to follow along with sermon notes and Scriptures during our messages creates powerful engagement and impact.”
                %p.name
                  %b Pastor Herbert Cooper
                  %br People’s Church
              / //each-testi
              .each-testi
                .thumbnail
                  = image_tag_with_at2x "features/events/cindy_beall.png", :alt => "Cindy Beall"
                %p “We use Events for all of our sessions, allowing our attendees to have the notes and Scriptures from the speakers right in front of them. Events has saved us printing thousands of pages! Setting up an Event is incredibly easy, and it’s always published at the exact time we need it.”
                %p.name
                  %b Cindy Beall
                  %br
                    Leading and Loving It
                    %br Director of Equip
            .content-app
              .icon-row
                = image_tag_with_at2x "features/events/bible-app-icon-1024-e-n.png", :alt => "bible icon"
              .inner-wrap
                %h1 Events is all-new, entirely free, and only in the Bible App.
                %p A revolution in Bible engagement is taking place within our lifetimes. Installed on more than 200 million unique devices so far (and counting), the Bible App is helping people in every country on earth connect more with God’s Word. And now, through Events, we’re happy to offer the reach of that platform to&nbsp;you.
                %ul.app-icons
                  %li
                    %a{:href => "https://appsto.re/ph/Agu3q.i", :target => "_blank"}
                      = image_tag_with_at2x "features/events/app-store-icon.png", :alt => "app store"
                  %li
                    %a{:href => "https://play.google.com/store/apps/details?id=com.sirma.mobile.bible.android&hl=en", :target => "_blank"}
                      = image_tag_with_at2x "features/events/google-play-icon.png", :alt => "google playstore"
  #last-section-bg.get-started-today
    .inner-wrap
      .intro-text
        %h1 Let’s get you started.
        %p Get your first Event ready to share in the Bible App in less than ten minutes. All you need is a Mac or PC and a free YouVersion account.
      %a.create-btn{:href => events_link, :target => "blank"} Create an Event
      .two-cols
        .each-col
          %a.title{:href => "/features/market-your-event"}
            %span.icon
              = image_tag_with_at2x "features/events/market-your-event-icon.png", :alt => "market your event"
            %span.text Market Your Event
          %p
            %a{:href => "/features/market-your-event"} Let your church know about live Events with these free customizable graphics.
        .separator
        .each-col
          %a.title{:href => "/features/events-faq"}
            %span.icon
              = image_tag_with_at2x "features/events/have-questions-icon.png", :alt => "market your event"
            %span.text.text2
              Frequently Asked
              %br Questions
          %p
            %a{:href => "/features/events-faq"} Find answers to everything you need to know about getting started with YouVersion Events.
        .clearfix
      %ul.footer-social-icons
        %li
          %a{:href => "https://www.facebook.com/sharer/sharer.php?u=http://www.bible.com/features/events", :target => "_blank"}
            %span.icon.facebook
            Share
        %li
          %a{:href => "https://twitter.com/intent/tweet?text= Have+you+seen+Events+in+%40YouVersion%E2%80%99s+Bible+App%3F+Message+outlines%2C+announcements%2C+links+to+online+giving%2C+%26+more%21+http%3A%2F%2Fbible.com%2Ffeatures%2Fevents", :target => "_blank"}
            %span.icon.twitter
            Tweet
        %li
          %a{:href => "mailto:?subject=This new feature from YouVersion could really help our church!&body=Have you seen YouVersion’s new Events feature yet? I believe it would really help our church engage people more with our services. It lets people add their own notes during a service, then even save the event so they can come back later and study it with the Bible references. I think it could probably save us money on printing costs, too. Here’s YouVersion’s Events website: http://www.bible.com/features/events.", :target => "_blank"}
            %span.icon.email
            Email
  %script{:defer => "", :src => "/assets/features/events/jquery.flexslider.js", :type => "text/javascript"}
  :javascript
    $(document).ready(function() {
      $('.admin-banner-flexslider').flexslider({
        animation: "slide",
        slideshow: false
      });
    });