:ruby
  @title = "#{t('plans.day number', day: @presenter.day)} - #{@presenter.subscription_name}"
  content_for(:body_class, "reading_plan")
  subscription  = presenter.subscription
  day           = presenter.day
  reading       = presenter.reading
  statuses      = subscription.day_statuses
  references    = reading.references(version_id: subscription.version_id)

.subscription-show
  .plan-overview
    .row
      .header.columns.large-8.medium-8.medium-centered
        .back
          = link_to subscriptions_path(user_id: current_user.to_param), target: "_self" do
            - if is_rtl?
              != "&rarr; #{t('searching.plans')}"
            - else
              != "&larr; #{t('searching.plans')}"

        .settings
          %a{ "ng-click" => "showShare = !showShare", "href" => "#" }
            != t("moments.action.share")
          %div.share-panel.ng-hide{"ng-show" => "showShare"}
            %div.video.addthis_sharing_toolbox{:data => {:url => "#{plan_url(id: subscription)}", :title => "#{subscription.name}"}}
          %div{ "plan-more-menu" => true }
            %a{"ng-click"=>"showMenu = !showMenu"}
              .trigger
                %span{"ng-hide"=>"showMenu"}!= "&bull;&bull;&bull;"
                %span.close-trigger.ng-hide{"ng-show"=>"showMenu"}

            %ul.ng-hide{"ng-show"=>"showMenu"}

              =link_to(edit_subscription_path(user_id: current_user.to_param, id: subscription), target: "_self") do
                %li= t("plans.settings")

              =link_to(plan_path(id: subscription, back: 'subscription'), target: "_self") do
                %li= t("EventsAdmin.features.EventEdit.features.preview.components.PreviewTypePlan.info")

              =link_to(calendar_subscription_path(user_id: current_user.to_param, id: subscription), target: "_self") do
                %li= t("plans.calendar")

              %li
                =button_to t('plans.catch me up'), subscription_path(user_id: current_user.to_param, id: subscription,catch_up: "true"), method: :put, class: 'link'

    .row.collapse
      .columns.medium-centered.text-center.img
        - if subscription.list_image.present?
          = image_tag subscription.list_image.url, class: 'rp-hero-img'
        - else
          %img{src: image_path('plans-hero-640x360.jpg'), class: 'rp-hero-img'}

    .row
      .medium-centered.text-center
        %h3.plan-title= subscription.name


  .row.days-container.collapse
    .columns.large-8.medium-8.medium-centered
      .day-slider.ng-hide{"carousel" => "", "center-mode" => "false", "slides-to-scroll" => "8", "slides-to-show" => "8", "autoplay" => "false", "initial-slide" => @presenter.day - 1, "rtl" => "#{is_rtl? ? 'true' : 'false'}", "dir" => "#{is_rtl? ? 'rtl' : 'ltr'}", "responsive" => "[{ breakpoint: 436, settings: { arrows: false, slidesToShow: 5, slidesToScroll: 5 } },{ breakpoint: 376, settings: { arrows: false, slidesToShow: 4, slidesToScroll: 4 } },{ breakpoint: 321, settings: { arrows: false, slidesToShow: 3, slidesToScroll: 3 } }]"}
        - statuses.each do |cur_status|
          - cur_date = Date.parse(cur_status.date)
          - is_active = cur_status.day.equal? @presenter.day
          = link_to(subscription_path(user_id: current_user.to_param, id: subscription, day: cur_status.day), "target" => "_self" ) do
            .day{class:"#{cur_status.completed ? 'completed' : ''} #{is_active ? 'active' : ''}"}
              .day-top{class: "#{cur_status.completed ? 'check-background' : ''}"}

              .day-bottom
                %h1.text-center= cur_status.day
                %h4.text-center= I18n.l(cur_date, format: :short)


  .row
    .columns.large-8.medium-8.medium-centered
      .start-reading
        - if presenter.reading.devotional
          - start_reading_path = devo_subscription_path(user_id: current_user.to_param, id: subscription, day: @presenter.day)
        - else
          - start_reading_path = ref_subscription_path(user_id: current_user.to_param, id: subscription, day: @presenter.day, content: 0, initial: true)

        = link_to start_reading_path, target: "_self", class: 'solid-button green' do
          = t("plans.widget.start reading")

      %p!= "#{t("plans.current progress html", day: @presenter.day, total_days: subscription.total_days).html_safe} &bull; #{presenter.on_track_status}"

      %ul.no-bullets.plan-pieces

        -if presenter.reading.devotional
          -forward_path = subscription_path(user_id: current_user.to_param, id: subscription, day: @presenter.day, completed: "#{!statuses[day - 1].additional_content.completed}", ref: nil, devo: "#{!statuses[day - 1].additional_content.completed}", content: nil, stay: 'true')
          %li{class: "#{is_rtl? ? 'li-left' : 'li-right'}"}
            = form_tag(forward_path, method: :put, id: 'plan_devo_complete_form') do
              - if statuses[day - 1].additional_content.completed
                %a{'onClick' => 'document.getElementById("plan_devo_complete_form").submit()'}
                  = image_tag image_path("Check-Small.svg")
              - else
                %a{'onClick' => 'document.getElementById("plan_devo_complete_form").submit()'}
                  = image_tag image_path("Check-Unchecked.svg")

            = link_to devo_subscription_path(user_id: current_user.to_param, id: subscription, day: @presenter.day), target: "_self", title: t("plans.devotional") do
              = t("plans.devotional")

        - unless references.empty?
          - references.each_with_index do |ref,index|
            -forward_path = subscription_path(user_id: current_user.to_param, id: subscription, day: @presenter.day, completed: "#{!ref.completed}", ref: ref.reference.to_param.downcase , devo: "#{statuses[day - 1].additional_content.completed}", content: index, stay: 'true')
            %li{class: "#{is_rtl? ? 'li-left' : 'li-right'}"}
              = form_tag(forward_path, method: :put, id: "plan_ref_#{index}_complete_form") do
                - if ref.completed
                  %a{'onClick' => "document.getElementById('plan_ref_#{index}_complete_form').submit()"}
                    = image_tag image_path("Check-Small.svg")
                - else
                  %a{'onClick' => "document.getElementById('plan_ref_#{index}_complete_form').submit()"}
                    = image_tag image_path("Check-Unchecked.svg")
              = link_to ref_subscription_path(user_id: current_user.to_param, id: subscription, day: @presenter.day, content: index, initial: true), target: "_self", title: t("read reference", { reference: ref.reference.safe_human }) do
                = ref.reference.safe_human