.moment-actions
  %span.moment-actions-share
    <a href="#" title="Share this with friends or family">Share</a>

  %span.moment-actions-like
    <a href="#" title="Like this">Like</a>

  %span.moment-actions-comment
    = link_to "Comment", moment.to_path, title: "See all comments"

  - if moment.user_id == current_auth.user_id

    .moment-content-actions
      = link_to("Edit", "#{moment.to_path}/edit", class: "moment-content-actions-edit", title: "Edit this #{moment.kind}" )
      = link_to("Delete", moment.to_path, method: :delete, confirm: "Are you sure?", title: "Delete this #{moment.kind}")