:ruby
  # Locals Parameters
  # moment - a single Moment object  (Bookmark, Highlight, Note)

.moment-actions
  %span.moment-actions-share
    %a{href:"#", title: t("moments.action.share title")}
      = t("moments.action.share")

  %span.moment-actions-like
    %a{href:"#", title: t("moments.action.like title")}
      = t("moments.action.like")

  %span.moment-actions-comment
    = link_to t("moments.action.comment"), moment.to_path, title: t("moments.action.comment title")

  - if moment.user_id == current_auth.user_id

    .moment-content-actions
      = link_to( t("moments.action.edit"), "#{moment.to_path}/edit", class: "moment-content-actions-edit", title: t("moments.action.edit #{moment.kind} title" ) )
      = link_to( t("moments.action.delete"), moment.to_path, method: :delete, confirm: t("moments.action.delete confirm"), class: "moment-content-actions-delete", title: t("moments.action.delete #{moment.kind} title"))