:ruby
  # Locals Parameters
  # moment - a single Moment to display  (Bookmark, Highlight, Note)
  # comments_displayed - boolean, true or false (whether or not to display comments when rendering html)
  # detail_view         - boolean, true or false (whether this is a detail view or a card view)  

  detail_view = false unless local_assigns.has_key? :detail_view
  avatars = moment.avatars
  avatar = avatars.lg_avatar

.moment{"data-moment-id" => moment.id}
  -# !the content of the moment
  .moment-top
    .moment-bm
      %span.moment-icon
        &nbsp;
      %span.moment-avatar
        = link_to(user_path(moment.user_name)) do
          = image_tag avatar.url
      %span.moment-time
        = api_dt_time_ago(moment.created_dt)

      %h2.moment-bm-text
        = link_to(bookmark_title(moment), moment.to_path, class: "moment-title-link")

      - if moment.references.present?
        .moment-verse-wrap{:class => detail_view ? "detail-view" : ""}
          - moment.references.each do |ref|
            %p.moment-verse.empty{"data-usfm" => usfm_from_moment(ref), "data-version-id" => ref.version_id }
              = "#{ref.human}(#{ref.usfm})"

      - if moment.labels.present? and logged_in? and current_user_moment? moment
        %p.moment-bm-labels
          - moment.labels.each do |label|
            = link_to(label, bookmarks_user_path(current_user, label: label.chomp),class: "moment-bm-labels-link")

  -# !share controls, dates, and comments
  .moment-btm
    = render partial: "moments/actions_bar", locals: {moment: moment}
    = render partial: "moments/comments", locals: {moment: moment, comments_displayed: comments_displayed}