- avatars = moment.avatars
- avatar = avatars.lg_avatar

.moment
  -# !the content of the moment
  .moment-top
    .moment-bm
      = image_tag "social-cap-bm.png", class: "moment-img"
      %span.moment-avatar
        = image_tag avatar.url
      %p.moment-bm-text
        = link_to(moment.moment_title.html_safe, moment.to_path, class: "moment-title-link")

      - if moment.references.present?
        .moment-verse-wrap
          - moment.references.each do |ref|
            %p.moment-verse.empty{"data-usfm" => usfm_from_moment(ref), "data-version-id" => ref.version_id }
              = "#{ref.human}(#{ref.usfm})"

      - if moment.labels.present?
        %p.moment-bm-labels
          - moment.labels.each do |label|
            = link_to(label, bookmarks_user_path(@user, label: label.chomp),class: "moment-bm-labels-link")

      = render partial: "moments/owner_actions", locals: {moment: moment}

  -# !share controls, dates, and comments
  .moment-btm
    = render partial: "moments/actions_bar", locals: {moment: moment}
    = render partial: "moments/comments", locals: {moment: moment, comments_displayed: comments_displayed}