:ruby
  # Locals Parameters
  # moment - a single Moment object  (Bookmark, Highlight, Note)
  # comments_displayed - boolean, true or false (whether or not to display comments when rendering html)
  # detail_view - boolean, true or false (whether this is a detail card or a regular feed card)


.moment-comments{class: comments_displayed ? "" : "hide"}
  
  - if moment.liking
    - if moment.likes_count.to_i > 0
      %span.moment-comments-likes
        = moment_whos_liked_string(moment) # App helper

  - if moment.commenting
    - if moment.comments_count.to_i > 3  and not detail_view
      %span.moment-comments-more
        = link_to( t("comments.view all N", count: moment.comments_count), moment.to_path)

    - # We need to render an empty ul if there are no comments so that
    - # our front end javascript can insert a new comment via ajax as needed
    - # Don't adjust the conditional to not render a ul if there are no comments
    %ul.moment-comments-list
      - if moment.comments
        - moment.comments.each do |comment|
          - user = comment.user
          - avatar = user.avatars.md_avatar
          %li.moment-comments-list-comment
            %span.moment-comments-list-avatar
              = link_to(user) do
                = image_tag avatar.url
            %p.moment-comments-list-text
              = link_to(user.name, user_path(user.username))
              = comment.content
              %span.moment-comment-dt
                = api_dt_time_ago(comment.updated_dt)
            - if current_user_moment?(moment) or current_user_is?(user)
              %a.moment-comment-delete{href:"#", "data-comment-id" => comment.id, title: "Delete this comment"}
                Delete this comment

    = render partial: "moments/comments_form", locals: {moment: moment}