- verse_of_today = VOD.today

.moment
  .moment-top
    .moment-vod
      .moment-vod-calendar
        .moment-vod-calendar-date
          = verse_of_today.week_day
        .moment-vod-calendar-img
          = image_tag "moment-vod-calendar-img.png"
      %span.moment-time
        = verse_of_today.date.to_s(:long)
      .moment-vod-title
        = t("moments.vod.title")
      %p.moment-vod-verse
        = verse_of_today.content

      = link_to(verse_of_today.human, reference_path(version: verse_of_today.version, reference: verse_of_today.usfm), class: "moment-vod-links")

      %ul.moment-vod-list
        %li.moment-vod-list-on
          = verse_of_today.version.abbreviation.upcase