- avatars = moment.avatars
- md_avatar = avatars.md_avatar
- friend = moment.friend
- friend_avatar = friend.avatars.lg_avatar


.moment
  .moment-top
    .moment-fr
      = image_tag "social-cap-fr.png", class: "moment-img"
      %span.moment-avatar
        = image_tag md_avatar.url
      %p.moment-fr-text
        = moment.moment_title.html_safe

      .moment-fr-box
        %a{href: user_path(friend.user_name) }
          = image_tag friend_avatar.url, class: "moment-fr-avatar", size: "128x128"
          %span.moment-fr-name
            = friend.name