- avatars = moment.avatars
- avatar = avatars.lg_avatar

.moment
  .moment-top
    .moment-hi
      %span.moment-icon
        &nbsp;
      %span.moment-avatar
        = image_tag avatar.url
      %span.moment-time
        = api_dt_time_ago(moment.created_dt)

      %h2.moment-hi-text
        - anchor_text = (moment.user_id == current_auth.user_id) ? moment.references.collect {|r| r.human}.join(", ") : moment.moment_title.html_safe
        = link_to(anchor_text, moment.to_path, class: "moment-title-link")

      - if moment.references.present?
        .moment-verse-wrap
          - moment.references.each do |ref|
            %p.moment-verse.empty{"data-usfm" => usfm_from_moment(ref), "data-version-id" => ref.version_id }
              = "#{ref.human}(#{ref.usfm})"

  -# !share controls, dates, and comments
  .moment-btm
    = render partial: "moments/actions_bar", locals: {moment: moment}
    = render partial: "moments/comments", locals: {moment: moment, comments_displayed: comments_displayed}