- avatars = moment.avatars
- md_avatar = avatars.md_avatar

.moment
  -# !the content of the moment
  .moment-top
    .moment-bm
      = image_tag "social-cap-bm.png", class: "moment-img"
      %span.moment-avatar
        = image_tag md_avatar.url
      %p.moment-bm-text
        = link_to(moment.moment_title.html_safe, moment.to_path, class: "moment-title-link")
      - if moment.references.present?
        .moment-verse-wrap
          - moment.references.each do |ref|
            %p.moment-verse{"data-usfm" => usfm_from_moment(ref), "data-version-id" => ref.version_id }
              = "#{ref.human}(#{ref.usfm})"

      .moment-content-actions
        <a href="#" class="moment-content-actions-edit" title="Edit this highlight">Edit this highlight</a>
        <a href="#" class="moment-content-actions-delete" title="Delete this highlight">Delete this highlight</a>


  -# !share controls, dates, and comments
  .moment-btm
    = render partial: "moments/actions_bar", locals: {moment: moment}
    = render partial: "moments/comments", locals: {moment: moment}