- avatars = moment.avatars
- md_avatar = avatars.md_avatar

.moment
  .moment-top
    .moment-no
      = image_tag "social-cap-no.png", class: "moment-img"
      %span.moment-avatar
        = image_tag md_avatar.url
      %p.moment-no-text
        = link_to(moment.moment_title.html_safe, moment.to_path, class: "moment-title-link")
      %span.moment-no-note
        %p.moment-no-note-title
          = moment.title
        %p.moment-no-note-text
          = moment.content

      = render partial: "moments/owner_actions", locals: {moment: moment}

  .moment-btm
    = render partial: "moments/actions_bar", locals: {moment: moment}
    = render partial: "moments/comments", locals: {moment: moment, comments_displayed: comments_displayed}