:ruby
  # Locals Parameters
  # moment - a single Moment to display  (Bookmark, Highlight, Note)
  # comments_displayed - boolean, true or false (whether or not to display comments when rendering html)

  detail_view = false unless local_assigns.has_key? :detail_view

  avatars = moment.avatars
  avatar = avatars.lg_avatar

.moment
  .moment-top
    .moment-no
      %span.moment-icon
        &nbsp;
      %span.moment-avatar
        = image_tag avatar.url
      %span.moment-time
        = api_dt_time_ago(moment.created_dt)

      %h2.moment-no-text
        - anchor_text = (moment.user_id == current_auth.user_id) ? moment.title : moment.moment_title.html_safe
        = link_to(anchor_text, moment.to_path, class: "moment-title-link")

      - if detail_view and moment.references.present?
        .moment-no-refs
          - moment.references.each do |ref_hash|  #{"human"=>"John 1:5", "version_id"=>1, "usfm"=>["JHN.1.5"]}
            = link_to(ref_hash.human, reference_path(version: ref_hash.version_id, reference: ref_hash.usfm.join("+")), class: "moment-no-refs-link")

      .moment-no-note{:class => detail_view ? "detail-view" : ""}
        %p.moment-no-note-title
          = moment.title
        %p.moment-no-note-text
          = moment.content

  .moment-btm
    = render partial: "moments/actions_bar", locals: {moment: moment}
    = render partial: "moments/comments", locals: {moment: moment, comments_displayed: comments_displayed}