- avatars = moment.avatars
- avatar = avatars.lg_avatar

.moment
  .moment-top
    .moment-no
      = image_tag "social-cap-no.png", class: "moment-img"
      %span.moment-avatar
        = image_tag avatar.url
      %span.moment-actions-time
        = api_dt_time_ago(moment.created_dt)
      
      %h2.moment-no-text
        - anchor_text = (moment.user_id == current_auth.user_id) ? moment.title : moment.moment_title.html_safe
        = link_to(anchor_text, moment.to_path, class: "moment-title-link")
      
      .moment-no-note
        %p.moment-no-note-title
          = moment.title
        %p.moment-no-note-text
          = moment.content

  .moment-btm
    = render partial: "moments/actions_bar", locals: {moment: moment}
    = render partial: "moments/comments", locals: {moment: moment, comments_displayed: comments_displayed}