!!! 5
%html{class: (@html_classes.join(' ') if @html_classes)}
  %head{:lang => 'en-us'}
    = csrf_meta_tags
    - if @canonical
      %link{rel: "canonical", href: @canonical}
    = render '/shared/head'
    %link{rel: "shortcut icon", href:"/favicon.ico"}
    %meta{name: "msApplication-ID", content: "af5f6405-7860-49a9-a6b4-a47381974e1d"}
    %meta{name: "msApplication-PackageFamilyName", content: "LifeChurch.tv.Bible_d1phjsdba8cbj"}
  %body
    #wrapper{:class => @fixed_width == true ? 'fixed_width' : ''}
      #header_outer
        = render '/shared/header'
      - flash.each do |key, msg|
        %div{class: "flash_#{key}"}= msg
      #container{:class => @sidebar == false ? 'no_sidebar' : ''}
        #main{:role => "main", :class => @is_reader == true ? 'main_reader' : ''}
          = render '/shared/nav_primary'
          = content_for?(:main) ? yield(:main) : yield
          - if content_for? :main_trailer
            = yield :main_trailer
        - if content_for? :sidebar
          #sidebar
            = yield :sidebar
        - else
          - unless @sidebar == false
            = render '/shared/sidebar'
      = render '/shared/footer'
    - if @reader_menus == true
      = render_cell :book_selector, :display, {version: @version}
      = render_cell :version_selector, :display, {version: @version, recent_versions: recent_versions, reference: @reference}
      = render_cell :version_selector, :display, {version: @alt_version, recent_versions: recent_versions, reference: @reference, is_alt: true}
      = render '/shared/menu_bookmark'
      = render '/shared/menu_settings'
      = render '/shared/menu_audio_player'
      = render '/shared/modal_single_verse'
      = render '/shared/modal_share_verse'

    = render '/shared/javascripts'
