!!! 5
%html
  %head
    %title= t('youversion')
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - flash.each do |key, msg|
      %div{id: key}= msg
    - if current_auth
      %p= t("signed in as", user: current_user.username)
      %p= link_to t("sign out"), sign_out_path
    - else
      %p= link_to t("sign in"), sign_in_path
    = yield
    %select#choose_language{name: "choose_language"}
      - I18n.available_locales.each do |loc|
        %option{value: loc, href: url_for(params.merge!(locale: loc)), selected: loc == I18n.locale}= t("language name", locale: loc)