!!! 5
%html{class: (@html_classes.join(' ') if @html_classes), "data-locale" => I18n.locale, id: @html_id}
  %head{:lang => 'en-us'}
    = csrf_meta_tags
    - if @canonical
      %link{rel: "canonical", href: @canonical}
    = render '/shared/head'
    %link{rel: "shortcut icon", href:"/favicon.ico"}
    %meta{name: "msApplication-ID", content: "af5f6405-7860-49a9-a6b4-a47381974e1d"}
    %meta{name: "msApplication-PackageFamilyName", content: "LifeChurch.tv.Bible_d1phjsdba8cbj"}
    = render '/shared/javascripts'
    = render '/shared/google_analytics'

    :javascript
      var ua = navigator.userAgent;
      if (ua.indexOf("BlackBerry") >= 0) {
          if (ua.indexOf("Version/") >= 0) { // ***User Agent in BlackBerry 6 and BlackBerry 7
              Verposition = ua.indexOf("Version/") + 8;
              TotLenght = ua.length;
              document.write("BB OS Version :: " + ua.substring(Verposition, Verposition + 3));
          }
          else {// ***User Agent in BlackBerry Device Software 4.2 to 5.0
              var SplitUA = ua.split("/");
              document.write("BB OS Version :: " + SplitUA[1].substring(0, 3));
          }
      }

  %body
    #wrapper
      #header_outer
        = render '/shared/header'
      - flash.each do |key, msg|
        %div{class: "flash_#{key}"}= msg
      #container{:class => @sidebar == false ? 'no_sidebar' : ''}
        #main{:role => "main", :class => @is_reader == true ? 'main_reader' : ''}
          = render partial: '/shared/nav_primary' unless @main_nav == false
          = content_for?(:main) ? yield(:main) : yield
          - if content_for? :main_trailer
            = yield :main_trailer
        #sidebar
          - if content_for? :sidebar
            = yield :sidebar
          - else
            - unless (@sidebar == false || sidebar_presenter.blank?)
              = render partial: sidebar_presenter.sidebar_partial, locals: {presenter: sidebar_presenter}
      = render partial: '/shared/nav_mobile' unless @main_nav == false
      = render '/shared/footer'
