!!! 5
%html
  %head
    = render '/shared/head'
    = csrf_meta_tags
  %body
    #wrapper{:class => @fixed_width == true ? 'fixed_width' : ''}
      = render '/shared/header'
      #container{:class => @sidebar == false ? 'no_sidebar' : ''}
        #main{:role => "main", :class => @is_reader == true ? 'main_reader' : ''}
          - flash.each do |key, msg|
            %div{id: key}= msg
          = yield
          - if content_for? :main_trailer
            = yield :main_trailer
        = render '/shared/nav_primary'
        - if content_for? :sidebar
          #sidebar
            = yield :sidebar
        - else
          - unless @sidebar == false
            = render '/shared/sidebar'
      = render '/shared/footer'
    - if @reader_menus == true
      = render '/shared/menu_book_chapter'
      - # = render '/shared/menu_version'
      = render_cell :version_selector, :display, {reference: @reference}
    = render '/shared/javascripts'

