!!! 5
%html
  %head{:lang => 'en-us'}
    = csrf_meta_tags
    = render '/shared/head'
  %body
    #wrapper{:class => @fixed_width == true ? 'fixed_width' : ''}
      #header_outer
        = render '/shared/header'
      #container{:class => @sidebar == false ? 'no_sidebar' : ''}
        - flash.each do |key, msg|
          %div{class: "flash_#{key}"}= msg
        #main{:role => "main", :class => @is_reader == true ? 'main_reader' : ''}
          = render '/shared/nav_primary'
          = yield
          - if content_for? :main_trailer
            = yield :main_trailer
        #sidebar
          = render '/shared/sidebar'
      = render '/shared/footer'
    - if @reader_menus == true
      -# = render '/shared/menu_book_chapter'
      = render_cell :book_selector, :display, reference: @reference
      -# = render '/shared/menu_version'
      = render_cell :version_selector, :display, {reference: @reference}
      = render '/shared/menu_bookmark'
      = render '/shared/menu_settings'
      = render '/shared/menu_audio_player'
      = render '/shared/modal_single_verse'
      = render '/shared/modal_share_verse'

    = render '/shared/javascripts'
