- t = Proc.new do |key, options={}|
  - I18n.t(key, options.merge(:locale => @locale))
:ruby
  meta_title        = t("meta.kids_app.title")
  meta_description  = t("meta.kids_app.description")
  meta_url          = "#{request.protocol}#{request.host_with_port}#{request.fullpath}"
  i18n_image_dir  = ""
  i18n_css_class = "en"
  prelaunch = false
  youtube_url = "//www.youtube.com/embed/97YQAoCjpcs?rel=0"
  facebook_locale = "en_US"
  if (I18n.locale.to_s.eql?("es") or I18n.locale.to_s.eql?("es-ES")) then
    i18n_css_class = "es"
    i18n_image_dir = "/es"
    meta_url = "#{request.protocol}#{request.host_with_port}/es/kids"
    facebook_locale = "es_ES"
    youtube_url = "//www.youtube.com/embed/2iWQlDXReYI?rel=0"
    # prelaunch = true
  elsif (I18n.locale.to_s.eql?("zh") or I18n.locale.to_s.eql?("zh-CN")) then
    i18n_css_class = "zh-CN"
    i18n_image_dir = "/zh-CN"
    meta_url = "#{request.protocol}#{request.host_with_port}/zh-CN/kids"
    facebook_locale = "zh_CN"
    youtube_url = ""
    # prelaunch = true
  elsif (I18n.locale.to_s.eql?("ko")) then
    i18n_css_class = "ko"
    i18n_image_dir = "/ko"
    meta_url = "#{request.protocol}#{request.host_with_port}/ko/kids"
    facebook_locale = "ko_KR"
    youtube_url = ""
    # prelaunch = true
  elsif (I18n.locale.to_s.eql?("pt") or I18n.locale.to_s.eql?("pt-BR")) then
    i18n_css_class = "pt-BR"
    i18n_image_dir = "/pt-BR"
    meta_url = "#{request.protocol}#{request.host_with_port}/pt-BR/kids"
    facebook_locale = "pt_BR"
    youtube_url = ""
    # prelaunch = true
  end


!!! 5
%html
  %head
    %title= strip_tags(meta_title)
    %link{rel: "shortcut icon", href:"/favicon.ico"}
    %meta{charset:"utf-8"}
    %meta{name: "viewport",       content: "width=device-width, target-densitydpi=160, initial-scale=1.0"}
    %meta{name: "description",    content: meta_description}
    %meta{name: "url",            content: meta_url}
    %meta{property: "og:title",       content: meta_title }
    %meta{property: "og:url",         content: meta_url }
    %meta{property: "og:description", content: meta_description }
    %meta{property: "og:image", content: "#{url_for(asset_path('BibleAppForKids-icon-200x200.png'))}"}
    %meta{property: "og:image", content: "#{url_for(asset_path('/campaign/kids/hero.png'))}"}
    %meta{property: "og:locale", content: facebook_locale}
    %meta{property: "og:locale:alternate", content: "en_US"}
    %meta{property: "og:locale:alternate", content: "es_ES"}
    %meta{property: "og:locale:alternate", content: "ko_KR"}
    %meta{property: "og:locale:alternate", content: "zh_CN"}
    %meta{property: "og:locale:alternate", content: "pt_BR"}
    %meta{name: "twitter:card",             content: "summary"}
    %meta{name: "twitter:url",              content: meta_url}
    %meta{name: "twitter:title" ,           content: meta_title}
    %meta{name: "twitter:description",      content: meta_description}
    %meta{name: "twitter:image",            content: "#{url_for(asset_path('BibleAppForKids-icon-120x120.png'))}"}
    %meta{name: "twitter:site",             content: "@BibleAppForKids"}
    %link{:href=> "#{request.protocol}#{request.host_with_port}/kids",:rel=>"alternate",:hreflang=>"en"}
    %link{:href=> "#{request.protocol}#{request.host_with_port}/es/kids",:rel=>"alternate",:hreflang=>"es"}
    %link{:href=> "#{request.protocol}#{request.host_with_port}/ko/kids",:rel=>"alternate",:hreflang=>"ko"}
    %link{:href=> "#{request.protocol}#{request.host_with_port}/zh-CN/kids",:rel=>"alternate",:hreflang=>"zh-cn"}
    %link{:href=> "#{request.protocol}#{request.host_with_port}/pt-BR/kids",:rel=>"alternate",:hreflang=>"pt-br"}
    %link{rel: "canonical", href: "#{request.protocol}#{request.host_with_port}/kids"}

    = stylesheet_link_tag "campaigns/kids"
    = javascript_include_tag "//use.typekit.net/mgk8ovf.js"

    :javascript
      try{Typekit.load();}catch(e){}

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3571547-76']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_setDomainName', 'bible.com']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{:class => "body-" + i18n_css_class}

    .kids

      -# !Logo and intro copy
      -# This is way too hackish, but it works for now I suppose
      - if (I18n.locale.to_s.eql?("ko") or I18n.locale.to_s.eql?("ko-KR") or I18n.locale.to_s.eql?("zh") or I18n.locale.to_s.eql?("zh-CN") or I18n.locale.to_s.eql?("pt") or I18n.locale.to_s.eql?("pt-BR"))
        %h1.intro-bible
          = image_tag "campaigns/kids#{i18n_image_dir}/logos-bafk.png", alt: meta_title
        .intro-forkids
          %h2.intro-for
            &nbsp;
          %h2.intro-kids
            &nbsp;
      - else
        %h1.intro-bible
          = t.call('kids.bible app')
        .intro-forkids
          %h2.intro-for
            = t.call('kids.for')
          %h2.intro-kids
            = t.call('kids.kids')

      %h3.intro-yv
        = t('kids.by youversion')

      %img.intro-icon{ src: "/assets/campaigns/kids/app-icon.png", alt: t('kids.app icon')}

      %p.intro-help
        = t('kids.help your kids')

      %img.intro-img{ src: "/assets/campaigns/kids/hdr-jesus.png", alt: t('kids.jesus and friends')}

      %p.intro-coming
        = t('kids.free download')

      -# !App store buttons
      - if not prelaunch
        .download
          %a.download-ios{href: t('kids.links.apple'), style: "background: #111 url('/assets/campaigns/kids#{i18n_image_dir}/ios-appstore-badge.png') no-repeat center center"}
            = t('kids.app store')
          %a.download-play{href: t('kids.links.google'), style: "background: #111 url('/assets/campaigns/kids#{i18n_image_dir}/play-appstore-badge.png') no-repeat center center"}
            = t('kids.google play')
          %a.download-amazon{href: t('kids.links.amazon'), style: "background: #111 url('/assets/campaigns/kids#{i18n_image_dir}/amazon-appstore-badge.png') no-repeat center center"}
            = t('kids.amazon')

      -# !iPad hero screenshot
      -#- if not i18n_image_dir.present?
      .hero
        = image_tag "campaigns/kids#{i18n_image_dir}/hero.png", class: "hero-screen", alt: t.call('kids.story text 1')
        - if youtube_url.present?
          .youtube-embed
            %iframe{width:"805", height:"607", src: "#{youtube_url}", frameborder: "0", allowfullscreen: "true"}

        %p.hero-copy
          = t('kids.interact text')

      - if youtube_url.present?
        .youtube-mobile
          %iframe{width:"100%", height:"auto", src: "#{youtube_url}", frameborder: "0", allowfullscreen: "true"}

      -#- else
      -#  .alt-hero
      -#    = image_tag "campaigns/kids#{i18n_image_dir}/hero.png", class: "alt-hero-screen", alt: t('kids.bible app')
      -#    %p.hero-copy
      -#      = t('kids.interact text')

      -# !Smaller screenshots

      .screens
        = image_tag "campaigns/kids#{i18n_image_dir}/screens-1.jpg", alt: t('kids.story text 2')
        = image_tag "campaigns/kids/screens-2.jpg", alt: t('kids.story text 3')
        = image_tag "campaigns/kids/screens-3.jpg", alt: t('kids.story text 4')
        = image_tag "campaigns/kids/screens-4.jpg", alt: t('kids.story text 5')

      -# !Features list

      .features
        %p.features-1
          != t('kids.feature 1')
        %p.features-2
          != t('kids.feature 2')
        %p.features-3
          != t('kids.feature 3')
        %p.features-4
          != t('kids.feature 4')
        %p.features-5
          != t('kids.feature 5')

      / -# !App store buttons
      / .download
      /   %a.download-ios{href: "#"}
      /     Available on the App store
      /   %a.download-play{href: "#"}
      /     Get it on Google Play
      /   %a.download-amazon{href: "#"}
      /     Available at Amazon Appstore for Android


      -# !Share chunk

      = render "campaigns/kids/share"

    -# !Brought to you by

    .logos
      .logos-box
        %a{href: "http://bible.com"}
          = image_tag "campaigns/kids#{i18n_image_dir}/logos-yv.png", class: "logos-yv", alt: t('kids.partner.youversion')
        %p.logos-copy
          = t('kids.partner.in partnership')
        %a{href: "http://onehope.net"}
          = image_tag "campaigns/kids#{i18n_image_dir}/logos-oh.png", class: "logos-oh", alt: t('kids.partner.one hope')

    -# !Retina JS

    = javascript_include_tag "retina.js"