- # sub template should define a @setting_selected variable with allowed values of:
- # :edit, :notifications, :email, :password, :devices, :account
- # found in users/_mobile_menu partial

- current_user ||= @user

- content_for :title do
  = t('users.settings')

- content_for :sidebar do
  = render partial: "widgets/settings"

= render layout: "layouts/base" do
  
  %div.settings-header
    - if current_user.present?
      %img.settings-header-avatar{src: current_user.user_avatar_url["px_128x128"]}
      %h1.settings-header-name
        = current_user.name
      %a{href: user_path(current_user)} 
        = t('users.go to your profile')

  %article
    = render partial: "users/mobile_menu", locals: {selected: @setting_selected}
    = yield