- @title = @user.name || @user.username if @user

- @sidebar = false


- if @me
  - content_for :mobile_right_nav do
    %a.settings_btn{:href => settings_profile_path}

- content_for :main do

  %section.top_section
    .profile-hdr
      %img.avatar_huge{src: (@user.user_avatar_url["px_128x128"] if @user.user_avatar_url)}

      - if @me
        %form{action: edit_user_path(@user)}
          %button.profile-hdr-btn= t("users.profile.edit")
      %h1.profile-hdr-name= @user.name || @user.username

      %ul.profile-hdr-info
        - if @user.name
          %li.profile-hdr-info-user
            = @user.username
        - if @user.location
          %li.profile-hdr-info-location
            = @user.location
        - if @user.website
          %li.profile-hdr-info-link
            = link_to @user.website_human, @user.website_url

      - if @user.bio
        %p.profile-hdr-info-about
          = @user.bio

    %ul.header_tabs
      %li.profile
        %a{href: user_path(@user)}
          %span Profile
      %li.notes
        %a{href: notes_user_path(@user)}
          %span= t('notes title')
      %li.bookmarks
        %a{href: bookmarks_user_path(@user)}
          %span= t('bookmarks.title')
      %li.highlights
        %a{href: highlights_user_path(@user)}
          %span Highlights
      %li.badges
        %a{href: badges_user_path(@user)}
          %span= t('badges title')

  %article.profile
    - title = t("users.edit #{@selected}")
    .mobile
      %dl.tabs
        %dd{class: ('highlighted' if @selected == :profile)}
          = link_to t("users.edit profile"), settings_profile_path
        %dd{class: ('highlighted' if @selected == :password)}
          = link_to t("users.edit password"), settings_password_path
        %dd{class: ('highlighted' if @selected == :notifications)}
          = link_to t("users.edit notifications"), notification_settings_path
        %dd{class: ('highlighted' if @selected == :connections)}
          = link_to t("users.edit connections"), settings_connections_path

      -unless content_for? :title
        - content_for :title do
          = title

    = content_for?(:user_main) ? yield(:user_main) : yield

= render template: 'layouts/application'
