- @sidebar = false


- if current_user_is? @user
  - content_for :mobile_right_nav do
    %a.settings_btn{:href => settings_profile_path}

- content_for :main do

  %section.top_section
    .profile-hdr
      %img.avatar_huge{src: (@user.user_avatar_url["px_128x128"] if @user.user_avatar_url)}

      %h1.profile-hdr-name= @user.name || @user.username

      %ul.profile-hdr-info
        - if user_name = @user.username
          %li.profile-hdr-info-user
            = user_name
        - if user_location = @user.location
          %li.profile-hdr-info-location
            = user_location
        - if @user.website
          %li.profile-hdr-info-link
            = link_to @user.website_human, @user.website_url

      - if @user.bio
        %p.profile-hdr-info-about
          = @user.bio

      - # This is me, show the edit button
      - if current_user_is? @user
        = link_to t("users.edit profile"), edit_user_path(@user), class: "profile-hdr-btn action_button_blue", title: t("users.edit profile")

      - else # Check to see if this person is in my pending lists

        -     friendship_pending_type = Friendships.pending_type_for(@user, auth: current_auth)
        - if  friendship_pending_type.present?

          - if friendship_pending_type == :incoming # this person has requested friendship with me
            = form_tag friendships_url(user_id: @user.id) do
              = button_tag t("friendships.form.accept request button"), class: 'profile-hdr-accept action_button_green action-add' 

            = form_tag friendship_url(@user.id), method: "DELETE" do
              = button_tag t("friendships.form.ignore request button"), class: 'profile-hdr-deny action_button_grey action-ignore'

          - elsif friendship_pending_type == :outgoing  # I have requested friendship with this person
            %span.profile-hdr-pending
              = t("friendships.status.pending")

        - elsif Friend.with? @user, auth: current_auth # I am friends with this user
          %span.profile-hdr-friend
            = t("friendships.status.friends")

        - else # This user isn't me, they aren't in my pending lists, and I'm not friends with them show the Request friendship button
          = form_tag offer_friendships_path(user_id: @user.id) , method: :post do
            = submit_tag t("friendships.form.add friend button"), class: "profile-hdr-addfriend action_button_green", title: t("friendships.form.add friend button title", user: @user.name)

    - # find the highlight method in /app/helpers/users_helper.rb
    %ul.profile-tabs
      %li.profile-tabs-activity{class: highlight(user_path)}
        %a{href: user_path(@user)}
          %span= t("users.profile.tab activity")

      %li.profile-tabs-friends{class: highlight(friends_user_path)}
        %a{href: friends_user_path(@user)}
          %span= t("users.profile.tab friends")

      %li.profile-tabs-notes{class: highlight(notes_user_path)}
        %a{href: notes_user_path(@user)}
          %span= t("users.profile.tab notes")

      %li.profile-tabs-bookmarks{class: highlight(bookmarks_user_path)}
        %a{href: bookmarks_user_path(@user)}
          %span= t("users.profile.tab bookmarks")

      %li.profile-tabs-highlights{class: highlight(highlights_user_path)}
        %a{href: highlights_user_path(@user)}
          %span= t("users.profile.tab highlights")

      %li.profile-tabs-badges{class: highlight(badges_user_path)}
        %a{href: badges_user_path(@user)}
          %span= t("users.profile.tab badges")

  %article.profile
    = content_for?(:user_main) ? yield(:user_main) : yield

= render template: 'layouts/application'
