- @title = @user.name || @user.username if @user

- unless content_for?(:sidebar)
  - content_for :sidebar do
    - if @me
      = render partial: "widgets/settings" unless [:recent_activity, :bookmarks, :notes].find{|rsrc| rsrc == @selected}
    = render partial: "widgets/badges" unless @user.badges.blank?

- if @me
  - content_for :mobile_right_nav do
    %a.settings_btn{:href => settings_profile_path}

- content_for :main do

  - unless @me

    %section.top_section.clearfix
      .profile_header
        - if @user.user_avatar_url
          %img.avatar_huge{src: @user.user_avatar_url["px_128x128"]}

        - if @me
          %form{action: edit_user_path(@user)}
            %button.float_right= t("users.profile.edit")
        %h1= @user.name || @user.username

      .profile_info
        %ul.float_left
          - if @user.name
            %li.icon_small_user= @user.username
          - if @user.location
            %li.icon_small_location= @user.location
          - if @user.website
            %li.icon_small_link= link_to @user.website_human, @user.website_url
          - if @user.bio
            %li.icon_small_about= @user.bio

    %ul.header_tabs
      %li.activity{class: ("highlighted" if @selected == :recent_activity)}
        %a{href: user_path(@user)}
          %span= t('users.recent activity')
      %li.notes{class: ("highlighted" if @selected == :notes)}
        %a{href: user_notes_path(@user)}
          %span= t('notes title')
      %li.bookmarks{class: ("highlighted" if @selected == :bookmarks)}
        %a{href: user_bookmarks_path(@user)}
          %span= t('bookmarks.title')
      %li.badges{class: ("highlighted" if @selected == :badges)}
        %a{href: user_badges_path(@user)}
          %span= t('badges title')

  %article.profile
    - if @me
      - if @selected == :recent_activity || @selected == :notes || @selected == :badges
        %h1{class: @selected == :notes ? "float_left" : ""}= t("users.my #{@selected.to_s}")
      - else
        - title = t("users.edit #{@selected}")
        %h1= title
        .mobile
          %dl.tabs
            %dd{class: ('highlighted' if @selected == :profile)}
              = link_to t("users.edit profile"), settings_profile_path
            %dd{class: ('highlighted' if @selected == :password)}
              = link_to t("users.edit password"), settings_password_path
            %dd{class: ('highlighted' if @selected == :notifications)}
              = link_to t("users.edit notifications"), notification_settings_path
            %dd{class: ('highlighted' if @selected == :connections)}
              = link_to t("users.edit connections"), settings_connections_path

      -unless content_for? :title
        - content_for :title do
          = title

    = content_for?(:user_main) ? yield(:user_main) : yield

= render template: 'layouts/application'
